<!--  -->
<template>
	<div class="app-sub-card">
		<el-card>
			<div slot="header" class="clearfix" style="min-height: 38px">
				<span class="label">{{ label }}</span>
				<div style="float: right; padding: 3px 0">
					<slot name="button" />
				</div>
				<div class="right_waper"><slot name="left" /></div>
			</div>

			<slot></slot>

			<div class="options" v-if="option">
				<slot name="option" />
			</div>
		</el-card>
	</div>
</template>

<script>
export default {
	props: {
		label: { type: String, default: '' },
		option: { type: Boolean, default: false },
	},
	data() {
		return {};
	},
};
</script>
<style lang="scss" scoped>
.app-sub-card {
	::v-deep .el-card__header {
		padding: 10px 20px;
	}

	.clearfix {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		.label {
			font-weight: 500;
		}
	}

	.right_waper {
		margin-left: 20px;
	}

	.options {
		width: 100%;
		margin-top: 20px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}
</style>
