<template>
	<transition name="fade-transform" mode="out-in">
		<keep-alive :include="cachedViews">
			<router-view :key="key" />
		</keep-alive>
	</transition>
</template>

<script>
export default {
	name: 'AppMain',
	computed: {
		key() {
			return this.$route.path;
		},
		cachedViews() {
			return this.$store.state.tagsView.cachedViews;
		},
	},
};
</script>

<style lang="scss" scoped></style>

<style lang="scss">
// fix css style bug in open el-dialog
.el-popup-parent--hidden {
	.fixed-header {
		padding-right: 15px;
	}
}
</style>
