<template>
  <div class="Header">
    <div class="logo">
      <img :src="require('@/assets/base/logoSie.png')" alt />
      <!-- <img :src="require('@/assets/base/title.png')" alt /> -->
    </div>
    <div class="Header_left">
      <!-- <div class="title">人才发展系统</div> -->
      <!-- 展开闭合左边导航栏 -->
      <!-- <aside-icon /> -->
      <!-- 导航 -->
      <el-menu
        :default-active="activeMenu"
        class="el-menu-vertical-demo"
        active-text-color="#1d68f2"
        :router="true"
        mode="horizontal"
      >
        <el-menu-item index="/staffSelfHelp"> 员工自助 </el-menu-item>
        <el-menu-item index="/manageTerrace"> 管理者平台 </el-menu-item>
        <el-menu-item index="/workHR"> HR工作台 </el-menu-item>
      </el-menu>
    </div>
    <div class="Header_right">
      <!-- <el-autocomplete class="inline-input" v-model="search_text" :fetch-suggestions="querySearch" placeholder="请输入页面名称"
        :trigger-on-focus="false" @select="handleSelect">
        <i class="el-icon-search el-input__icon" slot="suffix"></i>
      </el-autocomplete>
      <div class="icon" @click="$route.path != '/tabs' && $router.push('/tabs')">
        <el-tooltip class="item" effect="dark" content="消息提示" placement="bottom">
          <el-badge is-dot class="item">
            <i class="iconfont icon-xiaoxi1" style="font-size: 20px; color: #333"></i>
          </el-badge>
        </el-tooltip>
      </div> -->

      <!-- <div class="icon" @click="fullScreen">
				<el-tooltip class="item" effect="dark" content="全屏" placement="bottom">
					<i class="iconfont icon-quanping" style="font-size: 20px; color: #333"></i>
				</el-tooltip>
			</div> -->
      <!-- 右上角头像 -->
      <el-dropdown @command="removeToken">
        <div class="el-dropdown-link">
          <i class="el-icon-s-custom"></i>
          <span style="margin-right: 6px">
            {{ $store.getters.userInfo.name || "匿名用户" }}
          </span>
          <i class="el-icon-caret-bottom"></i>
        </div>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item icon="el-icon-back" :command="'loginOut'"
            >退出登录</el-dropdown-item
          >
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<script>
//import AsideIcon from '@/components/AsideIcon';
import { removeLocalStorage, setLocalStorage } from "@/utils/cache";
export default {
  data() {
    return {
      breadcrumbList: [],
      search_text: "",
      route_flat: [],
    };
  },
  computed: {
    activeMenu() {
      const route = this.$route;
      const { path } = route;
      return path;
    },
  },
  watch: {
    $route: {
      handler() {
        this.getBreadcrumb();
      },
      immediate: true,
    },
  },
  created() {
    //this.$store.dispatch("user/getUserInfo");

    // 路由数据扁平化
    function recursion(arr) {
      arr.forEach((v) => {
        if (v.children) {
          this.route_flat.push({ value: v.meta.title, path: v.redirect });
          recursion.call(this, v.children);
        } else {
          this.route_flat.push({ value: v.meta.title, path: v.path });
        }
      });
    }
  },
  methods: {
    querySearch(queryString, cb) {
      var route_flat = this.route_flat;
      var results = queryString
        ? route_flat.filter(this.createFilter(queryString))
        : route_flat;
      results.length || (results = [{ value: "找不到相关页面" }]);
      cb(results);
    },
    createFilter(queryString) {
      return (restaurant) => {
        return restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) != -1;
      };
    },
    // 点击建议列表项
    handleSelect(item) {
      item.path == this.$route.path || this.$router.push(item.path);
      this.search_text = "";
    },
    // 全屏
    fullScreen() {
      var explorer = window.navigator.userAgent.toLowerCase();
      if (explorer.indexOf("chrome") > 0) {
        //webkit
        if (
          document.body.scrollHeight === window.screen.height &&
          document.body.scrollWidth === window.screen.width
        ) {
          exitFullscreen.call(this);
        } else {
          enterFullscreen.call(this);
        }
      } else {
        //IE 9+  fireFox
        if (
          window.outerHeight === window.screen.height &&
          window.outerWidth === window.screen.width
        ) {
          exitFullscreen.call(this);
        } else {
          enterFullscreen.call(this);
        }
      }
      function enterFullscreen() {
        var docElm = document.documentElement;
        //W3C
        if (docElm.requestFullscreen) {
          docElm.requestFullscreen();
        }
        //FireFox
        else if (docElm.mozRequestFullScreen) {
          docElm.mozRequestFullScreen();
        }
        //Chrome等
        else if (docElm.webkitRequestFullScreen) {
          docElm.webkitRequestFullScreen();
        }
        //IE11
        else if (docElm.msRequestFullscreen) {
          docElm.msRequestFullscreen();
        }
      }
      function exitFullscreen() {
        //W3C
        if (document.exitFullscreen) {
          document.exitFullscreen();
        }
        //FireFox
        else if (document.mozCancelFullScreen) {
          document.mozCancelFullScreen();
        }
        //Chrome等
        else if (document.webkitCancelFullScreen) {
          document.webkitCancelFullScreen();
        }
        //IE11
        else if (document.msExitFullscreen) {
          document.msExitFullscreen();
        }
      }
    },
    getBreadcrumb() {
      this.breadcrumbList = this.$route.matched.filter(
        (item) => item.meta && item.meta.title
      );
    },

    async removeToken(type) {
      if (type === "loginOut") {
        removeLocalStorage("X-Token");
        this.$store.commit("user/set_baseInfo", {});
        this.$router.push({ path: "/login" });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.Header {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #247fff;
  border-bottom: 1px solid #f1f2f3;
  padding: 0 20px;
  .Header_left {
    height: 100%;
    margin-left: 60px;
  }
  // box-shadow: 2px -1px 3px -2px #000000 inset !important;
  .logo {
    // width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    img {
      height: 40px;
    }
  }

  &_left {
    display: flex;
    align-items: center;

    .el-breadcrumb {
      margin-left: 5px;
      flex-shrink: 0;
    }
  }

  &_right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;

    .icon,
    .el-autocomplete {
      margin-right: 15px;
    }

    .el-dropdown {
      &-link {
        display: flex;
        align-items: center;

        img {
          height: 40px;
          border-radius: 5px;
          display: block;
          margin-right: 6px;
        }
      }
    }
  }
}
.el-dropdown-link {
  padding-right: 20px;
  cursor: pointer;
  .el-icon-s-custom {
    font-size: 18px;
    margin-right: 6px;
  }
}
</style>
<style lang="scss">
/* 头部搜索款变圆角边框 */
.el-autocomplete input {
  border-radius: 16px;
}
.Header_left {
  .el-menu {
    background: transparent;
  }
  .el-menu.el-menu--horizontal {
    height: 100%;
    border-bottom: 0;
    > .el-menu-item {
      height: 100%;
      line-height: 70px;
      font-size: 16px;
      color: #fff;
      &.is-active {
        border-bottom-color: transparent !important;
        background: #085dd4;
        color: #fff !important;
      }
    }
    > .el-menu-item:hover {
      background: #085dd4;
      color: #fff !important;
    }
  }
}
@media screen and (max-width: 800px) {
  /* 头部搜索框隐藏 */
  .el-autocomplete {
    display: none !important;
  }
}

@media screen and (max-width: 700px) {
  /* 面包屑导航隐藏 */
  .Header .Header_left .el-breadcrumb {
    display: none;
  }

  /* 左侧导航栏隐藏 */
  .el-aside > .Aside {
    display: none;
  }
  .Header .Header_left .AsideIcon {
    display: none;
  }

  .Main .AsideIcon {
    display: block !important;
  }
}
</style>
