<template>
  <el-container class="index" v-if="$route.path.indexOf('questionnaire') == -1">
    <!-- <el-aside
      :style="'background-color:' + $store.state.app.$vt_a"
      class="aside"
    >
      <Aside />
    </el-aside> -->
    <div class="index_right">
      <el-header>
        <Header />
      </el-header>
      <el-container>
        <el-main>
          <!-- <tag-views></tag-views> -->
          <!-- <NavigationBar /> -->
          <Main />
        </el-main>
      </el-container>
    </div>
  </el-container>
  <el-container class="index questionnaire" v-else>
    <router-view :key="$route.path" />
  </el-container>
</template>

<script>
import { Header, Aside, Main } from "./index.js";
// import tagViews from './tagsView/index.vue'
export default {
  components: {
    Header,
    Aside,
    Main,
    // NavigationBar, tagViews
  },
  mounted() {
    console.log(2222222222);
  },
};
</script>

<style lang="scss" scoped>
$dt_a: #41b883;
$dt_b: #41b8838a;
$dt_c: #41b88300;
$vt_a: #35495e;
$vt_b: #35495e83;
$vt_c: #35495e00;

.index {
  height: 100vh;
  overflow: hidden;

  &.questionnaire {
    height: auto;
  }
  .aside {
    width: auto !important;
  }
  .index_right {
    width: 100%;
    > .el-header {
      height: 70px !important;
      padding: 0;
    }
  }
  .index_right .el-container {
    overflow: hidden;
    height: 90vh;

    > .el-main {
      // border-top: 1px solid #545c643f;
      padding: 0;
      margin: 0;
      position: relative;
      display: flex;
      flex-flow: column;
      height: 100%;

      // overflow: hidden;
      .Main {
        flex: 1;
        overflow-y: auto;

        > div {
          padding: 15px;
        }
      }
    }
  }
}
</style>
<style>
.el-main .Main > div {
  padding: 20px 25px;
  box-sizing: border-box;
}

.el-main .Main .AsideIcon,
.el-main .Main .el-drawer__wrapper {
  padding: 0;
}
</style>