<!-- 可以使用自定义 -->
<template>
	<el-slider v-model="currentValue" range :max="max" :min="min"> </el-slider>
</template>
<script>
//suffix | prefix
export default {
	name: 'appInput',
	props: {
		value: [Array],
		min: { type: Number, default: 0 },
		max: [Number],
	},
	computed: {
		currentValue: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit('input', value);
			},
		},
	},
};
</script>

<style lang="scss" scoped>
.icon {
	cursor: pointer;
}
</style>
