<template>
  <div class="manageTerrace-personal">
    <div class="left-part">
      <org-search></org-search>
    </div>

    <div class="right-part">
      <el-row :gutter="20">
        <el-col :span="8"
          ><el-card class="box-card">
            <div class="height392" @click="eduStatisticsDialogVisible = true">
              <model-title title="学历统计"></model-title>
              <app-charts class="chartsHeight350" v-model="eduStatistics" />
            </div> </el-card
        ></el-col>
        <el-col :span="8"
          ><el-card class="box-card">
            <div class="height392" @click="workStatisticsDialogVisible = true">
              <model-title title="工龄统计"></model-title>
              <app-charts class="chartsHeight350" v-model="eduStatistics" />
            </div> </el-card
        ></el-col>
        <el-col :span="8"
          ><el-card class="box-card">
            <div class="height392">
              <model-title title="政治面貌统计"></model-title>
              <app-charts class="chartsHeight350" v-model="eduStatistics" />
            </div> </el-card
        ></el-col>
      </el-row>
      <el-row :gutter="20" style="margin-top: 20px">
        <el-col :span="12"
          ><el-card class="box-card">
            <div class="height392" @click="technologyDialogVisible = true">
              <model-title title="专业技术职务统计"></model-title>
              <app-charts class="chartsHeight300" v-model="specialityStatistics" />
            </div> </el-card
        ></el-col>
        <el-col :span="12"
          ><el-card class="box-card">
            <div class="height392" @click="skillDialogVisible = true">
              <model-title title="技能等级统计"></model-title>
              <app-charts class="chartsHeight300" v-model="specialityStatistics" />
            </div> </el-card
        ></el-col>
      </el-row>
      <el-row :gutter="20" style="margin-top: 20px">
        <el-col :span="10"
          ><el-card class="box-card">
            <div class="height392" @click="ageDialogVisible = true">
              <model-title title="平均年龄统计"></model-title>
              <app-charts class="chartsHeight350" v-model="ageStatistics" />
            </div> </el-card
        ></el-col>
        <el-col :span="7"
          ><el-card class="box-card">
            <div class="height392" @click="rankSequenceDialogVisible = true">
              <model-title title="职级结构统计"></model-title>
              <app-charts class="chartsHeight350" v-model="rankStatistics" />
            </div> </el-card
        ></el-col>
        <el-col :span="7"
          ><el-card class="box-card">
            <div class="height392" @click="rankSequenceDialogVisible = true">
              <model-title title="序列分布统计"></model-title>
              <app-charts class="chartsHeight350" v-model="rankStatistics" />
            </div> </el-card
        ></el-col>
      </el-row>
    </div>
    <app-dialog
      title="学历统计"
      v-model="eduStatisticsDialogVisible"
      width="65%"
      :isBtn="false"
    >
      <app-table
        :data="[]"
        :col-configs="eduStatisticsColConfigs"
        row-key="id"
        empty-text="暂无数据"
      >
      </app-table>
    </app-dialog>
    <app-dialog
      title="工龄统计"
      v-model="workStatisticsDialogVisible"
      width="65%"
      :isBtn="false"
    >
      <app-table
        :data="[]"
        :col-configs="workStatisticsColConfigs"
        row-key="id"
        empty-text="暂无数据"
      >
      </app-table>
    </app-dialog>
    <app-dialog
      title="专业技术职务"
      v-model="technologyDialogVisible"
      width="65%"
      :isBtn="false"
    >
      <app-table
        :data="[]"
        :col-configs="technologyColConfigs"
        row-key="id"
        empty-text="暂无数据"
      >
      </app-table>
    </app-dialog>
    <app-dialog title="技能等级" v-model="skillDialogVisible" width="65%" :isBtn="false">
      <app-table
        :data="[]"
        :col-configs="skillColConfigs"
        row-key="id"
        empty-text="暂无数据"
      >
      </app-table>
    </app-dialog>
    <app-dialog title="年龄结构" v-model="ageDialogVisible" width="65%" :isBtn="false">
      <app-table
        :data="[]"
        :col-configs="ageColConfigs"
        row-key="id"
        empty-text="暂无数据"
      >
      </app-table>
    </app-dialog>
    <app-dialog
      title="职级、序列结构"
      v-model="rankSequenceDialogVisible"
      width="65%"
      :isBtn="false"
    >
      <app-table
        :data="[]"
        :col-configs="rankSequenceColConfigs"
        row-key="id"
        empty-text="暂无数据"
      >
      </app-table>
    </app-dialog>
  </div>
</template>
<script>
import appTable from "@/components/base/appTable";
import appDialog from "@/components/base/appDialog";
import orgSearch from "./orgSearch";
import appCharts from "@/components/base/appCharts";
import modelTitle from "@/pages/components/modelTitle.vue";
export default {
  components: { orgSearch, appCharts, modelTitle, appTable, appDialog },
  data() {
    return {
      eduStatisticsDialogVisible: false,
      workStatisticsDialogVisible: false,
      technologyDialogVisible: false,
      skillDialogVisible: false,
      ageDialogVisible: false,
      rankSequenceDialogVisible: false,
    };
  },
  computed: {
    eduStatisticsColConfigs() {
      return [
        { prop: "emplId", label: "公司" },
        { prop: "emplName", label: "员工编号" },
        { prop: "age", label: "姓名" },
        { prop: "companyName", label: "处室" },
        { prop: "companyName", label: "科室" },
        { prop: "emplName", label: "岗位" },
        { prop: "age", label: "毕业院校" },
        { prop: "companyName", label: "所学专业" },
        { prop: "companyName", label: "学历" },
        { prop: "companyName", label: "学历区间" },
      ];
    },
    workStatisticsColConfigs() {
      return [
        { prop: "emplId", label: "公司" },
        { prop: "emplName", label: "员工编号" },
        { prop: "age", label: "姓名" },
        { prop: "companyName", label: "处室" },
        { prop: "companyName", label: "科室" },
        { prop: "emplName", label: "岗位" },
        { prop: "age", label: "参与工作的时间" },
        { prop: "companyName", label: "工龄" },
        { prop: "companyName", label: "工龄区间" },
      ];
    },
    technologyColConfigs() {
      return [
        { prop: "emplId", label: "公司" },
        { prop: "emplName", label: "员工编号" },
        { prop: "age", label: "姓名" },
        { prop: "companyName", label: "处室" },
        { prop: "companyName", label: "科室" },
        { prop: "emplName", label: "岗位" },
        { prop: "age", label: "资质类别" },
        { prop: "companyName", label: "资质名称" },
        { prop: "companyName", label: "资格级别" },
      ];
    },
    skillColConfigs() {
      return [
        { prop: "emplId", label: "公司" },
        { prop: "emplName", label: "员工编号" },
        { prop: "age", label: "姓名" },
        { prop: "companyName", label: "处室" },
        { prop: "companyName", label: "科室" },
        { prop: "emplName", label: "岗位" },
        { prop: "age", label: "资质类别" },
        { prop: "companyName", label: "资质名称" },
        { prop: "companyName", label: "资格级别" },
      ];
    },
    ageColConfigs() {
      return [
        { prop: "emplId", label: "公司" },
        { prop: "emplName", label: "员工编号" },
        { prop: "age", label: "姓名" },
        { prop: "companyName", label: "处室" },
        { prop: "companyName", label: "科室" },
        { prop: "emplName", label: "岗位" },
        { prop: "age", label: "性别" },
        { prop: "companyName", label: "出生日期" },
        { prop: "companyName", label: "年龄" },
        { prop: "companyName", label: "年龄区间" },
      ];
    },
    rankSequenceColConfigs() {
      return [
        { prop: "emplId", label: "公司" },
        { prop: "emplName", label: "员工编号" },
        { prop: "age", label: "姓名" },
        { prop: "companyName", label: "处室" },
        { prop: "companyName", label: "科室" },
        { prop: "emplName", label: "岗位" },
        { prop: "age", label: "所属序列" },
        { prop: "companyName", label: "岗位等级" },
        { prop: "companyName", label: "职级" },
      ];
    },
    //学历统计
    eduStatistics() {
      return {
        title: {
          text: "总人数", // 主标题
          x: "35%",
          y: "center",
          textStyle: {
            // 主标题样式
            fontSize: "18",
            // color: "#06A17E",
            fontweight: "normal",
          },
          subtext: " 262", // 副标题
          subtextStyle: {
            // 副标题样式
            // color: 'red',
            fontSize: 18,
            fontWeight: "normal",
          },
        },
        tooltip: {
          trigger: "item",
        },
        legend: {
          top: "center",
          right: "right",
        },
        series: [
          {
            type: "pie",
            radius: ["46%", "60%"],
            center: ["40%", "50%"],
            avoidLabelOverlap: false,
            label: {
              show: true,
              position: "outside",
              formatter: "{d}%",
            },

            labelLine: {
              // show: false,
            },
            data: [
              { value: 1048, name: "Search Engine" },
              { value: 735, name: "Direct" },
              { value: 580, name: "Email" },
              { value: 484, name: "Union Ads" },
              { value: 300, name: "Video Ads" },
            ],
          },
        ],
      };
    },
    //专业技术职务统计
    specialityStatistics() {
      return {
        tooltip: {
          trigger: "item",
        },

        series: [
          {
            type: "pie",
            avoidLabelOverlap: false,
            label: {
              show: true,
              position: "outside",
              formatter: "{b}: {c} {d}%",
            },

            labelLine: {
              // show: false,
            },
            data: [
              { value: 1048, name: "Search Engine" },
              { value: 735, name: "Direct" },
              { value: 580, name: "Email" },
              { value: 484, name: "Union Ads" },
              { value: 300, name: "Video Ads" },
            ],
          },
        ],
      };
    },
    //平均年龄统计
    ageStatistics() {
      return {
        color: ["#EFA90D", "#006BB0", "#059341", "#DC2F1F"], // 柱子的颜色，几个柱子就可以设置几个颜色
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            label: {
              backgroundColor: "#6a7985",
            },
          },
        },
        legend: {
          bottom: 8,
          itemWidth: 10,
          itemHeight: 10,
          data: ["药品费", "耗材费", "检验检查费", "其他费", "耗材费偏差级别"],
        },
        grid: {
          left: "3%",
          right: "4%",
          top: "3%",
          containLabel: true,
        },
        xAxis: [
          {
            type: "category",
            axisLabel: {
              color: "#999999",
            },
            axisLine: { show: false },
            axisTick: { show: false },
            boundaryGap: ["20%", "20%"],
            data: [
              "一月",
              "二月",
              "三月",
              "四月",
              "五月",
              "六月",
              "七月",
              "八月",
              "九月",
              "十月",
              "十一月",
              "十二月",
            ],
          },
        ],
        yAxis: [
          {
            type: "value",
            name: "均费",
            nameTextStyle: {
              color: "#999999",
            },
            axisLine: { show: false },
            axisTick: { show: false },
            axisLabel: {
              margin: 2,
              interval: 15,
              color: "#999999",
            },
          },
          {
            type: "value",
            name: "增长率(%)",
            nameTextStyle: {
              color: "#999999",
            },
            splitLine: { show: false }, //去除网格线
            axisLine: { show: false },
            axisTick: { show: false },
            axisLabel: {
              margin: 2,
              interval: 15,
              color: "#999999",
            },
          },
        ],
        series: [
          {
            name: "药品费",
            type: "bar", // 这个是柱状图的类型，设置成这个就是柱状图
            barWidth: 20, // 柱子的宽度，设置一个就行了，别的也会采用这个宽度
            stack: "Ad", // 设置这个就会成为堆叠柱状图
            data: [4, 4, 5, 3, 3, 3, 3, 3, 3, 3, 3, 3],
          },
          {
            name: "耗材费",
            type: "bar",
            stack: "Ad",
            data: [4, 4, 5, 3, 3, 3, 3, 3, 3, 3, 3, 3],
          },
          {
            name: "检验检查费",
            type: "bar",
            stack: "Ad",
            data: [4, 4, 5, 3, 3, 3, 3, 3, 3, 3, 3, 3],
          },
          {
            name: "其他费",
            type: "bar",
            stack: "Ad",
            data: [4, 4, 5, 3, 3, 3, 3, 3, 3, 3, 3, 3],
          },
          {
            name: "耗材费偏差级别",
            type: "line",
            smooth: true,
            color: ["#006BB0"], //折线条的颜色
            yAxisIndex: 1,
            itemStyle: {
              shadowBlur: 2,
            },
            data: [20, 40, 40, 60, 10, 20, 30, 15, 16, 15, 15, 15],
          },
        ],
      };
    },
    //职级结构统计
    rankStatistics() {
      return {
        title: {
          text: "总人数", // 主标题
          x: "center",
          y: "center",
          textStyle: {
            // 主标题样式
            fontSize: "18",
            // color: "#06A17E",
            fontweight: "normal",
          },
          subtext: " 262", // 副标题
          subtextStyle: {
            // 副标题样式
            // color: 'red',
            fontSize: 18,
            fontWeight: "normal",
          },
        },
        tooltip: {
          trigger: "item",
        },
        legend: {
          bottom: "bottom",
          right: "16",
          left: "16",
          type: "scroll",
        },
        series: [
          {
            type: "pie",
            radius: ["46%", "60%"],
            center: ["50%", "50%"],
            avoidLabelOverlap: false,
            label: {
              show: true,
              position: "outside",
              formatter: "{d}%",
            },

            labelLine: {
              // show: false,
            },
            data: [
              { value: 1048, name: "Search Engine" },
              { value: 735, name: "Direct" },
              { value: 580, name: "Email" },
              { value: 484, name: "Union Ads" },
              { value: 300, name: "Video Ads" },
            ],
          },
        ],
      };
    },
  },
};
</script>
<style lang="scss" scoped>
.manageTerrace-personal {
  //padding-left: 300px;
  padding-top: 20px;
  display: flex;
  .left-part {
    //position: fixed;
    padding: 12px;
    box-sizing: border-box;
    width: 270px;
    height: 300px;
    border-radius: 8px;
    background: #fff;
    margin-right: 20px;
    // left: 20px;
    // top: 150px;
  }
  .right-part {
    flex: 1;
    height: 79vh;
    overflow: hidden;
    overflow-y: auto;
    //background: #fff;
    //border-radius: 8px;
    // height: 300px;
  }
  .height392 {
    height: 392px;
    cursor: pointer;
  }
  .chartsHeight350 {
    width: 100%;
    min-height: 350px;
  }
  .chartsHeight300 {
    width: 100%;
    min-height: 300px;
  }
}
</style>
<style lang="scss">
.manageTerrace-personal {
  .right-part {
    .el-card {
      border-radius: 8px;
    }
    .el-card__body,
    .el-main {
      padding: 10px;
    }
    .el-card.is-always-shadow,
    .el-card.is-hover-shadow:focus,
    .el-card.is-hover-shadow:hover {
      box-shadow: 0 2px 12px 0 rgba(229, 222, 222, 0.6);
    }
  }
}
</style>
