<template>
    <div class="org-search">
        <model-title title="组织架构查询"></model-title>
    </div>
</template>
<script>
import modelTitle from "@/pages/components/modelTitle.vue";
import appTable from "@/components/base/appTable";
export default {
    components: { modelTitle, appTable },
}
</script>