<template>
  <div class="person_contrast">
    <div class="remarks">拖拽卡片可调换对比顺序</div>
    <div class="person_contrast_content">
      <div class="left_part">
        <draggable
          v-model="list"
          chosenClass="chosen"
          forceFallback="true"
          :handle="'.base_info'"
          group="people"
          animation="1000"
          @start="onStart"
          @end="onEnd"
          class="draggable"
          style="display: flex; flex: 1"
        >
          <transition-group>
            <div class="model" v-for="(item, i) in list" :key="i">
              <div class="base_info" id="base_info">
                <div class="top">
                  <div class="top_dot"><span class="dot"></span>基本信息</div>
                  <el-button
                    plain
                    icon="el-icon-delete"
                    class="delete"
                    @click="deleteClick(i, item.id)"
                    >删除</el-button
                  >
                </div>
                <div class="info">
                  <el-image
                    style="width: 100px; height: 100px"
                    :src="item.baseInfo.sex=='男'?nanPersonImg:personImg"
                    fit="contain"
                    class="base_info_headPortrait"
                    @error="headPortraitError(item, i)"
                  >
                  </el-image>
                  <div class="content">
                    <div class="line">
                      <div class="name">
                        {{ item.baseInfo.name }}
                      </div>
                      <div class="Id">{{ item.baseInfo.emplid || "" }}</div>
                      <div class="sex" v-if="item.baseInfo.sex">
                        <img :src="item.baseInfo.sex == '男' ? nan : nv" alt="" />
                      </div>
                    </div>
                    <div class="line" style="margin-top: 10px">
                      {{ item.baseInfo.age ? item.baseInfo.age + "岁" : "" }}
                      {{ item.baseInfo.sex }}
                      {{
                        item.baseInfo.groupAge ? "司龄：" + item.baseInfo.groupAge : ""
                      }}
                    </div>
                    <div class="line" style="margin-top: 10px">
                      {{
                        (item.baseInfo.companyName || "无") +
                        (item.baseInfo.deptName ? "-" : "") +
                        (item.baseInfo.deptName || "") +
                        (item.baseInfo.postName ? "-" : "") +
                        (item.baseInfo.postName || "")
                      }}
                    </div>
                  </div>
                </div>

                <div class="personnel_label" v-if="showLabelIf">
                  <ul :class="{ show: showLabel }" v-if="item.labelList.length != 0">
                    <li
                      v-for="(it, i) in item.labelList"
                      :key="i"
                      :class="it.isSpecificKw == '是' ? 'top' : ''"
                    >
                      {{ it.labelName }}
                    </li>
                  </ul>
                  <div class="label-content" v-if="item.labelList.length == 0">
                    暂无数据
                  </div>
                  <div
                    class="show_more"
                    @click="showMore"
                    v-if="item.labelList.length != 0"
                  >
                    <i
                      class="el-icon-d-arrow-left"
                      :class="showLabel ? 'icon_unfold' : ''"
                    ></i>
                  </div>
                </div>
              </div>
              <el-divider></el-divider>
              <!-- <div class="achievement" id="annual_performance">
                <div class="top">
                  <div class="top_dot"><span class="dot"></span>业绩分布</div>
                  <el-radio-group v-model="form.radio1" @change="empPerformaceChange">
                    <el-radio-button label="Y">年</el-radio-button>
                    <el-radio-button label="Q">季</el-radio-button>
                    <el-radio-button label="M">月</el-radio-button>
                  </el-radio-group>
                </div>
                <div
                  :id="'achievements_chart' + i"
                  style="width: 100%; height: 211px"
                ></div>
              </div>
              <el-divider></el-divider> -->
              <div class="work_resume" id="work_experience">
                <div class="top">
                  <div class="top_dot"><span class="dot"></span>工作履历</div>
                </div>
                <div class="context">
                  <div v-if="item.workInfo && item.workInfo.potential1">
                    <div class="post_strip">
                      <div class="left">
                        长期发展岗位(1)：
                        <span class="name">{{ item.workInfo.longTimePost1 }}</span>
                      </div>
                      <div class="right">潜力值：{{ item.workInfo.potential1 }}</div>
                    </div>
                    <div class="post_strip">
                      <div class="left">
                        长期发展岗位(2)：
                        <span class="name">{{ item.workInfo.longTimePost2 }}</span>
                      </div>
                      <div class="right">潜力值：{{ item.workInfo.potential2 }}</div>
                    </div>
                    <div class="post_strip">
                      <div class="left">
                        下一发展岗位：
                        <span class="name">{{ item.workInfo.nextDevelopPost }}</span>
                      </div>
                      <div class="right">准备度：{{ item.workInfo.readiness }}</div>
                    </div>
                  </div>
                  <div v-if="item.workList && item.workList.length != 0">
                    <div class="card" v-for="(wor, j) in item.workList" :key="j">
                      <div class="title flex-space-between">
                        <div class="name">{{ wor.preCompany }}</div>
                        <!-- <div class="time">
                          {{
                            wor.postStartTime.split("-").join("/") +
                            "-" +
                            wor.postEndTime.split("-").join("/")
                          }}
                        </div> -->
                      </div>
                      <div class="card_context">
                        <div class="post flex-space-between">
                          <div>
                            <div class="name inline_block">
                              {{ wor.prePosition }}
                            </div>
                          </div>
                          <div class="name">{{ wor.preDept }}</div>
                        </div>
                        <div class="card_context_model flex-space-between">
                          <div>任职开始时间：{{ wor.startDate.substring(0, 10) }}</div>
                          <div>任职结束时间：{{ wor.endDate.substring(0, 10) }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="noData" style="height: 400px" v-else>
                    <img :src="noData" alt="" />
                  </div>
                </div>
              </div>
              <el-divider></el-divider>
              <div class="training_program" id="training_program" v-if="trainProgramIf">
                <div class="top">
                  <div class="top_dot"><span class="dot"></span>重点培训项目</div>
                </div>
                <ul
                  class="training_program_context"
                  v-if="item.trainProgramList && item.trainProgramList.length != 0"
                >
                  <li
                    class="flex-space-between"
                    v-for="(train, i) in item.trainProgramList"
                    :key="i"
                  >
                    <div class="name">
                      {{ train.projClassPeriod }}
                    </div>
                    <div class="state">{{ train.trainStatus }}</div>
                  </li>
                </ul>
                <div class="noData" style="height: 150px" v-else>
                  <img :src="noData" alt="" />
                </div>
              </div>
              <el-divider v-if="trainProgramIf"></el-divider>
              <div class="experience_map" id="experience_map" v-if="experienceMapIf">
                <div class="top">
                  <div class="top_dot"><span class="dot"></span>经验地图</div>
                  <div class="top_right">
                    <!-- <label> 切换图表</label> -->
                    <el-select
                      v-model="form.abilityType"
                      placeholder="请选择"
                      @change="changeAbilityType"
                    >
                      <el-option
                        v-for="item in abilityTypeOption"
                        :key="item.value + i"
                        :label="item.label"
                        :value="item.value"
                      >
                      </el-option>
                    </el-select>
                  </div>
                </div>
                <div class="chart_top">
                  <div
                    class="top_left"
                    v-if="item.empAbilityList && item.empAbilityList.length != 0"
                  >
                    <talent-tags
                      v-model="abilityForm[i].abilityActiveName"
                      :list="item.empAbilityList"
                      :ikey="i"
                      @change="changeAbilityChart"
                      style="overflow: hidden"
                    >
                    </talent-tags>
                  </div>
                </div>
                <div class="chart_title">
                  {{
                    abilityForm[i].evaluateTime
                      ? "测评时间:" + abilityForm[i].evaluateTime
                      : ""
                  }}
                </div>
                <div
                  :id="'experience_map_chart' + i"
                  style="width: 100%; height: 270px"
                  v-if="item.empAbilityList && item.empAbilityList.length != 0"
                ></div>
                <div class="noData" style="height: 300px" v-else>
                  <img :src="noData" alt="" />
                </div>
              </div>
              <el-divider v-if="experienceMapIf"></el-divider>
              <div class="inventory_trend" id="inventory_trend" v-if="inventoryTrendIf">
                <div class="top">
                  <div class="top_dot"><span class="dot"></span>盘点趋势</div>
                </div>

                <div
                  class="inventory_trend_context"
                  v-if="item.inventoryTrend && item.inventoryTrend.length != 0"
                >
                  <square-grid
                    :list="
                      staffHandleimgData(item.inventoryTrend) || staffHandleimgData([])
                    "
                  ></square-grid>
                </div>

                <!-- <div :id="'inventory_trend_chart' + i" style="width: 100%; height: 240px"
                  v-if="item.inventoryTrend && item.inventoryTrend.length != 0"></div> -->
                <div class="noData" style="height: 230px" v-else>
                  <img :src="noData" alt="" />
                </div>
              </div>
              <el-divider v-if="inventoryTrendIf"></el-divider>
              <div
                class="comprehensive_evaluate"
                id="comprehensive_evaluate"
                v-if="inventoryPlanIf"
              >
                <div class="top">
                  <div class="top_dot"><span class="dot"></span>综合评价</div>
                  <el-select
                    v-model="invenForm[i].inventoryPlan"
                    placeholder="请选择"
                    class="inventoryPlan"
                    @change="inventoryPlanChange($event, i)"
                  >
                    <el-option
                      v-for="plan in item.inventoryPlanOptions"
                      :key="plan.value"
                      :label="plan.label"
                      :value="plan.value"
                    >
                    </el-option>
                  </el-select>
                </div>
                <div>
                  <div class="comprehensive_evaluate_model" style="margin-top: 12px">
                    <div class="title">
                      <img :src="evaluation_icon" alt="" />
                      自我评价
                    </div>
                    <div class="content">
                      <show-tooltip
                        :content="item.evaluationObj.selfEvaluation || '暂无数据'"
                        :line="2"
                      ></show-tooltip>
                    </div>
                  </div>
                  <div class="comprehensive_evaluate_model">
                    <div class="title">
                      <img :src="advantage_icon" alt="" />
                      优势
                    </div>
                    <div class="content">
                      <show-tooltip
                        :content="item.evaluationObj.advantage || '暂无数据'"
                        :line="2"
                      ></show-tooltip>
                    </div>
                  </div>
                  <div class="comprehensive_evaluate_model">
                    <div class="title">
                      <img :src="ic_lueshi" alt="" />
                      劣势
                    </div>
                    <div class="content">
                      <show-tooltip
                        :content="item.evaluationObj.inferiority || '暂无数据'"
                        :line="2"
                      ></show-tooltip>
                    </div>
                  </div>
                </div>
              </div>
              <el-divider v-if="inventoryPlanIf"></el-divider>
              <div class="honor_fault" id="honor_fault" v-if="rewdPunhIf">
                <div class="top">
                  <div class="top_dot"><span class="dot"></span>荣誉与过失</div>
                </div>
                <div class="honor_fault_model">
                  <div v-if="inHonorDataIf">
                    <div class="title">
                      <span class="dot"></span>
                      内部荣誉
                    </div>
                    <div
                      class="honor_fault_model_tab"
                      v-if="item.inHonorData.length != 0"
                    >
                      <ul>
                        <li v-for="(inhonor, i) in item.inHonorData || []" :key="i">
                          <div class="name">
                            <show-tooltip
                              :content="inhonor.rwdDescr || '暂无数据'"
                              :line="1"
                            ></show-tooltip>
                          </div>
                          <div class="right">
                            （{{ inhonor.rwdTypeName }}）
                            <div class="time">
                              {{ dateFormat(inhonor.rwdDate) }}
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="noData" v-else>
                      <img :src="noData" alt="" />
                    </div>
                  </div>
                  <div v-if="exHonorDataIf">
                    <div class="title">
                      <span class="dot"></span>
                      外部部荣誉
                    </div>
                    <div
                      class="honor_fault_model_tab"
                      v-if="item.exHonorData.length != 0"
                    >
                      <ul>
                        <li v-for="(exhonor, i) in item.exHonorData || []" :key="i">
                          <div class="name">
                            <show-tooltip
                              :content="exhonor.hpsRewReason || '暂无数据'"
                              :line="1"
                            ></show-tooltip>
                          </div>
                          <div class="right">
                            （{{ exhonor.rewType }}）
                            <div class="time">
                              {{ dateFormat(exhonor.hpsRewdDat) }}
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="noData" v-else>
                      <img :src="noData" alt="" />
                    </div>
                  </div>
                  <div v-if="faultDataIf">
                    <div class="title">
                      <span class="dot"></span>
                      过失
                    </div>
                    <div class="honor_fault_model_tab" v-if="item.faultData.length != 0">
                      <ul>
                        <li v-for="(fault, i) in item.faultData || []" :key="i">
                          <div class="name">
                            <show-tooltip
                              :content="fault.hpsRewReason || '暂无数据'"
                              :line="1"
                            ></show-tooltip>
                          </div>
                          <div class="right">
                            （{{ fault.rewType }}）
                            <div class="time">
                              {{ dateFormat(fault.hpsRewdDat) }}
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="noData" v-else>
                      <img :src="noData" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </transition-group>
        </draggable>
      </div>
      <div class="right_part">
        <div class="right_container">
          <div class="right_part_button_contrast" @click="addPersonnel">添加新人才</div>
          <ul>
            <li
              v-for="(item, i) in navOtions"
              :key="i"
              @click="goTo(i, item.value)"
              :class="{ is_acive: nav_acive == i }"
            >
              <div v-if="item.show">
                <a :href="'#' + item.value"></a>
                {{ item.label }}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <app-dialog
      width="60%"
      :title="`已添加(全部${dialogCount})`"
      :dialog-visible.sync="addDialogVisible"
      :destroy-on-close="true"
      :class="'shopping_cart_dialog'"
    >
      <template>
        <div
          class="dialog_top"
          v-loading="shoppingCart_loading"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          element-loading-background="rgba(0, 0, 0, 0.8)"
        >
          <div v-for="row in shoppingCart" :key="row.id" class="dialog_card">
            <div class="selected_card" @click.stop="checked(row)">
              <img :src="isSelected(row.id)" alt="" />
            </div>
            <add-card :infoValue="row" class="add_card"></add-card>
            <!-- <div class="remove_card" @click.stop="remove(row.id)">
              <i class="el-icon-delete"></i><span>移除</span>
            </div> -->
          </div>
        </div>

        <el-pagination
          background
          @size-change="handleSizeChangeDialog"
          @current-change="handleCurrentChangeDialog"
          :current-page="dialogPage.currentPage"
          :page-size="dialogPage.pageSize"
          :page-sizes="[10, 20, 30, 40]"
          layout="total, sizes, prev, pager, next, jumper"
          :total="dialogCount || 0"
          style="text-align: right; margin-top: 10px"
        >
        </el-pagination>
        <div class="dialog_button">
          <el-button class="cancel_button" round @click="addDialogVisible = false"
            >取 消</el-button
          >
          <el-button
            round
            class="sure_button"
            @click="addContrast()"
            :disabled="
              selectedAlreadyAddList.length > 1 || selectedAlreadyAddList.length < 1
            "
            >马上对比({{ selectedAlreadyAddList.length }})</el-button
          >
        </div>
      </template>
    </app-dialog>
  </div>
</template>
<script>
//导入draggable组件
import draggable from "vuedraggable";
import ShowTooltip from "./components/showTooltip.vue";
import TalentTags from "../components/talentTags.vue";
import { dateFormat } from "@/utils/index";
import appDialog from "../components/dialog.vue";
import addCard from "./components/addCard.vue";
import squareGrid from "../components/squareGrid.vue";
import { staffHandleimgData } from "@/utils/business.js";
export default {
  data() {
    return {
      staffList: staffHandleimgData([]), //删除
      weixuan: require("@/assets/weixuan.png"),
      gouxuan: require("@/assets/gouxuan.png"),
      oneself: require("@/assets/oneself.png"),
      ic_average: require("@/assets/ic_average.png"),
      ic_tishi: require("@/assets/svg/ic_tishi.svg"),
      ic_fazhan: require("@/assets/svg/ic_fazhan.svg"),
      evaluation_icon: require("@/assets/svg/evaluation.svg"),
      advantage_icon: require("@/assets/svg/advantage.svg"),
      ic_lueshi: require("@/assets/svg/ic_lueshi.svg"),
      nan: require("@/assets/ic_nan.png"),
      nv: require("@/assets/ic_nv.png"),
      noData: require("@/assets/svg/noData.svg"),
      personImg: require("@/assets/forum/person.jpg"),
      nanPersonImg: require("@/assets/forum/nan-person.webp"),
      showLabel: false,
      form: { inventoryPlan: "", radio1: "Y", abilityType: "L" },
      list: [],
      addDialogVisible: false,
      selectedAlreadyAddList: [],
      shoppingCart: [], //已添加人员卡片
      shoppingCart_loading: false,
      dialogCount: 0,
      dialogPage: {
        currentPage: 1,
        pageSize: 10,
      },
      abilityTypeOption: [
        {
          label: "雷达图",
          value: "L",
        },
        {
          label: "柱状图",
          value: "Z",
        },
      ],
      drag: false,
      showLabelIf: false, //是否对比的人员人才标签数据是空的
      trainProgramIf: false,
      experienceMapIf: false,
      inventoryTrendIf: false,
      rewdPunhIf: false,
      inHonorDataIf: false,
      exHonorDataIf: false,
      faultDataIf: false,
      inventoryPlanIf: false,
      nav_acive: 0,
      navOtions: [
        {
          label: "基本信息",
          value: "base_info",
          show: true,
        },
        // {
        //   label: "业绩分布",
        //   value: "annual_performance",
        //   show: true,
        // },
        {
          label: "工作履历",
          value: "work_experience",
          show: true,
        },
        {
          label: "重点培训项目",
          value: "training_program",
          show: false,
        },
        {
          label: "经验地图",
          value: "experience_map",
          show: false,
        },
        {
          label: "盘点趋势",
          value: "inventory_trend",
          show: false,
        },
        {
          label: "综合评价",
          value: "comprehensive_evaluate",
          show: false,
        },
        {
          label: "荣誉与过失",
          value: "honor_fault",
          show: false,
        },
      ],
      invenForm: [{ inventoryPlan: "" }, { inventoryPlan: "" }, { inventoryPlan: "" }], // 评论值
      abilityForm: [
        { abilityActiveName: "", evaluateTime: "" },
        { abilityActiveName: "", evaluateTime: "" },
        { abilityActiveName: "", evaluateTime: "" },
      ], // 地图模型
    };
  },
  computed: {
    pageParams() {
      const pageParams = this.$route.query;
      
      return;
    },
    // 当前登陆人信息
    userInfo() {
      return this.$store.state.pageInfo?.userInfo;
    },
  },

  watch: {
    addDialogVisible(val) {
      if (!val) {
        this.selectedAlreadyAddList = [];
      }
    },
  },
  components: {
    draggable,
    ShowTooltip,
    TalentTags,
    appDialog,
    addCard,
    squareGrid,
  },
  created() {
    let vm = this;
    vm.getShoppingCart();
    if (this.$route.query.data) {
      let list = JSON.parse(this.$route.query.data).map((p) => {
        return window.atob(p);
      });
      vm.init(list);
    }

    //this.showStyle(0);
    // 水印
    //this.createdWatermark();
  },
  mounted() {
    //window.addEventListener("resize", vm.resizeHandle);
  },
  destroyed() {
    // const option = { watermark_txt: " ", watermark_alpha: 0, minotor: false };
    // watermark.init(option);
    // watermark.remove();
    // window.removeEventListener("resize", vm.resizeHandle);
  },
  methods: {
    staffHandleimgData: staffHandleimgData,
    init(list, type = null) {
      let vm = this;
      //初始
      vm.showLabelIf = false; //是否对比的人员人才标签数据是空的
      vm.trainProgramIf = false;
      vm.experienceMapIf = false;
      vm.inventoryTrendIf = false;
      vm.rewdPunhIf = false;
      vm.inHonorDataIf = false;
      vm.exHonorDataIf = false;
      vm.faultDataIf = false;
      vm.navOtions = [
        {
          label: "基本信息",
          value: "base_info",
          show: true,
        },
        // {
        //   label: "业绩分布",
        //   value: "annual_performance",
        //   show: true,
        // },
        {
          label: "工作履历",
          value: "work_experience",
          show: true,
        },
        {
          label: "重点培训项目",
          value: "training_program",
          show: false,
        },
        {
          label: "经验地图",
          value: "experience_map",
          show: false,
        },
        {
          label: "盘点趋势",
          value: "inventory_trend",
          show: false,
        },
        {
          label: "综合评价",
          value: "comprehensive_evaluate",
          show: false,
        },
        {
          label: "荣誉与过失",
          value: "honor_fault",
          show: false,
        },
      ];
      vm.invenForm = [
        { inventoryPlan: "" },
        { inventoryPlan: "" },
        { inventoryPlan: "" },
      ];
      vm.abilityForm = [
        { abilityActiveName: "", evaluateTime: "" },
        { abilityActiveName: "", evaluateTime: "" },
        { abilityActiveName: "", evaluateTime: "" },
      ];
      vm.form = { inventoryPlan: "", radio1: "Y", abilityType: "L" };
      vm.list = list.map((p) => {
        return {
          baseInfo: {
            emplid: p,
          },
          evaluationObj: {},
          labelList: [],
          exHonorData: [],
          inHonorData: [],
          faultData: [],
        };
      });
      //  list = ["007118", "021552"];
      vm.$nextTick(() => {
        for (const key in list) {
          (async function () {
            // vm.getHeadPhoto(list[key], key);
            //  await vm.getSearchEmpPerformace(list[key], key);
            //  vm.getSearchInventoryPlan(list[key], key);
            vm.getBaseInfo(list[key], key);
            //vm.getTrainingProgram(list[key], key);
            vm.getLabel(list[key], key);
            // vm.getWork(list[key], key);
            vm.getWorkList(list[key], key);
            vm.getSearchRewdPunh(list[key], key);
            //  vm.getInventory(list[key], key);
            //setTimeout(vm.setChart(key, type), 0);
           // await vm.getSearchEmpAbility(list[key], key);
           // vm.setMapChart(key, type);
            // vm.setInventoryTrendChart(key, type);
          })();
        }
      });
    
    },
    headPortraitError(item, i) {
      
      this.getHeadPhoto(item.baseInfo.emplid, i);
    },
    addPersonnel() {
      this.addDialogVisible = true;
    },
    addContrast() {
      let vm = this;
      let arr = [];
      if (vm.list.length == 3) {
        vm.$message.warning("对比人数不能超过3人，请先删除！");
        return;
      }
      for (const key in vm.list) {
        if (vm.list[key].baseInfo.emplid == vm.selectedAlreadyAddList[0].emplId) {
          vm.$message.warning("已有相同人员在对比行列中");
          return;
        } else {
          arr.push(vm.list[key].baseInfo.emplid);
        }
      }
      vm.list = [];
      arr = [...arr, vm.selectedAlreadyAddList[0].emplId];
      vm.addDialogVisible = false;
      vm.init(arr, "resize");
    },
    handleCurrentChangeDialog(currentPage) {
      this.$set(this.dialogPage, "currentPage", currentPage);
      this.getShoppingCart();
    },
    handleSizeChangeDialog(pageSize) {
      this.$set(this.dialogPage, "pageSize", pageSize);
      this.$set(this.dialogPage, "currentPage", 1);
      this.getShoppingCart();
    },
    checked(row) {
      // 存在则删除，不在则添加
      let vm = this;
      let index = this.selectedAlreadyAddList.findIndex((f) => f.id === row.id);
      if (index >= 0) {
        this.selectedAlreadyAddList.splice(index, 1);
      } else {
        this.selectedAlreadyAddList.push(row);
      }
    },
    isSelected(id) {
      if (this.selectedAlreadyAddList.find((f) => f.id === id)) {
        return this.gouxuan;
      }
      return this.weixuan;
    },
    getShoppingCart() {
      let vm = this;
      vm.shoppingCart_loading = true;
      vm.api.personContrast.personContrastApi
        .otrcomparelistPage({
          limit: vm.dialogPage.pageSize,
          page: vm.dialogPage.currentPage,
        })
        .then((res) => {
          if (res.code == 0) {
            vm.shoppingCart = res.data.list;
            vm.dialogCount = res.data.total;
          }
          vm.shoppingCart_loading = false;
        })
        .catch((err) => {
          vm.shoppingCart_loading = false;
        });
    },
    // 时间格式化
    dateFormat(date, fmt = "yyyy年M月d日") {
      return dateFormat(date, fmt);
    },
    //荣耀和过失
    getSearchRewdPunh(id, index) {
      let vm = this;
      const params = {
        emplId: id,
      };
      vm.api.talentPortrait.talentPortraitApi.empphotoSearchEmpRwd(params).then((res) => {
        if (res && res.data) {
          vm.handleRewdPunhData(res.data, index);
          if (res.data.length != 0) {
            vm.rewdPunhIf = true;
            vm.$set(vm.navOtions, 7, {
              label: "荣誉与过失",
              value: "honor_fault",
              show: true,
            });
          }
          // vm.$set(vm.list[index], "rewdPunhList", res.data);
        }
      });
    },
    // 荣誉过失数据处理
    handleRewdPunhData(data, index) {
      let vm = this;
      const inHonorData = data ? data : [];
      if (inHonorData.length != 0) {
        vm.inHonorDataIf = true;
      }
      vm.$set(vm.list[index], "inHonorData", inHonorData);
    },
    // 设置业绩分布图默认zoom值
    achievementsZoomValueHandle(data) {
      let defaultData = [0, 1];
      switch (this.form.radio1) {
        case "Y":
          // 默认后最近十年
          defaultData = data.slice(-10);
          break;
        case "Q":
          // 默认最近三年十二个季度
          defaultData = data.slice(-12);
          break;
        case "M":
          // 默认最近一年十二个月
          defaultData = data.slice(-12);
          break;
      }
      return {
        start: defaultData[0],
        end: defaultData[defaultData.length - 1],
      };
    },
    //业绩分布
    getSearchEmpPerformace(id, index) {
      let vm = this;
      return vm
        .$axios({
          method: "get",
          url: vm.$environmentApi + "empinfophoto/searchEmpPerformace",
          params: {
            empId: id,
            assessmentType: vm.form.radio1,
          },
        })
        .then((res) => {
          if (res && res.data) {
            vm.$nextTick(() => {
              vm.$set(vm.list[index], "empPerformaceList", res.data);
            });
          }
        });
    },
    async empPerformaceChange(val) {
      for (const key in this.list) {
        await this.getSearchEmpPerformace(this.list[key].baseInfo.emplid, key);
        if (val == "M") {
          this.achievementsMonthChart(key);
        } else {
          this.setChart(key);
        }
      }
    },
    //综合盘点
    getSearchInventoryPlan(id, index) {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "empinfophoto/searchInventoryPlan",
        params: {
          emplId: id,
        },
      }).then((res) => {
        if (res && res.data) {
          vm.$nextTick(() => {
            vm.$set(
              vm.list[index],
              "inventoryPlanOptions",
              res.data.map((i) => {
                return {
                  label: i.inventoryPlan,
                  value: i.inventoryPlan,
                };
              })
            );
            if (res.data.length != 0) {
              vm.inventoryPlanIf = true;
              vm.$set(vm.navOtions, 6, {
                label: "综合评价",
                value: "comprehensive_evaluate",
                show: true,
              });
              vm.invenForm[index].inventoryPlan =
                vm.list[index].inventoryPlanOptions[0].value;
              vm.getSearchEvaluation(id, index);
            }
          });
        }
      });
    },
    //地图-数据
    getSearchEmpAbility(id, index) {
      let vm = this;
      return vm
        .$axios({
          method: "get",
          url: vm.$environmentApi + "empinfophoto/searchEmpAbility",
          params: {
            empId: id,
            // modelId: vm.abilityForm[index].abilityActiveName || undefined,
          },
        })
        .then((res) => {
          if (res && res.data) {
            console.log("tttt", res.data);
            vm.$nextTick(() => {
              vm.$set(vm.list[index], "empAbilityList", res.data);
              vm.$set(vm.list[index], "currentAbilityData", res.data[0]?.lv1List || []);
              vm.abilityForm[index].abilityActiveName = res.data[0]?.modelName || "";
              vm.abilityForm[index].evaluateTime = res.data[0]?.evaluateTime || "";
              if (res.data.length != 0) {
                vm.experienceMapIf = true;
                vm.$set(vm.navOtions, 4, {
                  label: "经验地图",
                  value: "experience_map",
                  show: true,
                });
              }
            });
          }
        });
    },
    // 切换地图(模型)
    changeAbilityChart(item) {
      if (this.abilityForm[item.key].abilityActiveName != item.data.modelName) {
        this.abilityForm[item.key].abilityActiveName = item.data.modelName;
        this.abilityForm[item.key].evaluateTime = item.data.evaluateTime;
        this.list[item.key].currentAbilityData = item.data.lv1List;
        this.changeAbilityType();
      }
    },
    // 切换能力图表类型
    changeAbilityType() {
      let vm = this;
      for (const key in vm.list) {
        if (vm.form.abilityType === "Z") {
          vm.$nextTick(() => {
            vm.abilityBarChart(key);
          });
        } else {
          vm.$nextTick(() => {
            vm.setMapChart(key);
          });
        }
      }
    },
    //综合评价
    getSearchEvaluation(id, index) {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "empinfophoto/searchEvaluation",
        params: {
          emplId: id,
          inventoryPlan: vm.invenForm[index].inventoryPlan,
        },
      }).then((res) => {
        if (res && res.data) {
          vm.$nextTick(() => {
            vm.$set(vm.list[index], "evaluationObj", res.data);
          });
        }
      });
    },
    inventoryPlanChange(val, index) {
      this.invenForm[index].inventoryPlan = val;
      this.getSearchEvaluation(this.list[index].baseInfo.emplid, index);
    },
    //重点培训项目
    getTrainingProgram(id, index) {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "empinfophoto/searchTrainData",
        params: {
          empId: id,
        },
      }).then((res) => {
        if (res && res.data) {
          vm.$nextTick(() => {
            vm.$set(vm.list[index], "trainProgramList", res.data);
            console.log(vm.list);
            if (res.data.length != 0) {
              vm.trainProgramIf = true;
              vm.$set(vm.navOtions, 3, {
                label: "重点培训项目",
                value: "training_program",
                show: true,
              });
            }
          });
        }
      });
    },
    //工作履历
    getWork(id, index) {
      let vm = this;
      const params = {
        emplId: id,
      };
      vm.api.talentPortrait.talentPortraitApi
        .empphotoSearchWorkExp(params)
        .then((res) => {
          if (res && res.data) {
            vm.$set(vm.list[index], "workInfo", res.data);
            //vm.list[index].workInfo = res.data;
          }
        });
    },
    getWorkList(id, index) {
      let vm = this;
      const params = {
        emplId: id,
      };
      vm.api.talentPortrait.talentPortraitApi
        .empphotoSearchWorkExp(params)
        .then((res) => {
          if (res && res.data) {
            vm.$set(vm.list[index], "workList", res.data);
          }
        });
    },
    //获取人才标签
    getLabel(id, index) {
      let vm = this;
      const params = {
        emplId: id,
      };
      vm.api.talentPortrait.talentPortraitApi.empphotoSearchLabel(params).then((res) => {
        if (res && res.data) {
          vm.list[index].labelList = res.data
            .map((p) => {
              vm.showLabelIf = true;
              return { labelName: p.signName, isSpecificKw: p.isSpecificKw };
            })
            .filter(Boolean);
        }
      });
    },
    //获取基本信息
    getBaseInfo(id, index) {
      let vm = this;
      this.api.talentPortrait.talentPortraitApi
        .empphotoSearchBaseInfo({ emplId: id })
        .then((res) => {
          if (res && res.data) {
            vm.list[index].baseInfo = res.data;
          }
        });
    },
    //获取人物头像
    getHeadPhoto(id, index) {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "empinfophoto/searchPhoto",
        params: {
          emplId: id,
        },
      }).then((res) => {
        if (res && res.data) {
          vm.$nextTick(() => {
            vm.$set(
              vm.list[index],
              "headPhoto",
              "data:image/png;base64," + res.data.employeePhoto
            );
          });
        }
      });
    },
    //开始拖拽事件
    onStart() {
      this.drag = true;
    },
    //拖拽结束事件
    onEnd(e) {
      console.log(e); // 这里将会有调整前后的 index 及其他可能需要传递给接口的信息
      let list = this.list.map((p) => {
        return p.baseInfo.emplid;
      });
      console.log(list, "99999999999");
      this.init(list, "resize");
      this.drag = false;
    },
    showStyle(max, type = 1, id = undefined) {
      console.log(id);
      if (type == 2) {
        let p0 = document.getElementsByClassName("work_resume0")[0];
        let p1 = document.getElementsByClassName("work_resume1")[0];
        let p2 = document.getElementsByClassName("work_resume2")[0];
        id == 1 ? (p0.style.height = "10px") : (p0.style.height = "auto");
        id == 2 ? (p1.style.height = "10px") : (p1.style.height = "auto");
        id == 3 ? (p2.style.height = "10px") : (p2.style.height = "auto");
      }
      let item0 = document.getElementsByClassName("work_resume0")[0]?.offsetHeight || 0;
      let item1 = document.getElementsByClassName("work_resume1")[0]?.offsetHeight || 0;
      let item2 = document.getElementsByClassName("work_resume2")[0]?.offsetHeight || 0;
      console.log(max, "33333333333", item2, item1, item0);
      max = item0 > item1 ? item0 : item1;
      max = max > item2 ? max : item2;

      if (item0) {
        document.getElementsByClassName("work_resume0")[0].style.height = max + "px";
      }
      if (item1) {
        document.getElementsByClassName("work_resume1")[0].style.height = max + "px";
      }
      if (item2) {
        document.getElementsByClassName("work_resume2")[0].style.height = max + "px";
      }
    },
    deleteClick(index, id) {
      console.log;
      let vm = this;
      let list = [];
      if (this.list.length == 2) {
        return vm.$message.warning("对比需保留至少2位");
      }
      //let p = document.getElementsByClassName("work_resume" + id)[0];
      //  p.remove();
      vm.list.splice(index, 1);
      list = vm.list.map((p) => p.baseInfo.emplid);
      vm.init(list, "resize");

      console.log(vm.list);
      // vm.showStyle(0, 2, id);  最后不要删除
    },
    showMore() {
      this.showLabel = !this.showLabel;
    },
    goTo(key, nameId) {
      this.nav_acive = key;
      document.querySelector("#" + nameId).scrollIntoView(true);
    },
    getInventory(id, index) {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "empinfophoto/searchInventory",
        params: {
          emplId: id,
        },
      }).then((res) => {
        if (res && res.data) {
          vm.$nextTick(() => {
            vm.list[index].inventoryTrend = res.data;
            if (res.data.length != 0) {
              vm.inventoryTrendIf = true;
              vm.$set(vm.navOtions, 5, {
                label: "盘点趋势",
                value: "inventory_trend",
                show: true,
              });
            }
          });
        }
      });
    },
    //盘点趋势
    setInventoryTrendChart(key, type = null) {
      let vm = this;
      // let dataif = true;
      let myChart = vm.$echarts.init(
        document.getElementById("inventory_trend_chart" + key)
      );
      type ? myChart.resize() : "";
      // if(vm.list[key].inventoryTrend?.length==0){
      //   dataif = false;
      // }
      let obj = {
        title: {},
        tooltip: {
          trigger: "item",
          formatter: function (params) {
            console.log(params, "0000000");
            return "<div>" + params.name + "</div>";
          },
        },
        grid: {
          top: "6%",
          left: "5%",
          right: "4%",
          bottom: "5%",
          containLabel: true,
        },
        yAxis: {
          name: "/ 绩效",
          nameLocation: "start",
          nameTextStyle: {
            //字体样式
            // fontSize: 16, //字体大小
            color: "#999",
            padding: [0, 8, 0, 0], //距离坐标位置的距离
            verticalAlign: "top",
          },
          min: 0,
          max: 150,
          type: "value",
          splitNumber: 3,
          axisLabel: {
            color: "#666",
            show: true,
            inside: false,
            formatter: (value, index) => {
              let res = "";
              switch (value) {
                case 50:
                  res = "低";
                  break;
                case 100:
                  res = "中";
                  break;
                case 150:
                  res = "高";
                  break;
                default:
                  res = "";
              }
              return res;
            },
          },
          splitLine: {
            show: true, // 是否显示分隔线。默认数值轴显示，类目轴不显示
            width: 1,
          },
          axisTick: {
            //y轴刻度线
            show: false,
          },
          axisLine: {
            show: true,
            lineStyle: {
              type: "solid",
              color: "#DDDDDD",
            },
          },
        },
        xAxis: {
          name: "能力",
          nameLocation: "start",
          nameTextStyle: {
            color: "#999",
          },
          min: 0,
          max: 300,
          type: "value",
          // boundaryGap: true,
          axisLabel: {
            color: "#666",
            show: true,
            //inside: false,
            formatter: (value, index) => {
              let res = "";
              switch (value) {
                case 50:
                  res = "D";
                  break;
                case 100:
                  res = "C";
                  break;
                case 150:
                  res = "B-";
                  break;
                case 200:
                  res = "B";
                  break;
                case 250:
                  res = "B+";
                  break;
                case 300:
                  res = "A";
                  break;
                default:
                  res = "";
              }
              return res;
            },
          },
          axisTick: {
            show: false,
          },
          splitLine: {
            show: true, // 是否显示分隔线。默认数值轴显示，类目轴不显示
            width: 1,
          },
          axisLine: {
            show: true,
            lineStyle: {
              type: "solid",
              color: "#DDDDDD",
            },
          },
        },
        series: [
          {
            type: "graph",
            layout: "none",
            coordinateSystem: "cartesian2d",
            symbolSize: 40,
            label: {
              show: true,
            },
            edgeSymbol: ["circle", "arrow"],
            edgeSymbolSize: [4, 10],
            data: [
              {
                value: vm.setInventoryTrendData(vm.list[key].inventoryTrend[0]),
                symbol: "image://" + vm.ic_fazhan,
                symbolSize: 18,
                symbolOffset: [-46, 0],
                name: vm.list[key].inventoryTrend[0].inventoryTime.slice(0, 11),
                inventoryPlan: vm.list[key].inventoryTrend[0].inventoryPlan,
                label: {
                  normal: {
                    show: true,
                    offset: [45, 0],
                    color: "#008EED",
                  },
                },
              },
              {
                value: vm.setInventoryTrendData(vm.list[key].inventoryTrend[1]),
                symbol: "image://" + vm.ic_fazhan,
                symbolSize: 18,
                symbolOffset: [12, 0],
                name: vm.list[key].inventoryTrend[1].inventoryTime.slice(0, 11),
                inventoryPlan: vm.list[key].inventoryTrend[1].inventoryPlan,
                label: {
                  normal: {
                    show: true,
                    offset: [45, 0],
                    color: "#008EED",
                  },
                },
              },
              {
                value: vm.setInventoryTrendData(vm.list[key].inventoryTrend[2]),
                symbol: "image://" + vm.ic_fazhan,
                symbolSize: 18,
                symbolOffset:
                  vm.list[key].inventoryTrend[2].performanceGrade == "A"
                    ? [-52, 0]
                    : [36, 0],
                name: vm.list[key].inventoryTrend[2].inventoryTime.slice(0, 11),
                inventoryPlan: vm.list[key].inventoryTrend[2].inventoryPlan,
                label: {
                  normal: {
                    show: true,
                    offset: [45, 0],
                    color: "#008EED",
                  },
                },
              },
            ],
            links: [
              {
                source: 0,
                target: 1,
              },
              {
                source: 1,
                target: 2,
              },
            ],
            lineStyle: {
              color: "#008EED",
            },
          },
        ],
      };
      myChart.setOption(obj);
    },
    setInventoryTrendData(item) {
      //abilityGrade performanceGrade
      let va1 = null,
        va2 = null;
      switch (item.abilityGrade) {
        case "低":
          va1 = 25;
          break;
        case "中":
          va1 = 75;
          break;
        case "高":
          va1 = 125;
          break;
        default:
          va1 = 0;
      }
      switch (item.performanceGrade) {
        case "D":
          va2 = 50;
          break;
        case "C":
          va2 = 100;
          break;
        case "B-":
          va2 = 150;
          break;
        case "B":
          va2 = 200;
          break;
        case "B+":
          va2 = 250;
          break;
        case "A":
          va2 = 300;
          break;
        default:
          va2 = 0;
      }
      return [va2, va1];
    },
    //业绩-年和季度
    setChart(key, type = null) {
      let vm = this;
      let myChart = vm.$echarts.init(document.getElementById("achievements_chart" + key));
      type ? myChart.resize() : "";
      const xAxisData = vm.list[key].empPerformaceList.map((i) => i.dateWid);
      const selfData = vm.list[key].empPerformaceList.map((i) => i.performance);
      const avgData = vm.list[key].empPerformaceList.map((i) => i.avgPerformance);
      const zoomData = this.achievementsZoomValueHandle(xAxisData);
      const x_startValue = zoomData.start;
      const x_endValue = zoomData.end;
      let obj = {
        title: {},
        tooltip: {
          trigger: "axis",
          enterable: true,
          axisPointer: {
            type: "cross",
            label: {
              backgroundColor: "#6a7985",
            },
          },
          formatter(params) {
            const data = vm.list[key].empPerformaceList[params[0].dataIndex];
            var htmlStr = `<div style='line-height: 24px;height:160px;overflow-y: auto;'>
              <p><span style="display: inline-block;margin-right: 8px;">所属公司:</span>${data.companyName}</p>
              <p><span style="display: inline-block;margin-right: 8px;">职位:</span>${data.postName}</p>
              <p><span style="display: inline-block;margin-right: 8px;">直接主管:</span>${data.directSupervisor}</p>
              <p style="max-width:400px; white-space:pre-wrap;"><span style="display: inline-block;margin-right: 8px;">直接主管评语:</span>${data.performanceComment}</p>
              <p><span style="display: inline-block;margin-right: 8px;">本人业绩:</span>${data.performance}</p>
              <p><span style="display: inline-block;margin-right: 8px;">业绩参考线:</span>${data.avgPerformance}</p>
            </div>`;
            return htmlStr;
          },
          position: function (point, params, dom, rect, size) {
            // 鼠标坐标和提示框位置的参考坐标系是：以外层div的左上角那一点为原点，x轴向右，y轴向下
            // 提示框位置
            var x = 0; // x坐标位置
            var y = 0; // y坐标位置

            // 当前鼠标位置
            var pointX = point[0];
            var pointY = point[1];

            // 外层div大小
            // var viewWidth = size.viewSize[0];
            // var viewHeight = size.viewSize[1];

            // 提示框大小
            var boxWidth = size.contentSize[0];
            var boxHeight = size.contentSize[1];

            // boxWidth > pointX 说明鼠标左边放不下提示框
            if (boxWidth > pointX) {
              x = 5;
            } else {
              // 左边放的下
              x = pointX - boxWidth;
            }

            // boxHeight > pointY 说明鼠标上边放不下提示框
            if (boxHeight > pointY) {
              y = 5;
            } else {
              // 上边放得下
              y = pointY - boxHeight;
            }
            return [x, "-80%"];
          },
        },
        legend: {
          x: "right",
          y: "bottom",
          padding: [0, 60, 0, 0],
          itemWidth: 30,
          itemHeight: 16,
          show: false,
          data: [{ name: "本人业绩" }, { name: "平均业绩" }],
        },
        grid: {
          top: "6%",
          left: "3%",
          right: "4%",
          bottom: "10%",
          containLabel: true,
        },
        xAxis: [
          {
            type: "category",
            boundaryGap: false,
            data: xAxisData,
          },
        ],
        yAxis: [
          {
            type: "category",
            boundaryGap: false,
            splitLine: {
              show: true,
              lineStyle: {
                type: "dashed",
              },
            },
            axisTick: {
              show: false,
            },
            data: ["D", "C", "B-", "B", "B+", "A"],
          },
        ],
        series: [
          {
            name: "本人业绩",
            type: "line",
            smooth: true,
            stack: "Total",
            areaStyle: {
              normal: {
                color: "#E1F1F7", //改变区域颜色
              },
            },
            itemStyle: {
              normal: {
                color: "#008EED", //改变折线点的颜色
                lineStyle: {
                  color: "#0691ED", //改变折线颜色
                },
              },
            },
            emphasis: {
              focus: "series",
            },
            data: selfData,
          },
          {
            name: "平均业绩",
            type: "line",
            smooth: true,
            stack: "Total",
            areaStyle: {
              normal: {
                color: "#EDFBF5", //改变区域颜色
              },
            },
            itemStyle: {
              normal: {
                color: "#29B45C", //改变折线点的颜色
                lineStyle: {
                  color: "#00A73C", //改变折线颜色
                },
              },
            },
            emphasis: {
              focus: "series",
            },
            data: avgData,
          },
        ],
        dataZoom: [
          {
            show: true,
            type: "slider",
            filterMode: "none",
            realtime: false,
            height: 8,
            top: 190,
            startValue: x_startValue,
            endValue: x_endValue,
            handleIcon:
              "path://path://M100, 100m -75, 0a75,75 0 1,0 150,0a75,75 0 1,0 -150,0",
            handleSize: "150%",
            handleStyle: {
              color: "#008EED",
              borderWidth: 0,
              shadowColor: "rgba(0,142,237,0.51)",
              shadowBlur: 2,
            },
            textStyle: {
              color: "transparent",
            },
            borderColor: "transparent",
            backgroundColor: "#EBEEF5",
            dataBackground: {
              lineStyle: {
                width: 0,
              },
              areaStyle: {
                color: "transparent",
              },
            },
            fillerColor: "#00EBFF",
            labelFormatter: "",
          },
          {
            type: "inside",
            show: true,
            zoomOnMouseWheel: false,
            moveOnMouseWheel: true,
            moveOnMouseMove: true,
            preventDefaultMouseMove: true,
          },
        ],
      };
      myChart.setOption(obj, true);
    },

    // 业绩分布-月度
    async achievementsMonthChart(key) {
      let vm = this;
      let myChart = vm.$echarts.init(document.getElementById("achievements_chart" + key));
      // 缓存处理
      // if (this.empPerformacecache[this.assessmentType]?.length) {
      //   this.empPerformaceData = this.empPerformacecache[this.assessmentType]
      // } else {
      //   await this.getEmpPerformaceApi();
      // }
      const xAxisData = this.list[key].empPerformaceList.map((i) => i.dateWid);
      const selfData = this.list[key].empPerformaceList.map((i) =>
        i.performance ? +i.performance : 0
      );
      const avgData = this.list[key].empPerformaceList.map((i) =>
        i.avgPerformance ? +i.avgPerformance : 0
      );
      const valueData = this.list[key].empPerformaceList.map((i) => i.value);
      const valueAvgData = this.list[key].empPerformaceList.map((i) => i.avgValue);
      const zoomData = this.achievementsZoomValueHandle(xAxisData);
      const x_startValue = zoomData.start;
      const x_endValue = zoomData.end;
      let obj = {
        color: ["rgba(50, 229, 255, 1)", "rgba(250, 207, 18, 1)"],
        tooltip: {
          trigger: "axis",
          enterable: true,
          axisPointer: {
            type: "cross",
            crossStyle: {
              color: "#999",
            },
          },
          formatter(params) {
            const data = vm.list[key].empPerformaceList[params[0].dataIndex];
            var htmlStr = `<div style='line-height: 24px;height:200px;overflow-y: auto;'>
              <p><span style="display: inline-block;margin-right: 8px;">所属公司:</span>${data.companyName}</p>
              <p><span style="display: inline-block;margin-right: 8px;">职位:</span>${data.postName}</p>
              <p><span style="display: inline-block;margin-right: 8px;">直接主管:</span>${data.directSupervisor}</p>
              <p style="max-width:400px; white-space:pre-wrap;"><span style="display: inline-block;margin-right: 8px;">直接主管评语:</span>${data.performanceComment}</p>
              <p><span style="display: inline-block;margin-right: 8px;">月度业绩:</span>${data.performance}</p>
              <p><span style="display: inline-block;margin-right: 8px;">月度业绩参考线:</span>${data.avgPerformance}</p>
              <p><span style="display: inline-block;margin-right: 8px;">月度价值观:</span>${data.value}</p>
              <p><span style="display: inline-block;margin-right: 8px;">月度价值观参考线:</span>${data.avgValue}</p>
            </div>`;
            return htmlStr;
          },
          position: function (point, params, dom, rect, size) {
            // 鼠标坐标和提示框位置的参考坐标系是：以外层div的左上角那一点为原点，x轴向右，y轴向下
            // 提示框位置
            var x = 0; // x坐标位置
            var y = 0; // y坐标位置

            // 当前鼠标位置
            var pointX = point[0];
            var pointY = point[1];

            // 外层div大小
            // var viewWidth = size.viewSize[0];
            // var viewHeight = size.viewSize[1];

            // 提示框大小
            var boxWidth = size.contentSize[0];
            var boxHeight = size.contentSize[1];

            // boxWidth > pointX 说明鼠标左边放不下提示框
            if (boxWidth > pointX) {
              x = 5;
            } else {
              // 左边放的下
              x = pointX - boxWidth;
            }

            // boxHeight > pointY 说明鼠标上边放不下提示框
            if (boxHeight > pointY) {
              y = 5;
            } else {
              // 上边放得下
              y = pointY - boxHeight;
            }

            return [x, "-100%"];
          },
        },
        grid: {
          top: "5%",
          left: "3%",
          right: "4%",
          bottom: "10%",
          containLabel: true,
        },
        legend: {
          show: false,
          bottom: 0,
          right: 60,
          itemWidth: 30,
          itemHeight: 20,
          data: [
            { name: "月度业绩" },
            { name: "月度业绩参考线" },
            { name: "月度价值观", icon: "image://" + vm.oneself },
            { name: "月度价值观参考线", icon: "image://" + vm.ic_average },
          ],
        },
        xAxis: [
          {
            type: "category",
            boundaryGap: true,
            axisTick: {
              alignWithLabel: true,
            },
            data: xAxisData,
          },
        ],
        yAxis: [
          {
            type: "value",
            boundaryGap: false,
            splitLine: {
              show: true,
            },
            axisTick: {
              show: false,
            },
          },
          {
            type: "category",
            boundaryGap: false,
            splitLine: {
              show: true,
              lineStyle: {
                type: "dashed",
              },
            },
            axisTick: {
              show: false,
            },
            data: ["D", "C", "B-", "B", "B+", "A"],
          },
        ],
        series: [
          {
            name: "月度业绩",
            type: "bar",
            barGap: "0%",
            itemStyle: {
              borderRadius: [4, 4, 0, 0],
              color: "#269FEF",
            },
            data: selfData,
          },
          {
            name: "月度业绩参考线",
            type: "bar",
            itemStyle: {
              borderRadius: [4, 4, 0, 0],
              color: "rgb(200,150,255)",
            },
            data: avgData,
          },
          {
            name: "月度价值观",
            type: "line",
            smooth: true,
            yAxisIndex: 1,
            itemStyle: {
              normal: {
                color: "#008EED", //改变折线点的颜色
                lineStyle: {
                  color: "rgb(0,128,128)", //改变折线颜色
                },
              },
            },
            emphasis: {
              focus: "series",
            },
            data: valueData,
          },
          {
            name: "月度价值观参考线",
            type: "line",
            smooth: true,
            yAxisIndex: 1,
            itemStyle: {
              normal: {
                color: "#29B45C", //改变折线点的颜色
                lineStyle: {
                  color: "#00A73C", //改变折线颜色
                },
              },
            },
            emphasis: {
              focus: "series",
            },
            data: valueAvgData,
          },
        ],
        dataZoom: [
          {
            show: true,
            type: "slider",
            filterMode: "none",
            realtime: false,
            height: 8,
            top: 190,
            startValue: x_startValue,
            endValue: x_endValue,
            handleIcon:
              "path://path://M100, 100m -75, 0a75,75 0 1,0 150,0a75,75 0 1,0 -150,0",
            handleSize: "150%",
            handleStyle: {
              color: "#008EED",
              borderWidth: 0,
              shadowColor: "rgba(0,142,237,0.51)",
              shadowBlur: 2,
            },
            textStyle: {
              color: "transparent",
            },
            borderColor: "transparent",
            backgroundColor: "#EBEEF5",
            dataBackground: {
              lineStyle: {
                width: 0,
              },
              areaStyle: {
                color: "transparent",
              },
            },
            fillerColor: "#00EBFF",
            labelFormatter: "",
          },
          {
            type: "inside",
            show: true,
            zoomOnMouseWheel: false,
            moveOnMouseWheel: true,
            moveOnMouseMove: true,
            preventDefaultMouseMove: true,
          },
        ],
      };
      myChart.setOption(obj, true);
    },
    //地图-雷达图
    setMapChart(key, type = null) {
      let vm = this;
      if (vm.list[key].currentAbilityData.length == 0) {
        return;
      }
      vm.$nextTick(() => {
        let myChart = vm.$echarts.init(
          document.getElementById("experience_map_chart" + key)
        );
        type ? myChart.resize() : "";
        const radarData =
          this.list[key].currentAbilityData.map((i) => {
            return {
              name: i.lv1IndexName,
              color: "#000",
              max: i.valMax,
            };
          }) || [];
        const valData = this.list[key].currentAbilityData.map((i) => i.val) || [];
        const avgValData = this.list[key].currentAbilityData.map((i) => i.avgVal) || [];
        let option = {
          title: {},
          tooltip: {
            show: true,
          },
          radar: {
            indicator: radarData,
            radius: 80,
          },
          grid: {
            top: "6%",
            left: "3%",
            right: "4%",
            bottom: "10%",
            containLabel: true,
          },
          legend: {
            // x: "right",
            // y: "bottom",
            right: "0%",
            bottom: "0%",
            padding: [0, 0, 0, 0],
            itemWidth: 30,
            itemHeight: 20,
            show: true,
            data: [{ name: "个人能力" }, { name: "能力均值" }],
          },
          series: [
            {
              type: "radar",
              data: [
                {
                  value: valData,
                  name: "个人能力",
                  itemStyle: {
                    normal: {
                      color: "#008EED", //改变折线点的颜色
                      lineStyle: {
                        color: "#0691ED", //改变折线颜色
                      },
                    },
                  },
                },
                {
                  value: avgValData,
                  name: "能力均值",
                  itemStyle: {
                    normal: {
                      color: "#29B45C", //改变折线点的颜色
                      lineStyle: {
                        color: "#00A73C", //改变折线颜色
                      },
                    },
                  },
                },
              ],
            },
          ],
        };
        myChart.setOption(option, true);
      });
    },
    // 地图-柱形图
    abilityBarChart(key) {
      let vm = this;
      vm.$nextTick(() => {
        let myChart = vm.$echarts.init(
          document.getElementById("experience_map_chart" + key)
        );
        const radarData =
          this.list[key].currentAbilityData.map((i) => i.lv1IndexName) || [];
        const valData = this.list[key].currentAbilityData.map((i) => i.val) || [];
        const avgValData = this.list[key].currentAbilityData.map((i) => i.avgVal) || [];
        let obj = {
          color: ["rgba(50, 229, 255, 1)", "rgba(250, 207, 18, 1)"],
          tooltip: {
            trigger: "axis",
            axisPointer: {
              type: "cross",
              crossStyle: {
                color: "#999",
              },
            },
          },
          grid: {
            top: "6%",
            left: "3%",
            right: "4%",
            bottom: "10%",
            containLabel: true,
          },
          legend: {
            x: "right",
            y: "bottom",
            padding: [0, 60, 0, 0],
            itemWidth: 30,
            itemHeight: 20,
            show: false,
            data: [
              { name: "个人能力" },
              { name: "能力均值", icon: "image://" + vm.ic_average },
            ],
          },
          xAxis: [
            {
              type: "category",
              boundaryGap: true,
              axisTick: {
                show: false,
              },
              data: radarData,
            },
          ],
          yAxis: [
            {
              type: "value",
              boundaryGap: false,
            },
          ],
          series: [
            {
              name: "个人能力",
              type: "bar",
              itemStyle: {
                borderRadius: [4, 4, 0, 0],
                color: "#269FEF",
              },
              data: valData,
            },
            {
              name: "能力均值",
              type: "line",
              smooth: true,
              stack: "Total",
              areaStyle: {
                normal: {
                  color: "#F4FCF8", //改变区域颜色
                },
              },
              itemStyle: {
                normal: {
                  color: "#29B45C", //改变折线点的颜色
                  lineStyle: {
                    color: "#00A73C", //改变折线颜色
                  },
                },
              },
              emphasis: {
                focus: "series",
              },
              data: avgValData,
            },
          ],
        };
        myChart.setOption(obj, true);
      });
    },
    // 生成水印
    createdWatermark() {
      this.$nextTick(() => {
        const txt = `${this.userInfo.empName}(${this.userInfo.empId})`;
        const option = {
          watermark_txt: txt,
          watermark_x: 0,
          watermark_y: 0,
          watermark_fontsize: "16px",
          watermark_alpha: 0.05,
          watermark_width: 160,
          watermark_height: 40,
          watermark_angle: 30,
          watermark_x_space: 120,
          watermark_y_space: 160,
          minotor: false,
        };
        watermark.init(option);
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.noData {
  height: 180px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 128px;
  }
}

.dialog_top {
  height: 42vh;
  overflow-y: auto;
}

.dialog_card {
  display: flex;
  // justify-content: center;
  align-items: center;
  margin: 10px;
  background: #eef1f8;
  border-radius: 16px;
  //height: 102px;
  padding: 10px 24px;
  padding-right: 32px;
  box-sizing: border-box;

  .selected_card {
    padding: 0 10px;
  }

  .add_card {
    width: calc(100% - 120px);
  }

  .remove_card {
    border: 1px solid #bdbdbd;
    border-radius: 16px;
    position: relative;
    right: 0;
    cursor: pointer;
    padding: 6px 20px;

    span {
      //margin-left: 2px;
    }
  }
}

.dialog_button {
  height: 90px;
  line-height: 112px;
  text-align: right;
  border-top: 1px solid #f0f0f0;
  margin-top: 24px;

  .cancel_button {
    border: 1px solid #008eed;
    color: #008eed;
    width: 118px;
    vertical-align: middle;
    margin-right: 22px;
  }

  .sure_button {
    background: linear-gradient(270deg, #1bb5ff 0%, #008eed 100%);
    box-shadow: 0px 6px 11px 0px rgba(166, 208, 255, 0.33);
    color: #fff;
    border: 0;
  }
}

.person_contrast {
  margin: 0 64px;
  padding-bottom: 20px;
  text-align: left;
  .remarks {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 18px;
  }

  .person_contrast_content {
    margin-right: 208px;
    position: relative;

    .left_part {
      display: flex;
      flex: 1;
      border-radius: 16px;

      .draggable {
        & > span {
          display: flex;
          flex: 1;
        }
      }

      .model {
        flex: 1;
        width: 0;
        padding: 16px;
        padding-right: 20px;
        padding-left: 26px;
        background: #fff;
        border-right: 1px solid #cdcdcd;
        cursor: pointer;

        //transition: all 1s;
        &:last-child {
          border-right: 0;
          margin-right: 0;
        }

        .top {
          display: flex;
          justify-content: space-between;

          .top_dot {
            font-size: 16px;
            font-weight: bold;
            color: #000000;
            height: 32px;
            line-height: 32px;

            .dot {
              display: inline-block;
              margin-right: 4px;
              width: 9px;
              height: 9px;
              box-shadow: 0px 2px 5px 0px rgba(0, 142, 237, 0.61);
              border-radius: 50%;
              border: 2px solid #008eed;
            }
          }
          .top_right {
            width: 100px;
            label {
              margin-right: 8px;
            }

            /deep/.el-select {
              .el-input__inner {
                width: 100px;
                height: 32px;
                line-height: 32px;
                background: #eaedf3;
                border-radius: 16px;
                border: 0;
                color: #000;
              }

              .el-input__icon {
                height: 32px;
                line-height: 32px;
                color: #000;
              }
            }
          }
          .delete {
            width: 83px;
            height: 32px;
            line-height: 32px;
            border-radius: 16px;
            text-align: center;
            padding: 0;
            border: 1px solid #bdbdbd;
          }

          .el-button.delete.is-plain:focus,
          .el-button.delete.is-plain:hover {
            border-color: #008eed;
            color: #008eed !important;
          }
        }

        .base_info {
          .info {
            margin: 16px 0;
            display: flex;
            .base_info_headPortrait {
              width: 64px;
              height: 64px;
              //border-radius: 50%;
              background: transparent;
            }

            .content {
              display: inline-block;
              margin-left: 16px;
              vertical-align: top;

              .line {
                font-weight: 400;
                font-size: 14px;
                color: #666666;

                .name {
                  display: inline-block;
                  font-weight: bold;
                  color: #000000;
                  font-size: 20px;
                  margin-right: 12px;
                  min-width: 50px;
                }

                .Id {
                  margin-right: 16px;
                  display: inline-block;
                  font-weight: bold;
                  color: #000000;
                  font-size: 18px;
                }

                .sex {
                  display: inline-block;

                  img {
                    background: transparent;
                    height: 18px;
                    width: 18px;
                  }
                }
              }
            }
          }

          .workFrom {
            font-size: 14px;
            color: #333333;
            line-height: 26px;
            height: 40px;
          }

          .personnel_label {
            margin-top: 20px;
            display: flex;

            .label {
              font-size: 16px;
              font-weight: 500;
              margin-right: 8px;
            }

            ul {
              display: inline-block;
              margin-left: 16px;
              flex: 1;
              min-height: 70px;
              height: 70px;
              overflow: hidden;

              li {
                display: inline-block;
                height: 24px;
                padding: 0 12px;
                text-align: center;
                line-height: 24px;
                margin-right: 12px;
                margin-bottom: 10px;
                background: #ffffff;
                border-radius: 12px;
                border: 1px solid #008eed;
                color: #008eed;

                &.top {
                  border: 1px solid #d6eeff;
                  background: #d6eeff;
                }
              }
            }

            .show {
              overflow: initial !important;
              height: auto !important;
            }

            .show_more {
              display: inline-block;
              cursor: pointer;
              line-height: 24px;

              .el-icon-d-arrow-left {
                transform: rotate(270deg);
                padding: 0 5px;
              }

              .icon_unfold {
                transform: rotate(90deg);
              }
            }
          }
        }

        .work_resume {
          height: 600px;
          overflow-y: auto;

          .context {
            .post_strip {
              //  width: 330px;
              height: 32px;
              line-height: 32px;
              background: #d6eeff;
              border-radius: 6px;
              padding: 0 12px;
              margin-top: 12px;
              display: flex;
              justify-content: space-between;
              color: #333333;

              .name {
                font-weight: bold;
              }
            }

            .card {
              //width: 330px;
              height: 146px;
              background: #ffffff;
              box-shadow: 0px 2px 7px 0px rgba(217, 226, 242, 0.72);
              border-radius: 6px;
              margin-top: 12px;

              .title {
                height: 32px;
                line-height: 32px;
                padding: 0 12px;
                background: #eff0f3;
                border-radius: 6px 6px 0px 0px;
                color: #666666;

                .name {
                  color: #000000;
                  font-size: 14px;
                  font-weight: bold;
                }

                .time {
                  font-size: 12px;
                }
              }

              .card_context {
                font-size: 12px;
                color: #666666;
                padding: 12px;
                .flex-space-between {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                }
                .post {
                  color: #000000;

                  .sign {
                    width: 46px;
                    height: 20px;
                    left: 20px;
                    text-align: center;
                    background: #d6eeff;
                    border-radius: 12px;
                    margin-left: 4px;
                    color: #008eed;
                  }
                }

                .card_context_model {
                  height: 24px;
                }
              }
            }
          }
        }

        .training_program {
          .training_program_context {
            padding: 0 10px;
            height: 150px;
            overflow-y: auto;

            li {
              font-size: 12px;
              color: #000000;
              height: 35px;

              .state {
                width: 46px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                background: #d6eeff;
                color: #008eed;
                border-radius: 12px;
              }
            }
          }
        }

        .experience_map {
          .chart_top {
            // display: flex;
            // justify-content: space-between;

            .top_left {
              margin-right: 12px;
              //flex: 1;
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }

        .comprehensive_evaluate {
          .comprehensive_evaluate_model {
            padding: 0;
            margin-bottom: 18px;

            .title {
              font-size: 16px;
              color: #000;

              img {
                vertical-align: bottom;
              }

              &.fazhan {
                color: #008eed;
              }
            }

            .content {
              margin-top: 12px;
              padding: 10px 16px;
              height: 67px;
              color: #333;
              background: #f4f7fd;
              border-radius: 5px;
              border: 1px solid #9fb0c6;
            }

            .content2 {
              display: flex;

              .part {
                flex: 1;
                margin-top: 12px;
                padding: 10px 16px;
                height: 67px;
                color: #333;
                background: #ebf1fe;
                border-radius: 5px;
                border: 1px solid #417fc9;

                span {
                  font-weight: 500;
                }

                &:first-child {
                  margin-right: 16px;
                }
              }
            }
          }
        }

        .honor_fault {
          .title {
            font-size: 14px;
            color: #0874f5;
            font-weight: 400;
            margin: 10px 0;

            .dot {
              display: inline-block;
              width: 8px;
              height: 8px;
              background: #72b2ff;
              box-shadow: 0px 2px 4px 0px rgba(8, 116, 245, 0.26);
              border-radius: 50%;
              margin-right: 8px;
            }
          }

          .honor_fault_model_tab {
            height: 180px;
            overflow-y: auto;
            .name {
              max-width: 60%;
            }
          }

          ul {
            border: 1px solid #dddddd;

            li {
              line-height: 40px;
              display: flex;
              justify-content: space-between;
              border-bottom: 1px solid #dddddd;
              padding: 0 10px;

              &:last-child {
                border-bottom: 0;
              }

              .name {
                font-size: 12px;
                color: #333333;
              }

              .right {
                font-size: 12px;
                color: #999999;

                .time {
                  display: inline-block;
                  width: 90px;
                  /* text-align: right; */
                  margin-left: 10px;
                }
              }
            }
          }
        }

        #inventory_trend_chart {
        }
      }
    }

    .right_part {
      width: 188px;
      position: absolute;
      top: 0;
      right: -208px;

      .right_container {
        width: 176px;
        max-height: calc(100vh - 140px);
        overflow-y: auto;
        background: #fff;
        border-radius: 16px;
        position: fixed;
        top: 120px;
        right: 30px;

        .right_part_button_contrast {
          width: 100%;
          height: 56px;
          line-height: 56px;
          background: linear-gradient(270deg, #1bb5ff 0%, #008eed 100%);
          box-shadow: 0px 6px 11px 0px rgba(166, 208, 255, 0.33);
          border-radius: 16px;
          color: #fff;
          font-weight: bold;
          font-size: 18px;
          text-align: center;
          cursor: pointer;
        }

        ul {
          margin-top: 12px;

          li {
            line-height: 32px;
            font-size: 14px;
            color: #000;
            text-align: center;
            cursor: pointer;

            &:hover {
              color: #008eed;
            }

            &.is_acive {
              color: #008eed;
            }
          }
        }
      }
    }
  }
}
.inventory_trend {
  .inventory_trend_context {
    height: 230px;
    padding: 15px 0;
    box-sizing: border-box;
  }
}
</style>
<style lang="scss">
.person_contrast {
  .person_contrast_content {
    .left_part {
      .model {
        .top {
          .el-radio-group {
            width: 155px;
            height: 40px;
            border-radius: 20px;
            background: #eaedf3;
            border: 0;
            text-align: center;
            line-height: 40px;

            .el-radio-button {
              width: 44px;
              height: 32px;
              text-align: center;
              margin-right: 4px;

              &:last-child {
                margin-right: 0;
              }

              .el-radio-button__inner {
                height: 100%;
                width: 100%;
                line-height: 32px;
                padding: 0;
                text-align: center;
                border-radius: 20px;
                background: transparent;
                border: 0;
              }
            }

            .el-radio-button__orig-radio:checked + .el-radio-button__inner {
              background: #ffffff;
              box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.13) !important;
              font-size: 14px;
              font-weight: 400;
              color: #008eed;
            }
          }

          .inventoryPlan {
            &.el-select {
              margin-right: 18px;

              .el-input__inner {
                width: 122px;
                height: 32px;
                line-height: 32px;
                background: #eaedf3;
                border-radius: 16px;
                border: 0;
                color: #000;
              }

              .el-input__icon {
                height: 32px;
                line-height: 32px;
                color: #000;
              }
            }
          }
        }
      }
    }
  }
}

.shopping_cart_dialog {
  .el-dialog__header {
    border-bottom: 1px solid #f0f0f0;
  }

  .el-dialog__body {
    padding: 20px 40px !important;
  }

  .el-button.is-disabled,
  .el-button.is-disabled:focus,
  .el-button.is-disabled:hover {
    background: linear-gradient(270deg, #1bb5ff 0%, #008eed 100%);
    box-shadow: 0px 6px 11px 0px rgba(166, 208, 255, 0.33);
    color: #fff;
  }

  .el-pagination.is-background .el-pager li:not(.disabled).active {
    color: #fff !important;
  }
}

.label-content {
  height: 70px;
  line-height: 70px;
  width: 100%;
  text-align: center;
}

.chart_title {
  height: 16px;
  line-height: 16px;
  margin: 8px;
  text-align: right;
}
</style>
