<!-- breadcrumb组件 -->
<template>
  <div class="breadcrumb_title">
    <el-breadcrumb
      v-bind="{ ...$attrs }"
      :separator-class="
        $attrs.separator ? $attrs.separator : 'el-icon-arrow-right'
      "
    >
      <el-breadcrumb-item v-for="(item, i) in options" :key="i">{{
        item.label
      }}</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
</template>
<script>
export default {
  //   inheritAttrs: false,
  name: "appButton",
  props: {
    options: [Array, Function],
  },
  computed: {},
};
</script>

<style lang="scss" scoped>
.breadcrumb_title {
  margin-bottom: 14px;
  margin-top: 14px;
  .el-breadcrumb__item {
    font-size: 17px;
  }
}
</style>
