<template>
  <el-dialog
    :title="title"
    :visible.sync="dialogVisible"
    width="50%"
    :before-close="handleClose"
    :close-on-click-modal="false"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-row>
        <el-col :span="12">
          <el-form-item label="员工姓名" prop="empId">
            <el-select
              v-model="form.empId"
              filterable
              remote
              reserve-keyword
              placeholder="请输入"
              :remote-method="getStaffInfo"
              :loading="staffLoading"
              style="width: 100%"
              :disabled="type != 'add'"
            >
              <el-option
                v-for="item in staffList"
                :key="item.empId"
                :label="item.empName"
                :value="item.empId"
                @click.native="staffChange(item)"
              >
                {{ item.empId + "-" + item.empName + "-" + item.deptName }}
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="所属公司">
            <el-input v-model="form.companyName" disabled></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="所属部门">
            <el-input v-model="form.deptName" disabled></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="任职岗位">
            <el-input v-model="form.postName" disabled></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="标签名称" prop="labelId">
            <el-cascader
              ref="label_cascader"
              :props="props"
              :options="label_options"
              :show-all-levels="false"
              v-model="form.labelId"
              @change="labelChange"
              style="width: 100%"
            >
              <template slot="empty">
                <div class="el-cascader__empty-text">暂无数据</div>
              </template>
            </el-cascader>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="状态" prop="status">
            <el-select
              v-model="form.status"
              placeholder="请选择"
              style="width: 100%"
            >
              <el-option
                v-for="item in statusList"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-form-item label="具体表述">
        <el-input type="textarea" v-model="form.specificDesc"></el-input>
      </el-form-item>
      <el-form-item class="submit_button" style="margin-bottom: 10px">
        <el-button
          type="primary"
          class="primary_currency"
          @click="addLabel('form')"
          :loading="submiLoading"
          >{{ type == "add" ? "保存" : "确认" }}
        </el-button>
        <el-button class="currency" @click="dialogVisible = false"
          >取消</el-button
        >
      </el-form-item>
    </el-form>
  </el-dialog>
</template>
<script>
import selectTree from "../../components/selectTree.vue";
export default {
  props: {
    labelTypeList: {
      type: Array,
      default: function () {
        return [];
      },
    },
  },
  data() {
    let vm = this;
    return {
      dialogVisible: false,
      title: "新建标签匹配",
      type: "add",
      form: {
        specificDesc: "",
        status: "生效",
        labelId: [],
        labelName: "",
        labelTypeName: "",
        labelTypeId: "",
        deptId: "",
        deptName: "",
        empId: "",
        empName: "",
      },
      submiLoading: false,
      staffList: [],
      staffLoading: false,
      label_options: [],
      //状态
      statusList: [
        {
          value: "生效",
          label: "生效",
        },
        {
          value: "失效",
          label: "失效",
        },
      ],
      props: {
        label: "labelName",
        value: "valueId",
        lazy: true,
        lazyLoad(node, resolve) {
          const { level } = node;
          vm.form.labelTypeName = node.label;
          vm.form.labelTypeId = node.value;
          if (!node.value) {
            resolve([]);
            return;
          }
          vm.$axios({
            method: "get",
            url: vm.$environmentApi + "tmilabelstorehouse/queryAll",
            params: {
              labelTypeId: node.value,
              status: "生效",
            },
          }).then((res) => {
            if (res && res.data) {
              let nodes = res.data;
              for (const key in nodes) {
                nodes[key].labelName = nodes[key].labelName;
                nodes[key].valueId = nodes[key].labelId;
                nodes[key].level = level + 1;
                nodes[key].leaf = level >= 1;
              }
              resolve(nodes);
            }
          });
          // 通过调用resolve将子节点数据返回，通知组件数据加载完成
        },
      },
      rules: {
        empId: [{ required: true, message: "请输入", trigger: "blur" }],
        labelId: [{ required: true, message: "请选择", trigger: "change" }],
        specificDesc: [{ required: true, message: "请输入", trigger: "blur" }],
        status: [{ required: true, message: "请选择", trigger: "change" }],
      },
    };
  },
  components: {
    selectTree,
  },
  watch: {
    dialogVisible(val) {
      let vm = this;
      if (!val) {
        vm.$refs.form.resetFields();
        vm.form = {
          specificDesc: "",
          status: "生效",
          labelId: [],
          labelName: "",
          labelTypeName: "",
          labelTypeId: "",
          deptId: "",
          deptName: "",
          empId: "",
          empName: "",
          postId: "",
          postName: "",
          companyId: "",
          companyName: "",
        };

        vm.label_options = [];
        vm.staffList = [];
      }
    },
  },
  mounted() {},
  methods: {
    setDiag(data) {
      let vm = this;
      this.dialogVisible = data.res;
      if (data.type == "add") {
        this.title = "新建标签匹配";
      } else {
        this.title = "编辑标签匹配";
      }

      this.type = data.type;
      if (data.data) {
        vm.$nextTick(() => {
          vm.getStaffInfo(data.data.empName);
          vm.form = { ...data.data };
          vm.getLabelType2(data.data);
          console.log(vm.form);
        });
      }
    },
    //获取员工信息
    getStaffInfo(queryString) {
      let vm = this;
      let timeout = null;

      if (timeout !== null) {
        clearTimeout(timeout);
      }
      if (queryString !== "") {
        vm.staffLoading = true;
        timeout = setTimeout(() => {
          vm.$axios({
            method: "get",
            url: vm.$environmentApi + "tmempbaseinfo/queryAll",
            params: {
              empName: queryString,
            },
          }).then((res) => {
            vm.staffLoading = false;
            if (res && res.data) {
              vm.staffList = res.data;
            } else {
            }
          });
        }, 1000);
      } else {
        vm.staffList = [];
      }
    },
    labelChange(val) {
      console.log(val, this.label_options);
      if (val.length < 2) {
        this.form.labelId = [];
        return;
      }
      let p = this.$refs["label_cascader"].getCheckedNodes()[0].pathLabels[1];
      this.form.labelName = p;
    },
    staffChange(val) {
      console.log(val);
      this.form.empName = val.empName;
      this.form.empId = val.empId;
      this.form.companyName = val.companyName;
      this.form.companyId = val.companyId;
      this.form.deptId = val.deptId;
      this.form.deptName = val.deptName;
      this.form.postName = val.postName;
      this.form.postId = val.postId;
      // this.form.categoryId = val.categoryId;
      this.label_options = [];
      this.form.labelId = [];
      this.getLabelType(val);
    },
    getLabelType(val) {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmilabeltypemapping/queryAll",
        params: {
          status: "生效",
          categoryId: val.categoryId,
          deptId: val.deptId,
        },
      }).then((res) => {
        if (res && res.data) {
          vm.label_options = res.data.map((item) => {
            let labelName = item.labelTypeName;
            let valueId = item.labelTypeId;
            return { ...item, labelName: labelName, valueId: valueId };
          });
          console.log(vm.label_options);
        } else {
        }
      });
    },
    //用与编辑展示
    getLabelType2(val) {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmilabeltypemapping/queryAll",
        params: {
          status: "生效",
          categoryId: val.categoryId,
          deptId: val.deptId,
        },
      }).then((res) => {
        if (res && res.data) {
          let arr = [];
          arr = res.data.map((item) => {
            let labelName = item.labelTypeName;
            let valueId = item.labelTypeId;
            return { ...item, labelName: labelName, valueId: valueId };
          });
          vm.getLabelName(arr, val);
        } else {
        }
      });
    },
    //获取标签名称
    getLabelName(arr, val) {
      let vm = this;
      for (const key in arr) {
        if (arr[key].valueId == val.labelTypeId) {
          vm.$axios({
            method: "get",
            url: vm.$environmentApi + "tmilabelstorehouse/queryAll",
            params: {
              labelTypeId: arr[key].valueId,
              status: "生效",
            },
          }).then((res) => {
            if (res && res.data) {
              let nodes = res.data;
              for (const key in nodes) {
                nodes[key].labelName = nodes[key].labelName;
                nodes[key].valueId = nodes[key].labelId;
                nodes[key].level = 2;
                nodes[key].leaf = true;
              }
              vm.$nextTick(() => {
                arr[key].children = [...nodes];
                let p = vm.form.labelId;
                vm.form.labelId = [vm.form.labelTypeId, p];
                vm.label_options = [...arr];
              });
            }
          });
        }
      }
    },
    //新建
    addLabel(formName) {
      let vm = this;
      vm.$refs[formName].validate((valid) => {
        if (valid) {
          vm.form.labelId = vm.form.labelId[1];
          vm.submiLoading = true;
          let url = vm.$environmentApi + "tmiemplabel/add";
          vm.type == "add"
            ? (url = vm.$environmentApi + "tmiemplabel/add")
            : (url = vm.$environmentApi + "tmiemplabel/update");
          vm.$axios({
            method: "post",
            url: url,
            data: {
              ...vm.form,
            },
          })
            .then((res) => {
              if (res.data.code == 0) {
                vm.$message({
                  type: "success",
                  message: vm.type == "add" ? "新增成功" : "编辑成功",
                });
                vm.dialogVisible = false;
                 //跳转至oa审批页面
                vm.$reviewUrl(res.data.data);
                vm.$parent.getList();
              } else {
              }
              vm.submiLoading = false;
            })
            .catch((err) => {
              vm.submiLoading = false;
            });
        }
      });
    },
    handleClose() {
      this.dialogVisible = false;
    },
  },
};
</script>
<style lang="scss" >
</style>