<template>
  <el-dialog
    :title="title"
    :visible.sync="dialogVisible"
    width="40%"
    :before-close="handleClose"
    :close-on-click-modal="false"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="120px">
      <el-form-item label="标签名称" prop="labelName">
        <el-input v-model="form.labelName" placeholder="建议名称不超过四个汉字"></el-input>
      </el-form-item>
      <el-form-item label="标签类型" prop="labelTypeId">
        <el-select
          v-model="form.labelTypeId"
          placeholder="请选择"
          style="width: 100%"
        >
          <el-option
            v-for="item in labelTypeList"
            :key="item.labelTypeId"
            :label="item.labelTypeName"
            :value="item.labelTypeId"
            @click.native="labelTypeClick(item.labelTypeName)"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="是否关键词" prop="isSpecificKw">
        <el-select
          v-model="form.isSpecificKw"
          placeholder="请选择"
          style="width: 100%"
        >
          <el-option
            v-for="item in isSpecificKwOption"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="是否前端展示" prop="isShow">
        <el-select
          v-model="form.isShow"
          placeholder="请选择"
          style="width: 100%"
        >
          <el-option
            v-for="item in isSpecificKwOption"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="标签说明">
        <el-input type="textarea" v-model="form.specificDescribe" placeholder="请输入"></el-input>
      </el-form-item>
      <el-form-item label="状态" prop="status">
        <el-select
          v-model="form.status"
          placeholder="请选择"
          style="width: 100%"
        >
          <el-option
            v-for="item in statusList"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item class="submit_button" style="">
        <el-button
          type="primary"
          class="primary_currency"
          @click="add('form')"
          :loading="submiLoading"
          >{{ type == "add" ? "保存" : "确认" }}</el-button
        >
        <el-button class="currency" @click="dialogVisible = false"
          >取消</el-button
        >
      </el-form-item>
    </el-form>
  </el-dialog>
</template>
<script>
export default {
  props: {
    labelTypeList: {
      type: Array,
      default: function () {
        return [];
      },
    },
    isSpecificKwOption: {
      type: Array,
      default: function () {
        return [];
      },
    },
  },
  data() {
    return {
      dialogVisible: false,
      title: "新建标签名称",
      form: {
        labelName: "",
        labelTypeId: "",
        labelTypeName: "",
        isSpecificKw: "",
        specificDescribe: "",
        status: "生效",
      },
      type: "add",
      submiLoading: false,
      //状态
      statusList: [
        {
          value: "生效",
          label: "生效",
        },
        {
          value: "失效",
          label: "失效",
        },
      ],
      rules: {
        labelName: [{ required: true, message: "请输入", trigger: "blur" }],
        labelTypeId: [{ required: true, message: "请选择", trigger: "change" }],
        isSpecificKw: [
          { required: true, message: "请选择", trigger: "change" },
        ],
        isShow: [{ required: true, message: "请选择", trigger: "change" }],
        status: [{ required: true, message: "请选择", trigger: "change" }],
      },
    };
  },
  watch: {
    dialogVisible(val) {
      let vm = this;
      if (!val) {
        vm.$refs.form.resetFields();
        vm.form = {
          labelName: "",
          labelTypeId: "",
          labelTypeName: "",
          isSpecificKw: "",
          specificDescribe: "",
          status: "生效",
        };
      }
    },
  },
  methods: {
    setDiag(data) {
      let vm = this;
      vm.dialogVisible = data.res;
      vm.type = data.type;
      if (data.type == "add") {
        vm.title = "新建标签名称";
      } else {
        vm.title = "编辑标签名称";
      }
      if (data.data) {
        vm.$nextTick(() => {
          // data.data.categoryId =
          //   data.data.categoryId && Number(data.data.categoryId);
          vm.form = { ...data.data };
        });
      }
    },
    labelTypeClick(val) {
      this.form.labelTypeName = val;
    },
    add(formName) {
      let vm = this;
      vm.$refs[formName].validate((valid) => {
        if (valid) {
          vm.submiLoading = true;
          let url = vm.$environmentApi+"tmilabelstorehouse/add";
          vm.type == "add"
            ? (url = vm.$environmentApi+"tmilabelstorehouse/add")
            : (url = vm.$environmentApi+"tmilabelstorehouse/update");
          vm.$axios({
            method: "post",
            url: url,
            data: {
              ...vm.form,
            },
          })
            .then((res) => {
              console.log(res, "0000002200342");
              if (res.data.code == 0) {
                vm.$message({
                  type: "success",
                  message: vm.type == "add" ? "新增成功" : "编辑成功",
                });
                vm.dialogVisible = false;
                 //跳转至oa审批页面
                vm.$reviewUrl(res.data.data);
                vm.$parent.getList();
              } else {
              }
              vm.submiLoading = false;
            })
            .catch((err) => {
              vm.submiLoading = false;
            });
        }
      });
    },
    handleClose() {
      this.dialogVisible = false;
    },
  },
};
</script>
<style lang="scss" >
</style>