<template>
  <el-dialog
    :title="title"
    :visible.sync="dialogVisible"
    width="60%"
    :before-close="handleClose"
    class="batch_import"
    :close-on-click-modal="false"
  >
    <div style="height: 95px">
      <div
        style="display: inline-block; vertical-align: top; margin-right: 56px"
      >
        <el-button
          plain
          class="plain_currency"
          style="margin-right: 20px"
          @click="downloadTemplate"
          >下载模板</el-button
        >
        <el-checkbox v-model="emptyTemplate">模板是否含数据</el-checkbox>
        <div class="toop">请按照模板规定格式导入数据</div>
      </div>

      <el-upload
        accept=".xlsx, .xls"
        class="upload-demo"
        action="/api/file/uploadDoc"
        :before-upload="beforeUploadFile"
        :on-exceed="exceedFile"
        :on-success="uploadSuccess"
        :on-remove="handleRemove"
        :show-file-list="isShowFile"
        multiple
        :limit="1"
        :file-list="fileList"
        style="display: inline-block"
      >
        <el-button plain class="plain_currency">点击上传</el-button>
        <div slot="tip" class="el-upload__tip">
          文件格式为Excel,大小不超过50M
        </div>
      </el-upload>
    </div>

    <div>
      <el-table
        v-loading="tableLoading"
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(0, 0, 0, 0.6)"
        :data="tableData"
        height="300"
        style="width: 100%"
      >
        <el-table-column label="序号" type="index" width="50" align="center">
          <template slot-scope="scope">
            {{ (page.currentPage4 - 1) * page.size + scope.$index + 1 }}
          </template>
        </el-table-column>
        <el-table-column
          prop="fileName"
          label="文件名"
          width=""
          align="center"
          show-overflow-tooltip
        >
        </el-table-column>
        <el-table-column
          prop="createTime"
          label="创建时间"
          width="160"
          align="center"
        >
        </el-table-column>
        <el-table-column
          prop="batchMsg"
          label="消息"
          width=""
          align="center"
          show-overflow-tooltip
        >
        </el-table-column>

        <el-table-column
          prop="batchStatus"
          label="状态"
          width="120"
          align="center"
        >
        </el-table-column>
        <el-table-column label="操作" width="210" align="center">
          <template slot-scope="scope">
            <el-button
              type="text"
              @click="download(scope.row)"
              :disabled="showButton('download', scope.row.batchStatus)"
              >下载</el-button
            >
            <el-button
              type="text"
              @click="batchSubmit(scope.row)"
              :disabled="showButton('submit', scope.row.batchStatus)"
              >提交</el-button
            >
            <el-button type="text" @click="getTmbatchList">刷新</el-button>
            <el-button
              type="text"
              @click="see(scope.row)"
              :disabled="showButton('see', scope.row.batchStatus)"
              v-if="fileType!='BELONG_EMP_LEVEL'"
              >查看</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page.currentPage4"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="10"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.count"
        style="text-align: right; margin-top: 10px"
      >
      </el-pagination>
    </div>
    <!-- <div style="text-align: center">
      <el-button
        type="primary"
        class="primary_currency"
        style="margin-top: 30px"
        >上传</el-button
      >
    </div> -->
  </el-dialog>
</template>
<script>
export default {
  props: {
    form: {
      type: Object,
      default: function () {
        return {};
      },
    },
    urlTemplate: {
      type: String,
      default: function () {
        return "";
      },
    },
    urlImport: {
      type: String,
      default: function () {
        return "";
      },
    },
    nameTemplate: {
      type: String,
      default: function () {
        return "模板";
      },
    },
    fileType: {
      type: String,
      default: function () {
        return "";
      },
    },
  },
  data() {
    return {
      dialogVisible: false,
      page: {
        currentPage4: 1,
        count: 0,
        size: 10,
      },
      title: "批量导入",
      type: "",
      fileList: [],
      tableData: [],
      tableLoading: false,
      emptyTemplate: false,
      submiLoading: false,
      isShowFile: false,
    };
  },
  components: {},
  watch: {
    dialogVisible(val) {
      let vm = this;
      if (!val) {
        vm.emptyTemplate = false;
      } else {
        vm.getTmbatchList();
      }
    },
  },
  mounted() {},
  methods: {
    setDiag(data) {
      let vm = this;
      vm.dialogVisible = data.res;

      console.log(data);
    },
    showButton(type, data) {
      let res = false;
      let arr = [];
      switch (type) {
        case "download":
          arr = ["校验失败", "审批撤回"];
          res = arr.includes(data);
          break;
        case "submit":
          arr = ["校验成功"];
          res = arr.includes(data);
          break;
        case "see":
          arr = ["审批中", "审批撤回", "审批通过"];
          res = arr.includes(data);
          break;
      }
      return !res;
    },
    see(data) {
      let vm = this;
      vm.$reviewUrl(data.batchId, "see");
    },
    getTmbatchList() {
      let vm = this;
      console.log(vm.fileType);
      vm.tableLoading = true;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmbatchimportheader",
        params: {
          fileType: vm.fileType,
          pageSize: vm.page.size,
          pageNum: vm.page.currentPage4 - 1,
        },
      })
        .then((res) => {
          vm.tableLoading = false;
          if (res.data.code == 0) {
            vm.tableData = res.data.data;
            vm.page.count = res.data.count;
          } else {
          }
        })
        .catch((err) => {
          vm.tableLoading = false;
        });
    },
    //文件上传之前的钩子
    beforeUploadFile(file) {
      console.log("before upload");
      console.log(file.size);
      var FileExt = file.name.replace(/.+\./, "");
      if (["xls", "xlsx"].indexOf(FileExt.toLowerCase()) === -1) {
        this.$message({
          type: "warning",
          message: "请上传后缀名为xls、xlsx的附件！",
        });
        return false;
      }
      //file.size 以字节为单位
      this.isLt2k = file.size / 2048 < 51200 ? "1" : "0";
      if (this.isLt2k === "0") {
        this.$message({
          message: "上传文件大小不能超过50M!",
          type: "error",
        });
      }
      return this.isLt2k === "1" ? true : false;
    },
    //文件超出个数时的钩子
    exceedFile(files, fileList) {
      console.log("文件超出个数：", files);
      this.$message.warning(
        `只能选择 1 个文件，当前共选择了 ${files.length + fileList.length} 个`
      );
    },
    //文件上传成功时的钩子
    uploadSuccess(response, file, fileList) {
      console.log("上传文件", response.data);
      console.log("返回状态", response.code);
      console.log(fileList);
      if (response.code != "0000") {
        this.isShowFile = false;
        return this.$message.error("导入失败！");
      } else {
        this.isShowFile = true;
        this.importTemplate(response.data.id);
        return true;
      }
    },
    handleRemove(file, fileList) {
      let arr = fileList.filter((item) => {
        return item.id != file.id;
      });
      this.fileList = [...arr];

      console.log(this.fileList);
    },
    //下载模板
    downloadTemplate() {
      let vm = this;
      let obj = {};
      if (vm.emptyTemplate) {
        obj = {
          ...vm.form,
          emptyTemplate: "0",
        };
      } else {
        obj = {
          emptyTemplate: "1",
        };
      }
      vm.$axios({
        method: "get",
        url: vm.urlTemplate,
        responseType: "blob",
        params: {
          ...obj,
        },
      }).then((res) => {
        if (res && res.data) {
          let reader = new FileReader();
          reader.readAsText(res.data);
          reader.onload = function (e) {
            if (reader.result.indexOf("code") != -1) {
              const result = JSON.parse(reader.result);
              if (result.code && result.code != 0) {
                vm.$message({
                  message: ` ${result.msg}`,
                  type: "error",
                });
                return false;
              }
            } else {
              const downURL = window.URL.createObjectURL(new Blob([res.data]));
              // data 为获取到的二进制数据
              const listNode = document.createElement("a");
              // 这里注意 ： 非同源a标签的download去命名没有用
              listNode.download = vm.nameTemplate + ".xlsx";
              listNode.style.display = "none";
              listNode.href = downURL;
              document.body.appendChild(listNode);
              listNode.click();
              document.body.removeChild(listNode);
            }
          };
        }
      });
    },
    //导入模板
    importTemplate(id) {
      let vm = this;
      console.log(vm.urlImport);
      vm.$axios({
        method: "post",
        url: vm.urlImport,
        data: {
          fileId: id,
        },
      }).then((res) => {
        if (res.data.code == 0) {
          // vm.$message({
          //   type: "success",
          //   message: "导入成功",
          // });

          vm.getTmbatchList();
        } else {
        }
        vm.fileList = [];
      });
    },
    //下载-操作
    download(data) {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmbatchimportheader/export",
        responseType: "blob",
        params: {
          batchId: data.batchId,
          fileType: vm.fileType,
        },
      }).then((res) => {
        console.log(res);
        if (res.data && !res.data.code) {
          const downURL = window.URL.createObjectURL(new Blob([res.data]));
          // data 为获取到的二进制数据
          const listNode = document.createElement("a");
          // 这里注意 ： 非同源a标签的download去命名没有用
          listNode.download = data.fileName;
          listNode.style.display = "none";
          listNode.href = downURL;
          document.body.appendChild(listNode);
          listNode.click();
          document.body.removeChild(listNode);
        } else {
          vm.$message({
            type: "warning",
            message: res.data.msg,
          });
        }
      });
    },
    //提交-操作
    batchSubmit(data) {
      let vm = this;

      vm.$axios({
        method: "post",
        url: vm.$environmentApi + "tmbatchimportheader/commit",
        data: {
          ...data,
        },
      }).then((res) => {
        console.log(res, "0000002200342");
        if (res.data.code == 0) {
          vm.$message({
            type: "success",
            message: "提交成功",
          });
          if (vm.fileType != "BELONG_EMP_LEVEL") {
            //跳转至oa审批页面
            vm.$reviewUrl(res.data.data, "import");
          }
          vm.getTmbatchList();
        }
      });
    },
    handleClose() {
      this.dialogVisible = false;
    },
    handleSizeChange(val) {
      let vm = this;
      vm.page.currentPage4 = 1;
      vm.page.size = val;
      vm.getTmbatchList();
    },
    handleCurrentChange(val) {
      let vm = this;
      vm.page.currentPage4 = val;
      vm.getTmbatchList();
    },
  },
};
</script>
<style lang="scss">
.batch_import {
  .el-dialog__body {
    //padding-top: 12px;
    .toop {
      font-size: 12px;
      margin-top: 10px;
    }
    .el-button.is-disabled,
    .el-button.is-disabled:focus,
    .el-button.is-disabled:hover {
      color: #c0c4cc !important;
    }
  }
}
</style>