<template>
  <div>
    <div id="container"></div>
  </div>
</template>

<script>
import G6 from "@antv/g6";
import { watch } from "vue";
export default {
  props: {
    nodeData: {
      type: Array,
      default: [],
    },
    dataObj: {
      type: Object,
      default: {},
    },
    isChangeData: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      AdminNode: G6,
      graph: null,
      //principalMatchingRate:SUITABLE适岗；BE_QUALIFIED有待观察；NOT_SUITABLE不适岗；VACANCY空缺
      colorObj: {
        SUITABLE: ["#ABDC7F", "#68DFDE"],
        BE_QUALIFIED: ["#FABD67", "#FEE35B"],
        NOT_SUITABLE: ["#F15559", "#FABD67"],
        VACANCY: ["#43B8F3", "#88DDEA"],
      },
    };
  },
  watch: {
    nodeData(val) {
      console.log(val, "99999999999");
      if (this.graph && this.isChangeData) {
        this.graph.destroy();
        this.graph = null;
      }
      if (val.length != 0) {
        this.graphAdminInit();
      }
    },
  },
  methods: {
    getTarget(target, arr) {
      let data = JSON.parse(JSON.stringify(arr));
      console.log(data, "000000000");
      var obj = {};
      function each(target, data) {
        for (let i = 0; i < data.length; i++) {
          if (data[i].id == target) {
            obj = data[i];
          } else if ("children" in data[i] && data[i].children.length > 0) {
            each(target, data[i].children);
          }
        }
      }
      each(target, data);
      return obj;
    },
    graphAdminInit() {
      const _this = this;
      //关闭按钮
      const COLLAPSE_ICON = function COLLAPSE_ICON(x, y, r) {
        return [
          ["M", x - r, y - r],
          ["a", r, r, 0, 1, 0, r * 2, 0],
          ["a", r, r, 0, 1, 0, -r * 2, 0],
          ["M", x + 2 - r, y - r],
          ["L", x + r - 2, y - r],
        ];
      };
      //展开按钮
      const EXPAND_ICON = function EXPAND_ICON(x, y, r) {
        return [
          ["M", x - r, y - r],
          ["a", r, r, 0, 1, 0, r * 2, 0],
          ["a", r, r, 0, 1, 0, -r * 2, 0],
          ["M", x + 2 - r, y - r],
          ["L", x + r - 2, y - r],
          ["M", x, y - 2 * r + 2],
          ["L", x, y - 2],
        ];
      };

      const data = {
        id: "root",
        deptName: "总部",
        principalMatchingRate: 1,
        personName: "张三",
        successor: "接班人：张三  人力资源主管",
        children: [
          {
            id: "c1",
            deptName: "华西一区",
            principalMatchingRate: 2,
            personName: "王五",
            successor: "接班人：张三  人力资源主管",
            children: [],
          },
          {
            id: "c2",
            deptName: "华东一区",
            principalMatchingRate: 3,
            personName: "李凌风",
            successor: "接班人：张三  人力资源主管",
            children: null,
          },
          {
            id: "c3",
            deptName: "华北一区",
            principalMatchingRate: 4,
            personName: "周敏",
            successor: "接班人：张三  人力资源主管",
            children: [],
          },
        ],
      };
      this.AdminNode.registerNode(
        "admin-node",
        {
          shapeType: "admin-node",
          draw(cfg, group) {
            const styles = this.getShapeStyle(cfg);
            const { labelCfg = {} } = cfg;
            const defWhdth = styles.width;
            // styles.width = cfg.node != "root" ? styles.height : styles.width;
            // styles.height = cfg.node != "root" ? defWhdth : styles.height;
            const w = styles.width;
            const h = styles.height;
            // 规定文字位置，对齐方式
            const textConfig = {
              textAlign: "left",
              textBaseline: "bottom",
            };
            const nodeOrigin = {
              x: -w / 2,
              y: -h / 2,
            };
            const keyShape = group.addShape("rect", {
              attrs: {
                ...styles,
                fill: "#ffffff",
                stroke: "#ffffff",
                shadowOffsetX: 0, // 模板阴影的X轴偏移量
                shadowOffsetY: 0, // 模板阴影的Y轴偏移量
                shadowColor: "#ccc",
                radius: 4,
                //shadowBlur: 10,
                x: -w / 2,
                y: -h / 2,
              },
            });
            /* group.addShape('rect', {
                            attrs: {
                                ...styles,
                                radius:2,
                                lineWidth:0,
								x: nodeOrigin.x,
								y: nodeOrigin.y,
                            },
                        }); */
            group.addShape("rect", {
              attrs: {
                x: nodeOrigin.x, // x轴位置
                y: nodeOrigin.y, // y轴位置
                width: w,
                height: 20,
                radius: [4, 4, 0, 0], //锐角化
                fill: cfg.principalMatchingRate
                  ? `l(45) 0:${
                      _this.colorObj[cfg.principalMatchingRate][0]
                    } 0.8:${_this.colorObj[cfg.principalMatchingRate][1]}`
                  : "#ccc", // 填充色
              },
            });
            group.addShape("text", {
              attrs: {
                ...textConfig, // 继承文字的对齐方式
                x: 10 + nodeOrigin.x,
                y: 14 + nodeOrigin.y,
                fill: "#fff",
                fontSize: 9,
                text: cfg.deptName ? `${cfg.deptName}` : "...", // 文字内容区域
              },
            });
            group.addShape("text", {
              attrs: {
                ...textConfig,
                fill: "#000",
                fontSize: 9,
                x: 10 + nodeOrigin.x,
                y: 40 + nodeOrigin.y,
                text: "负责人：", // 文字内容区域
              },
            });
            group.addShape("text", {
              attrs: {
                ...textConfig,
                fill: "#000",
                fontSize: 9,
                x: 52 + nodeOrigin.x,
                y: 40 + nodeOrigin.y,
                text: cfg.principal ? `${cfg.principal}` : "...", // 文字内容区域
              },
            });
            group.addShape("text", {
              attrs: {
                ...textConfig,
                fill: "#000",
                fontSize: 9,
                x: 10 + nodeOrigin.x,
                y: 60 + nodeOrigin.y,
                text: "岗   位：", // 文字内容区域
              },
            });
            group.addShape("text", {
              attrs: {
                ...textConfig,
                fill: "#000",
                fontSize: 9,
                x: 52 + nodeOrigin.x,
                y: 60 + nodeOrigin.y,
                text: cfg.principalJob ? `${cfg.principalJob}` : "...", // 文字内容区域
              },
            });
            if (cfg.children) {
              group.addShape("marker", {
                attrs: {
                  x: 85 - w / 2,
                  y: 100 - h / 2,
                  r: 6,
                  stroke: "#fff",
                  fill: "#dadada",
                  cursor: "pointer",
                  symbol: EXPAND_ICON,
                },
                visible: cfg.children.length == 0,
                name: "add-item",
              });
            }
            group.addShape("marker", {
              attrs: {
                x: 85 - w / 2,
                y: 100 - h / 2,
                r: 6,
                stroke: "#fff",
                fill: "#dadada",
                cursor: "pointer",
                symbol: COLLAPSE_ICON,
              },
              visible:
                cfg.children != undefined &&
                cfg.children &&
                cfg.children.length > 0,
              name: "remove-item",
            });
            group.addShape("rect", {
              attrs: {
                x: nodeOrigin.x, // x轴位置
                y: 70 + nodeOrigin.y, // y轴位置
                width: w,
                height: 20,
                radius: [0, 0, 4, 4], //锐角化
                fill: cfg.successorMatchingRate
                  ? `l(45) 0:${
                      _this.colorObj[cfg.successorMatchingRate][0]
                    } 0.8:${_this.colorObj[cfg.successorMatchingRate][1]}`
                  : "#ccc", // 填充色
              },
            });
            group.addShape("text", {
              attrs: {
                ...textConfig, // 继承文字的对齐方式
                x: 10 + nodeOrigin.x,
                y: 85 + nodeOrigin.y,
                fill: "#fff",
                fontSize: 7,
                text: cfg.successor
                  ? `${cfg.successor +'-'+ cfg.successorJob}`
                  : "...", // 文字内容区域
              },
            });
            return keyShape;
          },
          update(item, node) {
            let group = node.get("group");
            if (item.children.length > 0) {
              group.get("children")[7].cfg.visible = false;
            } else {
              group.get("children")[7].cfg.visible = true;
            }
            if (item.bool) {
              group.get("children")[8].cfg.visible = item.bool;
            } else {
              group.get("children")[8].cfg.visible = item.bool;
            }
          },
        },
        "rect"
      );
      //自定义边
      this.AdminNode.registerEdge("flow-line", {
        draw(cfg, group) {
          const startPoint = cfg.startPoint;
          const endPoint = cfg.endPoint;

          const { style } = cfg;
          const shape = group.addShape("path", {
            attrs: {
              stroke: style.stroke,
              endArrow: style.endArrow,
              path: [
                ["M", startPoint.x, startPoint.y],
                ["L", startPoint.x, (startPoint.y + endPoint.y) / 2],
                ["L", endPoint.x, (startPoint.y + endPoint.y) / 2],
                ["L", endPoint.x, endPoint.y - 24],
              ],
            },
          });

          return shape;
        },
      });

      const defaultStateStyles = {
        hover: {
          stroke: "#E7EFFF",
          lineWidth: 1,
        },
      };

      const defaultNodeStyle = {
        fill: "#E7EFFF",
        opacity: 1,
        stroke: "#E7EFFF",
        shadowOffsetX: 0, // 模板阴影的X轴偏移量
        shadowOffsetY: 0, // 模板阴影的Y轴偏移量
        shadowColor: "#999",
        //shadowBlur: 10,
        radius: 1,
      };

      const defaultEdgeStyle = {
        stroke: "#dadada",
        endArrow: {
          path: "M 0,0 L 8, 4 L 6,0 L 8, -4 Z",
          fill: "#dadada",
          d: -20,
        },
      };

      const defaultLayout = {
        type: "compactBox",
        direction: "TB",
        getId: function getId(d) {
          return d.id;
        },
        getHeight: function getHeight() {
          return 16;
        },
        getWidth: function getWidth() {
          return 16;
        },
        getVGap: function getVGap() {
          return 55;
        },
        getHGap: function getHGap() {
          return 100;
        },
      };

      const defaultLabelCfg = {
        style: {
          //position:'center',
          fill: "#000",
          fontSize: 12,
        },
      };

      const container = document.getElementById("container");
      const width = container.scrollWidth;
      const height = container.scrollHeight || 800;

      /* const minimap = new G6.Minimap({
				size: [150, 100],
			}); */
      this.graph = new this.AdminNode.TreeGraph({
        container: "container",
        width,
        height,
        linkCenter: true,
        fitView: true, //是否开启画布自适应
        //plugins: [minimap],
        modes: {
          default: ["drag-canvas", "zoom-canvas"],
        },
        defaultNode: {
          type: "admin-node", //自定义节点类型
          size: [180, 85], //节点容器默认宽高
          style: defaultNodeStyle,
          labelCfg: defaultLabelCfg,
        },
        defaultEdge: {
          type: "flow-line",
          style: defaultEdgeStyle,
        },
        nodeStateStyles: defaultStateStyles,
        edgeStateStyles: defaultStateStyles,
        layout: defaultLayout,
      });
      console.log(_this.nodeData, "_this.nodeData_this.nodeData_this.nodeData");

      this.graph.data(_this.dataObj);
      this.graph.render();
      this.graph.fitView();

      this.graph.on("node:mouseenter", (evt) => {
        const { item } = evt;
        //this.graph.setItemState(item, 'hover', true);
      });

      this.graph.on("node:mouseleave", (evt) => {
        const { item } = evt;
        //this.graph.setItemState(item, 'hover', false);
      });

      this.graph.on("node:click", (evt) => {
        const { item, target } = evt;
        const targetType = target.get("type");
        const name = target.get("name");
        // 增加元素
        if (targetType === "marker") {
          const model = item.getModel();
          const nodeId = model.id;
          const findNode = this.graph.find("node", (node) => {
            return node.get("model").id === nodeId;
          });
          const nodeChildren = _this.getTarget(nodeId, _this.nodeData);

          if (nodeChildren.children) {
            nodeChildren.children.map((item) => {
              if (item.children) {
                item.children = [];
              } else {
                item.children = null;
              }
            });
          }
          console.log(nodeChildren.children, "nodeIdnodeIdnodeIdnodeId");
          if (name === "add-item") {
            if (nodeChildren.children.length == 0) {
              this.$message.warning("没有更多数据了");
              return;
            }
            model.children = nodeChildren.children || null;
            if (model.children.length > 0) {
              this.graph.updateItem(findNode, { bool: true });
            }
            this.graph.updateChild(model, model.id);
          } else if (name === "remove-item") {
            //this.graph.removeChild(model.id);
            model.children = [];
            this.graph.updateItem(findNode, { bool: false });
            this.graph.updateChild(model, model.id);
          }
          this.graph.fitView();
        }
        if (name == "image-icon") {
          const { item } = evt;
          const model = item.getModel();
          const nodeId = model.id;
          this.$router.push({
            path: "/forum-management/forumModule/nodeTree2",
            query: { id: nodeId },
          });
        }
      });
      if (typeof window !== "undefined")
        window.onresize = () => {
          if (!this.graph || this.graph.get("destroyed")) return;
          if (!container || !container.scrollWidth || !container.scrollHeight)
            return;
          this.graph.changeSize(container.scrollWidth, container.scrollHeight);
        };
    },
  },
  mounted() {
    //this.graphAdminInit();
  },
  computed: {},
};
</script>
<style lang="scss" scoped>
#container {
  min-height: calc(100vh - 120px);
}
.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #eff1f6;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
</style>