<template>
	<div>
		<div id="container"></div>
	</div>
</template>

<script>
import G6 from '@antv/g6';
export default {
	props: ['orgObj'],
	inject: ['getNodeTree'],
	data() {
		return {
			AdminNode: G6,
			nodeData: null,
			graph: null,
			/* {
				id: 'root',
				label: 'root',
				label: '张杰',
				photo: require('@/assets/forum/53616425172584_.pic.jpg'),
				school: '人力资源部',
				experience: '人事',
				children: [
					{
						id: 'c1',
						label: '周敏',
						photo: require('@/assets/forum/5371645172585_.pic.jpg'),
						school: '行政部',
						experience: '行政',
						children: [
							{
								id: 'c1-1',
								label: '李雪',
								photo: require('@/assets/forum/5351645172584_.pic.jpg'),
								school: '财务部',
								experience: '绩效专员',
							},
							{
								id: 'c1-2',
								label: '黄晴',
								photo: require('@/assets/forum/5371645172585_.pic.jpg'),
								school: '财务部',
								experience: '绩效专员',
								children: [
									{
										id: 'c1-2-1',
										label: '李雪',
										photo: require('@/assets/forum/5371645172585_.pic.jpg'),
										school: '财务部',
										experience: '绩效专员',
									},
									{
										id: 'c1-2-2',
										label: '李雪',
										photo: require('@/assets/forum/5371645172585_.pic.jpg'),
										school: '财务部',
										experience: '绩效专员',
									},
								],
							},
						],
					},
					{
						id: 'c2',
						label: '李雪',
						photo: require('@/assets/forum/5351645172584_.pic.jpg'),
						school: '财务部',
						experience: '绩效专员',
					},
					{
						id: 'c3',
						label: '李雪',
						photo: require('@/assets/forum/5351645172584_.pic.jpg'),
						school: '财务部',
						experience: '绩效专员',
						children: [
							{
								id: 'c3-1',
								label: '李雪',
								photo: require('@/assets/forum/5371645172585_.pic.jpg'),
								school: '财务部',
								experience: '绩效专员',
							},
							{
								id: 'c3-2',
								label: '李雪',
								photo: require('@/assets/forum/53616425172584_.pic.jpg'),
								school: '财务部',
								experience: '绩效专员',
								children: [
									{
										id: 'c3-2-1',
										label: '李雪',
										photo: require('@/assets/forum/53616425172584_.pic.jpg'),
										school: '财务部',
										experience: '绩效专员',
									},
									{
										id: 'c3-2-2',
										label: '李雪',
										photo: require('@/assets/forum/53616425172584_.pic.jpg'),
										school: '财务部',
										experience: '绩效专员',
									},
									{
										id: 'c3-2-3',
										label: '李雪',
										photo: require('@/assets/forum/53616425172584_.pic.jpg'),
										school: '财务部',
										experience: '绩效专员',
									},
								],
							},
							{
								id: 'c3-3',
								label: '李雪',
								photo: require('@/assets/forum/5371645172585_.pic.jpg'),
								school: '财务部',
								experience: '绩效专员',
							},
						],
					},
				],
			}, */
		};
	},
	watch: {
		orgObj: function (newData, oldData) {
			this.nodeData = newData;
			/* if (newData[0].node == 'root') {
				this.nodeData = JSON.parse(JSON.stringify(newData[0]));
				if(newData[0].isChildNodeFlag){
					this.nodeData.children=[];
				}
				this.nodeData.children = [
					{
						deptName: '新增部门自动挂树12',
						deptPath: '龙旗集团>龙旗科技股份有限公司>新增部门自动挂树1',
						id: '10000009',
						isChildNodeFlag: false,
						person: { emplid: '10000001', name: '张三', sexDescr: '男', age: 32, hireDate: null, deptName: '龙旗科技股份有限公司' },
						personNum: 0,
						pid: '1000000001',
					},
				];
			}else{

			} */
			if (this.graph) {
				this.graph.changeData(this.nodeData);
			} else {
				this.graphNodeInit();
			}
		},
	},
	created() {},
	methods: {
		getBase64Image(img) {
			var w, h, _canv, _contex, cli;
			if (img.width > img.height) {
				w = img.height;
				h = img.height;
			} else {
				w = img.width;
				h = img.width;
			}
			_canv = document.createElement('canvas');
			_canv.width = w;
			_canv.height = h;
			_contex = _canv.getContext('2d');
			cli = {
				x: w / 2,
				y: h / 2,
				r: w / 2,
			};
			_contex.clearRect(0, 0, w, h);
			_contex.save();
			_contex.beginPath();
			_contex.arc(cli.x, cli.y, cli.r, 0, Math.PI * 2, false);
			_contex.clip();
			_contex.drawImage(img, 0, 0);
			var aaa = new Image();
			aaa.src = _canv.toDataURL('image/png');
			aaa.width = 200;
			aaa.height = 200;
			return aaa;
			//var dataURL = canvas.toDataURL("image/png");
		},
		getTarget(target, arr) {
			let data = JSON.parse(JSON.stringify(arr));
			var obj = {};
			function each(target, data) {
				for (let i = 0; i < data.length; i++) {
					if (data[i].id == target) {
						obj = data[i];
					} else if ('children' in data[i] && data[i].children != null && data[i].children.length > 0) {
						each(target, data[i].children);
					}
				}
			}
			each(target, data);
			return obj;
		},
		graphNodeInit() {
			const _this = this;
			//关闭按钮
			const COLLAPSE_ICON = function COLLAPSE_ICON(x, y, r) {
				return [
					['M', x - r, y - r],
					['a', r, r, 0, 1, 0, r * 3, 0],
					['a', r, r, 0, 1, 0, -r * 3, 0],
					['M', x + 2 - r, y - r],
					['L', x + r + 4, y - r],
				];
			};
			//展开按钮
			const EXPAND_ICON = function EXPAND_ICON(x, y, r) {
				return [
					['M', x - r, y - r],
					['a', r, r, 0, 1, 0, r * 3, 0],
					['a', r, r, 0, 1, 0, -r * 3, 0],
					['M', x + 2 - r, y - r],
					['L', x + r + 4, y - r],
					['M', x + 3, y - 2 * r - 2],
					['L', x + 3, y - 0],
				];
			};
			this.AdminNode.registerNode(
				'admin-node',
				{
					shapeType: 'admin-node',
					draw(cfg, group) {
						const styles = this.getShapeStyle(cfg);
						const { labelCfg = {} } = cfg;
						const defWhdth = styles.width;
						styles.width = cfg.node != 'root' ? styles.height : styles.width;
						styles.height = cfg.node != 'root' ? defWhdth : styles.height;
						const w = styles.width;
						const h = styles.height;
						// 规定文字位置，对齐方式
						const textConfig = {
							textAlign: 'center',
							textBaseline: 'bottom',
						};
						/* const nodeOrigin = {
							x: -w / 2,
							y: -h / 2,
						}; */
						const keyShape = group.addShape('rect', {
							attrs: {
								...styles,
								fill: '#3d7eff',
								//stroke: '#ffffff',
								/* shadowOffsetX: 0, // 模板阴影的X轴偏移量
								shadowOffsetY: 0, // 模板阴影的Y轴偏移量
								shadowColor: '#ccc',
								shadowBlur: 10, */
								x: -w / 2,
								y: -h / 2,
							},
						});
						/* group.addShape('rect', {
							attrs: {
								x: nodeOrigin.x, // x轴位置
								y: nodeOrigin.y, // y轴位置
								width: 150,
								height: 20,
								// radius: [0, 0, rectConfig.radius, rectConfig.radius],//锐角化
								fill: '#3d7eff', // 填充色
							},
						}); */
						//console.log(styles);
						if (cfg.node == 'root') {
							group.addShape('text', {
								attrs: {
									...textConfig, // 继承文字的对齐方式
									x: 0,
									y: cfg.node == 'root' ? 0 + 5 : -h / 2 + 10,
									fill: '#ffffff',
									fontSize: 12,
									text: `${cfg.deptName}(${cfg.personNum})`, // 文字内容区域
								},
							});
						} else {
							/* group.addShape('text', {
								attrs: {
									...textConfig, // 继承文字的对齐方式
									x: 0,
									y: -h / 2 + 15 + 0 * 15,
									fill: '#ffffff',
									fontSize: 12,
									text: cfg.id, // 文字内容区域
								},
							}); */
							for (let i = 0; i < cfg.deptName.length; i++) {
								group.addShape('text', {
									attrs: {
										...textConfig, // 继承文字的对齐方式
										x: 0,
										y: -h / 2 + 15 + (i + 1) * 15,
										fill: '#ffffff',
										fontSize: 12,
										text: cfg.deptName[i], // 文字内容区域
									},
								});
							}
							group.addShape('text', {
								attrs: {
									...textConfig, // 继承文字的对齐方式
									x: 0,
									y: -h / 2 + 15 + (cfg.deptName.length + 1) * 15,
									fill: '#ffffff',
									fontSize: 12,
									text: `(${cfg.personNum})`, // 文字内容区域
								},
							});
						}
						// 如果不需要动态增加或删除元素，则不需要 add 这两个 marker
						//添加按钮
						if (cfg.children) {
							group.addShape('marker', {
								attrs: {
									x: -3,
									y: cfg.node == 'root' ? 27 : h / 2 + 10,
									r: 6,
									stroke: '#fff',
									fill: '#dadada',
									cursor: 'pointer',
									symbol: EXPAND_ICON,
								},
								visible: cfg.children.length == 0,
								name: 'add-item',
							});
						}
						group.addShape('marker', {
							attrs: {
								x: -3,
								y: cfg.node == 'root' ? 27 : h / 2 + 10,
								r: 6,
								stroke: '#fff',
								fill: '#dadada',
								cursor: 'pointer',
								symbol: COLLAPSE_ICON,
							},
							visible: cfg.children != undefined && cfg.children && cfg.children.length > 0,
							name: 'remove-item',
						});
						return keyShape;
					},
					update(item, node) {
						let group = node.get('group');
						if (item.children.length > 0) {
							group.get('children')[group.get('children').length - 2].cfg.visible = false;
						} else {
							group.get('children')[group.get('children').length - 2].cfg.visible = true;
						}
						if (item.bool) {
							group.get('children')[group.get('children').length - 1].cfg.visible = item.bool;
						} else {
							group.get('children')[group.get('children').length - 1].cfg.visible = item.bool;
						}
					},
				},
				'rect'
			);
			//自定义边
			this.AdminNode.registerEdge('flow-line', {
				draw(cfg, group) {
					const startPoint = cfg.startPoint;
					const endPoint = cfg.endPoint;
					const { style } = cfg;
					const shape = group.addShape('path', {
						attrs: {
							stroke: style.stroke,
							endArrow: style.endArrow,
							path: [
								['M', startPoint.x, startPoint.y],
								['L', startPoint.x, (startPoint.y + endPoint.y) / 2],
								['L', endPoint.x, (startPoint.y + endPoint.y) / 2],
								['L', endPoint.x, endPoint.y - 91],
							],
						},
					});

					return shape;
				},
			});

			const defaultStateStyles = {
				hover: {
					stroke: '#E7EFFF',
					lineWidth: 1,
				},
			};

			const defaultNodeStyle = {
				fill: '#E7EFFF',
				opacity: 1,
				stroke: '#E7EFFF',
				shadowOffsetX: 0, // 模板阴影的X轴偏移量
				shadowOffsetY: 0, // 模板阴影的Y轴偏移量
				shadowColor: '#999',
				//shadowBlur: 10,
				radius: 1,
			};

			const defaultEdgeStyle = {
				stroke: '#dadada',
				endArrow: {
					path: 'M 0,0 L 8, 4 L 6,0 L 8, -4 Z',
					fill: '#dadada',
					d: -20,
				},
			};

			const defaultLayout = {
				type: 'compactBox',
				direction: 'TB',
				getId: function getId(d) {
					return d.id;
				},
				getHeight: function getHeight() {
					return 16;
				},
				getWidth: function getWidth() {
					return 16;
				},
				getVGap: function getVGap(d) {
					return 150;
				},
				getHGap: function getHGap() {
					return 30;
				},
			};

			const defaultLabelCfg = {
				style: {
					//position:'center',
					fill: '#000',
					fontSize: 12,
				},
			};

			const container = document.getElementById('container');
			const width = container.scrollWidth;
			const height = container.scrollHeight || 600;

			/* const minimap = new G6.Minimap({
				size: [150, 100],
			}); */
			const graph = new this.AdminNode.TreeGraph({
				container: 'container',
				width,
				height,
				linkCenter: true,
				fitView: true, //是否开启画布自适应
				//plugins: [minimap],
				//fitViewPadding:[-(height*0.2),20,20,20],
				modes: {
					default: ['drag-canvas', 'zoom-canvas'],
				},
				defaultNode: {
					type: 'admin-node', //自定义节点类型
					size: [220, 30], //节点容器默认宽高
					style: defaultNodeStyle,
					labelCfg: defaultLabelCfg,
				},
				defaultEdge: {
					type: 'flow-line',
					style: defaultEdgeStyle,
				},
				nodeStateStyles: defaultStateStyles,
				edgeStateStyles: defaultStateStyles,
				layout: defaultLayout,
			});
			graph.data(_this.nodeData);
			graph.render();
			graph.fitView();
			this.graph = graph;
			graph.on('node:mouseenter', (evt) => {
				const { item } = evt;
				//graph.setItemState(item, 'hover', true);
			});

			graph.on('node:mouseleave', (evt) => {
				const { item } = evt;
				//graph.setItemState(item, 'hover', false);
			});

			graph.on('node:click', async (evt) => {
				const { item, target } = evt;
				const targetType = target.get('type');
				const name = target.get('name');
				//target.get('name') === 'close-icon-shape' //根据name获取节点
				// 增加元素
				if (targetType === 'marker') {
					const model = item.getModel();
					const nodeId = model.id;
					const findNode = graph.find('node', (node) => {
						return node.get('model').id === nodeId;
					});
					await _this.getNodeTree(model);
					const nodeChildren = _this.getTarget(nodeId, [_this.nodeData]);
					if (nodeChildren.children) {
						nodeChildren.children.map((item) => {
							if (item.children) {
								item.children = [];
							} else {
								item.children = null;
							}
						});
					}
					if (name === 'add-item') {
						if (!nodeChildren.children) {
							this.$message.warning('没有更多数据了');
							return;
						}
						model.children = nodeChildren.children || null;
						if (model.children.length > 0) {
							graph.updateItem(findNode, { bool: true });
						}
						graph.updateChild(model, model.id);
					} else if (name === 'remove-item') {
						//graph.removeChild(model.id);
						model.children = [];
						graph.updateItem(findNode, { bool: false });
						graph.updateChild(model, model.id);
					}
					//graph.fitView();
				}
				if (targetType == 'rect' || targetType == 'text') {
					/* const { item } = evt;
					const model = item.getModel();
					const nodeId = model.id;
					this.$router.push({ path: '/forum-management/forumModule/nodeTree', query: { id: nodeId } }); */
				}
			});
			if (typeof window !== 'undefined')
				window.onresize = () => {
					if (!graph || graph.get('destroyed')) return;
					if (!container || !container.scrollWidth || !container.scrollHeight) return;
					graph.changeSize(container.scrollWidth, container.scrollHeight);
				};
		},
	},
	computed: {},
};
</script>
<style lang="scss" scoped>
#container {
	min-height: calc(100vh - 120px);
}
.card-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 1px solid #eff1f6;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
</style>