<template>
	<div>
		<div id="container"></div>
	</div>
</template>

<script>
import G6 from '@antv/g6';
export default {
	props: ['orgObj2','isChangeData'],
	inject: ['getNodeTree'],
	data() {
		return {
			AdminNode: G6,
			nodeData: null,
			graph: null,
			nodeData: null
		};
	},
	watch: {
		orgObj2: {
			immediate: true,
			handler(newData) {
				this.$nextTick(() => {
					if (newData == null) return;
					if (this.graph && this.isChangeData) {
						this.graph.destroy();
						this.graph = null;
					}
					this.nodeData = newData;
					this.graphNodeInit();
				});
			},
			deep: true,
		},
	},
	methods: {
		getBase64Image(img) {
			var w, h, _canv, _contex, cli;
			if (img.width > img.height) {
				w = img.height;
				h = img.height;
			} else {
				w = img.width;
				h = img.width;
			}
			_canv = document.createElement('canvas');
			_canv.width = w;
			_canv.height = h;
			_contex = _canv.getContext('2d');
			cli = {
				x: w / 2,
				y: h / 2,
				r: w / 2,
			};
			_contex.clearRect(0, 0, w, h);
			_contex.save();
			_contex.beginPath();
			_contex.arc(cli.x, cli.y, cli.r, 0, Math.PI * 2, false);
			_contex.clip();
			_contex.drawImage(img, 0, 0);
			var aaa = new Image();
			aaa.src = _canv.toDataURL('image/png');
			aaa.width = 200;
			aaa.height = 200;
			return aaa;
			//var dataURL = canvas.toDataURL("image/png");
		},
		getTarget(target, arr) {
			let data = JSON.parse(JSON.stringify(arr));
			var obj = {};
			function each(target, data) {
				for (let i = 0; i < data.length; i++) {
					if (data[i].id == target) {
						obj = data[i];
					} else if ('children' in data[i] && data[i].children != null && data[i].children.length > 0) {
						each(target, data[i].children);
					}
				}
			}
			each(target, data);
			return obj;
		},
		graphNodeInit() {
			const _this = this;
			if(this.graph) return;
			//关闭按钮
			const COLLAPSE_ICON = function COLLAPSE_ICON(x, y, r) {
				return [
					['M', x - r, y - r],
					['a', r, r, 0, 1, 0, r * 2, 0],
					['a', r, r, 0, 1, 0, -r * 2, 0],
					['M', x + 2 - r, y - r],
					['L', x + r - 2, y - r],
				];
			};
			//展开按钮
			const EXPAND_ICON = function EXPAND_ICON(x, y, r) {
				return [
					['M', x - r, y - r],
					['a', r, r, 0, 1, 0, r * 2, 0],
					['a', r, r, 0, 1, 0, -r * 2, 0],
					['M', x + 2 - r, y - r],
					['L', x + r - 2, y - r],
					['M', x, y - 2 * r + 2],
					['L', x, y - 2],
				];
			};
			G6.registerNode(
				'admin-node',
				{
					shapeType: 'admin-node',
					draw(cfg, group) {
						const styles = this.getShapeStyle(cfg);
						const { labelCfg = {} } = cfg;
						const w = styles.width;
						const h = styles.height;
						// 规定文字位置，对齐方式
						const textConfig = {
							textAlign: 'left',
							textBaseline: 'bottom',
						};
						const nodeOrigin = {
							x: -w / 2,
							y: -h / 2,
						};
						const keyShape = group.addShape('rect', {
							attrs: {
								...styles,
								fill: '#ffffff',
								stroke: '#ffffff',
								shadowOffsetX: 0, // 模板阴影的X轴偏移量
								shadowOffsetY: 0, // 模板阴影的Y轴偏移量
								shadowColor: '#ccc',
								shadowBlur: 10,
								x: -w / 2,
								y: -h / 2,
							},
						});

						/**
						 * leftIcon 格式如下：
						 *  {
						 *    style: ShapeStyle;
						 *    img: ''
						 *  }
						 */
						/* if (cfg.leftIcon) {
							const { style, img } = cfg.leftIcon;
							
						} */
						group.addShape('rect', {
							attrs: {
								x: nodeOrigin.x, // x轴位置
								y: nodeOrigin.y, // y轴位置
								width: 150,
								height: 20,
								// radius: [0, 0, rectConfig.radius, rectConfig.radius],//锐角化
								fill: '#ffffff', // 填充色
							},
						});
						group.addShape('text', {
							attrs: {
								...textConfig, // 继承文字的对齐方式
								x: 10 + nodeOrigin.x,
								y: 14 + nodeOrigin.y,
								fill: '#000000',
								fontSize: 9,
								text: cfg.person?.name, // 文字内容区域
							},
						});
						group.addShape('text', {
							attrs: {
								...textConfig, // 继承文字的对齐方式
								x: 42.5 + nodeOrigin.x, // x轴位置
								y: 14 + nodeOrigin.y, // y轴位置
								fill: '#344a94',
								fontSize: 8,
								text: cfg.person?.emplid, // 文字内容区域
							},
						});
						group.addShape('rect', {
							attrs: {
								x: 155 + nodeOrigin.x, // x轴位置
								y: 4 + nodeOrigin.y, // y轴位置
								width: 20,
								height: 12,
								radius: 4, //锐角化
								fill: '#344a94', // 填充色
							},
						});
						group.addShape('text', {
							attrs: {
								...textConfig, // 继承文字的对齐方式
								x: 158.5 + nodeOrigin.x,
								y: 14 + nodeOrigin.y,
								fill: '#ffffff',
								fontSize: 9,
								text: cfg.person?.posnGrdeId, // 文字内容区域
							},
						});
						group.addShape('rect', {
							attrs: {
								x: nodeOrigin.x,
								y: 20 + nodeOrigin.y,
								width: w,
								height: 0.5,
								fill: '#b3b3b3',
								opacity: 0.35,
							},
						});
						var img = new Image();
						img.src = cfg.photo;
						img.setAttribute('crossOrigin', 'Anonymous');
						img.onload = function () {
							group.addShape('image', {
								attrs: {
									x: 10 - w / 2,
									y: 30 - h / 2,
									width: 40,
									lineWidth: 0,
									radius: [2, 4],
									height: 40,
									img: _this.getBase64Image(cfg.person?.photoUrl),
								},
								name: 'image-shape',
							});
						};

						/* cnm.setClip({
                            img: 'http://116.62.45.228:31000/hcm-files/20220106/9ebf345df75f491fbd2304035a497dbe.jpeg',
  show: true,
  type: 'circle',
  r: 100
}) */
						/* const keyShape = group.addShape('rect', {
							attrs: {
								...styles,
                                radius:2,
                                lineWidth:0,
								x: nodeOrigin.x,
								y: nodeOrigin.y,
							},
						}); */
						/* group.addShape('rect', {
							attrs: {
								x: nodeOrigin.x, // x轴位置
								y: nodeOrigin.y, // y轴位置
								width: w,
                                radius:2,
								height: h * 0.66,
								// radius: [0, 0, rectConfig.radius, rectConfig.radius],//锐角化
								 // 填充色
							},
						}); */
						group.addShape('text', {
							attrs: {
								...textConfig,
								fill: '#344a94',
								fontSize: 11,
								x: 58 + nodeOrigin.x,
								y: 50 + nodeOrigin.y,
								text: cfg.person?.positionName, // 文字内容区域
							},
						});
						/* group.addShape('text', {
							attrs: {
								...textConfig, // 继承文字的对齐方式
								x: 75 + nodeOrigin.x,
								y: 30 + nodeOrigin.y,
								fill: '#7F7F7F',
								fontSize: 9,
								text: cfg.age, // 文字内容区域
							},
						}); */
						group.addShape('text', {
							attrs: {
								...textConfig, // 继承文字的对齐方式
								x: 58 + nodeOrigin.x,
								y: 65 + nodeOrigin.y,
								fill: '#7F7F7F',
								fontSize: 9,
								text: cfg.person?.deptName, // 文字内容区域
							},
						});
						group.addShape('rect', {
							attrs: {
								x: nodeOrigin.x,
								y: 75 + nodeOrigin.y,
								width: w,
								height: 55,
								fill: '#f2f2f2',
								opacity: 0.35,
							},
						});
						group.addShape('text', {
							attrs: {
								...textConfig, // 继承文字的对齐方式
								x: 10 + nodeOrigin.x,
								y: 90 + nodeOrigin.y,
								fill: '#000000',
								fontSize: 9,
								text: '年龄', // 文字内容区域
							},
						});
						group.addShape('text', {
							attrs: {
								...textConfig, // 继承文字的对齐方式
								x: 10 + nodeOrigin.x,
								y: 105 + nodeOrigin.y,
								fill: '#7F7F7F',
								fontSize: 8,
								text: cfg.person?.age, // 文字内容区域
							},
						});
						/* group.addShape('rect', {
							attrs: {
								x: 35+nodeOrigin.x,
								y: 83 + nodeOrigin.y,
								width: 0.5,
								height: 22,
								fill: '#b3b3b3',
								opacity: 0.35
							}
						}) */
						group.addShape('text', {
							attrs: {
								...textConfig, // 继承文字的对齐方式
								x: 45 + nodeOrigin.x,
								y: 90 + nodeOrigin.y,
								fill: '#000000',
								fontSize: 9,
								text: '学历', // 文字内容区域
							},
						});
						group.addShape('text', {
							attrs: {
								...textConfig, // 继承文字的对齐方式
								x: 45 + nodeOrigin.x,
								y: 105 + nodeOrigin.y,
								fill: '#7F7F7F',
								fontSize: 8,
								text: cfg.person?.edctBakgDescr, // 文字内容区域
							},
						});
						/* group.addShape('rect', {
							attrs: {
								x: 65+nodeOrigin.x,
								y: 85 + nodeOrigin.y,
								width: 0.5,
								height: 22,
								fill: '#b3b3b3',
								opacity: 0.35
							}
						}) */
						group.addShape('text', {
							attrs: {
								...textConfig, // 继承文字的对齐方式
								x: 80 + nodeOrigin.x,
								y: 90 + nodeOrigin.y,
								fill: '#000000',
								fontSize: 9,
								text: '毕业院校', // 文字内容区域
							},
						});
						group.addShape('text', {
							attrs: {
								...textConfig, // 继承文字的对齐方式
								x: 80 + nodeOrigin.x,
								y: 105 + nodeOrigin.y,
								fill: '#7F7F7F',
								fontSize: 8,
								text: cfg.person?.edctSchl, // 文字内容区域
							},
						});
						/* group.addShape('rect', {
							attrs: {
								x: 110+nodeOrigin.x,
								y: 83 + nodeOrigin.y,
								width: 0.5,
								height: 22,
								fill: '#b3b3b3',
								opacity: 0.35
							}
						}) */
						group.addShape('text', {
							attrs: {
								...textConfig, // 继承文字的对齐方式
								x: 132 + nodeOrigin.x,
								y: 90 + nodeOrigin.y,
								fill: '#000000',
								fontSize: 9,
								text: '专业', // 文字内容区域
							},
						});
						group.addShape('text', {
							attrs: {
								...textConfig, // 继承文字的对齐方式
								x: 132 + nodeOrigin.x,
								y: 105 + nodeOrigin.y,
								fill: '#7F7F7F',
								fontSize: 8,
								text: cfg.person?.edctPrfn, // 文字内容区域
							},
						});
						group.addShape('rect', {
							attrs: {
								x: nodeOrigin.x,
								y: 110 + nodeOrigin.y,
								width: w,
								height: 0.5,
								fill: '#b3b3b3',
								opacity: 0.35,
							},
						});
						group.addShape('image', {
							attrs: {
								x: 165 + nodeOrigin.x,
								y: 114 + nodeOrigin.y,
								width: 10,
								lineWidth: 0,
								height: 10,
								cursor: 'pointer',
								img: require('@/assets/forum/selc.jpg'),
							},
							name: 'image-icon',
						});
						// 如果不需要动态增加或删除元素，则不需要 add 这两个 marker
						//添加按钮
						if (cfg.children) {
							group.addShape('marker', {
								attrs: {
									x: 90 - w / 2,
									y: 140 - h / 2,
									r: 6,
									stroke: '#fff',
									fill: '#dadada',
									cursor: 'pointer',
									symbol: EXPAND_ICON,
								},
								visible: cfg.children.length == 0,
								name: 'add-item',
							});
						}
						group.addShape('marker', {
							attrs: {
								x: 90 - w / 2,
								y: 140 - h / 2,
								r: 6,
								stroke: '#fff',
								fill: '#dadada',
								cursor: 'pointer',
								symbol: COLLAPSE_ICON,
							},
							visible: cfg.children != undefined && cfg.children && cfg.children.length > 0,
							name: 'remove-item',
						});
						return keyShape;
					},
					update(item, node) {
						let group = node.get('group');
						if (item.children.length > 0) {
							group.get('children')[group.get('children').length - 2].cfg.visible = false;
						} else {
							group.get('children')[group.get('children').length - 2].cfg.visible = true;
						}
						if (item.bool) {
							group.get('children')[group.get('children').length - 1].cfg.visible = item.bool;
						} else {
							group.get('children')[group.get('children').length - 1].cfg.visible = item.bool;
						}
					},
				},
				'rect'
			);
			//自定义边
			G6.registerEdge('flow-line', {
				draw(cfg, group) {
					const startPoint = cfg.startPoint;
					const endPoint = cfg.endPoint;

					const { style } = cfg;
					const shape = group.addShape('path', {
						attrs: {
							stroke: style.stroke,
							endArrow: style.endArrow,
							path: [
								['M', startPoint.x, startPoint.y],
								['L', startPoint.x, (startPoint.y + endPoint.y) / 2],
								['L', endPoint.x, (startPoint.y + endPoint.y) / 2],
								['L', endPoint.x, endPoint.y - 46],
							],
						},
					});

					return shape;
				},
			});

			const defaultStateStyles = {
				hover: {
					stroke: '#E7EFFF',
					lineWidth: 1,
				},
			};

			const defaultNodeStyle = {
				fill: '#E7EFFF',
				opacity: 1,
				stroke: '#E7EFFF',
				shadowOffsetX: 0, // 模板阴影的X轴偏移量
				shadowOffsetY: 0, // 模板阴影的Y轴偏移量
				shadowColor: '#999',
				//shadowBlur: 10,
				radius: 1,
			};

			const defaultEdgeStyle = {
				stroke: '#dadada',
				endArrow: {
					path: 'M 0,0 L 8, 4 L 6,0 L 8, -4 Z',
					fill: '#dadada',
					d: -20,
				},
			};

			const defaultLayout = {
				type: 'compactBox',
				direction: 'TB',
				getId: function getId(d) {
					return d.id;
				},
				getHeight: function getHeight() {
					return 16;
				},
				getWidth: function getWidth() {
					return 16;
				},
				getVGap: function getVGap() {
					return 80;
				},
				getHGap: function getHGap() {
					return 100;
				},
			};

			const defaultLabelCfg = {
				style: {
					//position:'center',
					fill: '#000',
					fontSize: 12,
				},
			};

			const container = document.getElementById('container');
			const width = container.scrollWidth;
			const height = container.scrollHeight || 800;

			/* const minimap = new G6.Minimap({
				size: [150, 100],
			}); */
			_this.graph = new G6.TreeGraph({
				container: 'container',
				width,
				height,
				linkCenter: true,
				minZoom:1,
				maxZoom:8,
				//fitView:true,//是否开启画布自适应
				//plugins: [minimap],
				modes: {
					default: ['drag-canvas', 'zoom-canvas'],
				},
				defaultNode: {
					type: 'admin-node', //自定义节点类型
					size: [180, 130], //节点容器默认宽高
					style: defaultNodeStyle,
					labelCfg: defaultLabelCfg,
				},
				defaultEdge: {
					type: 'flow-line',
					style: defaultEdgeStyle,
				},
				nodeStateStyles: defaultStateStyles,
				edgeStateStyles: defaultStateStyles,
				layout: defaultLayout,
			});
			_this.graph.data(_this.nodeData);
			_this.graph.render();
			_this.graph.fitView();

			_this.graph.on('node:mouseenter', (evt) => {
				const { item } = evt;
				//graph.setItemState(item, 'hover', true);
			});

			_this.graph.on('node:mouseleave', (evt) => {
				const { item } = evt;
				//graph.setItemState(item, 'hover', false);
			});

			_this.graph.on('node:click', async (evt) => {
				const { item, target } = evt;
				const targetType = target.get('type');
				const name = target.get('name');
				//target.get('name') === 'close-icon-shape' //根据name获取节点
				// 增加元素
				if (targetType === 'marker') {
					const model = item.getModel();
					console.log(model);
					const nodeId = model.id;
					console.log(nodeId);
					const findNode = _this.graph.find('node', (node) => {
						return node.get('model').id === nodeId;
					});
					if(name === 'add-item'){
						await _this.getNodeTree(model,2);
					}
					const nodeChildren = _this.getTarget(nodeId, [_this.nodeData]);
					if (nodeChildren.children) {
						nodeChildren.children.map((item) => {
							if (item.children) {
								item.children = [];
							} else {
								item.children = null;
							}
						});
					}
					if (name === 'add-item') {
						if (!nodeChildren.children) {
							this.$message.warning('没有更多数据了');
							return;
						}
						model.children = nodeChildren.children || null;
						if (model.children.length > 0) {
							_this.graph.updateItem(findNode, { bool: true });
						}
						_this.graph.updateChild(model, model.id);
					} else if (name === 'remove-item') {
						//graph.removeChild(model.id);
						model.children = [];
						_this.graph.updateItem(findNode, { bool: false });
						_this.graph.updateChild(model, model.id);
					}
					//graph.fitView();
				}
				if (targetType == 'rect' || targetType == 'text') {
					/* const { item } = evt;
					const model = item.getModel();
					const nodeId = model.id;
					this.$router.push({ path: '/forum-management/forumModule/nodeTree', query: { id: nodeId } }); */
				}
			});
			if (typeof window !== 'undefined')
				window.onresize = () => {
					if (!_this.graph || _this.graph.get('destroyed')) return;
					if (!container || !container.scrollWidth || !container.scrollHeight) return;
					_this.graph.changeSize(container.scrollWidth, container.scrollHeight);
				};
		},
	},
	mounted() {
		//this.graphNodeInit();
	},
	computed: {},
};
</script>
<style lang="scss" scoped>
#container {
	min-height: calc(100vh - 120px);
}
.card-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 1px solid #eff1f6;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
</style>