<!--标准岗位组件-->
<template>
  <el-select
    v-model="currentValue"
    filterable
    remote
    reserve-keyword
    :placeholder="placeholder"
    :remote-method="getInfo"
    :loading="staffLoading"
    style="width: 100%"
    v-bind="$attrs"
    :clearable="clearable"
  >
    <i v-if="prefix" slot="prefix" class="el-input__icon" :class="prefix"></i>
    <el-option
      v-for="item in postList"
      :key="item.stdPosnId"
      :label="item.stdPosnDescr"
      :value="item.stdPosnId"
      @click.native="handleSelectClick(item)"
    >
      {{ item.stdPosnId + "-" + item.stdPosnDescr  }}
    </el-option>
  </el-select>
</template>
<script>
export default {
  model: {
    prop: "value",
    event: "input",
  },
  props: {
    value: String,
    prefix: String,
    placeholder: {
      type: String,
      default: "请输入",
    },
    operateType: {
      type: String,
      default: "add",
    },
    clearable: {
      type: Boolean,
      default: false,
    },
    dialogVisible: Boolean,
    modelFormValue: Object,
  },
  data() {
    return {
      postList: [],
      staffLoading: false,
    };
  },
  computed: {
    currentValue: {
      get() {
        return this.value;
      },

      set(value) {
        this.$emit("input", value);
      },
    },
  },
  watch: {
    value: {
      immediate: true,
      handler(newVal, oldVal) {
        if (newVal !== oldVal) {
          if (newVal) {
            const selected = this.postList.find(
              (opt) => opt.stdPosnId === newVal
            );
            this.$emit("change", selected);
          }
        }
      },
    },
    dialogVisible: {
      immediate: true,
      handler(newVal, oldVal) {
        console.log(newVal);
        let vm = this;
        if (newVal) {
          if (vm.operateType == "edit") {
            vm.getInfo(vm.modelFormValue.stdPosnDescr);
          }
        }
      },
    },
  },
  methods: {
    //获取标准岗位信息
    getInfo(queryString) {
      let vm = this;
      let timeout = null;
      if (timeout !== null) {
        clearTimeout(timeout);
      }
      if (queryString !== "") {
        let params = {
          postName: queryString,
        };
        vm.staffLoading = true;
        timeout = setTimeout(() => {
          this.api.baseInfo.baseInfoApi.getDmposnsysListAll(params).then((res) => {
            vm.staffLoading = false;
            if (res && res.data) {
              vm.postList = res.data;
            } else {
            }
          });
        }, 500);
      } else {
        vm.postList = [];
      }
    },
    handleSelectClick(item) {
      this.$emit("inputName", item.stdPosnDescr);
      this.$emit("inputAll", item);
    },
  },
};
</script>