<!-- @format -->

<template>
	<div class="table">
		<!-- 具名插槽，表格名字 -->
		<table-search :flgDiv="flgDiv" :collapse-enable="collapseEnable" v-if="$slots['table-title']">
			<template #table-title>
				<slot name="table-title"></slot>
			</template>
			<template #collapse-operation>
				<slot name="collapse-operation"></slot>
			</template>
			<template #collapse-icon>
				<slot name="collapse-icon"></slot>
			</template>
		</table-search>

		<table-search :flgDiv="flgDiv" :collapse-enable="collapseEnable" v-if="$slots['user-title']">
			<template #user-title>
				<slot name="user-title"></slot>
			</template>
			<template #collapse-operation>
				<slot name="collapse-operation"></slot>
			</template>
			<template #collapse-icon>
				<slot name="collapse-icon"></slot>
			</template>
		</table-search>
		<table-result :flgDiv="flgDiv">
			<template #table-operation>
				<slot name="table-operation"></slot>
			</template>
			<slot></slot>
			<template #pagination>
				<app-pagination v-if="paginationShow && total > 0" :total="total" :pageSize="pageSize" :currentPage="currentPage" ref="pagination" @changePageSize="changePageSize" @change="changeIndex" />
			</template>
			<template #table-footer>
				<slot name="table-footer"></slot>
			</template>
		</table-result>
	</div>
</template>
<script>
import appPagination from "@/components/base/appPagination";
import TableResult from './table-result';
import TableSearch from './table-search';
export default {
	name: 'appGlobalTableCard',
	props: {
		// 渲染表格的数据
		tableDatasList: {
			type: Array,
			default() {
				return [];
			},
		},
		total: {
			type: Number,
			default: 0,
		},
		flgDiv: { type: Boolean, default: false },
		collapseEnable: Boolean,
		immediately: {
			type: Boolean,
			default: true,
		},
	},
	components: {
		TableSearch,
		TableResult,
		appPagination
	},
	data() {
		return {
			paginationShow: true,
			pageSize: 10,
			currentPage: 1,
		};
	},
	created() {},
	methods: {
		changeIndex(index) {
			const _this = this;
			this.currentPage = index;
			setTimeout(() => {
				console.log(_this.currentPage);
			}, 2000);
			this.paginationShow = false;
			this.$emit('submit-form', index, this.pageSize);
			// 重新渲染分页
			this.$nextTick(() => {
				this.paginationShow = true;
			});
		},
		changePageSize(val) {
			this.pageSize = val;
			this.currentPage = 1;
			this.paginationShow = false;
			this.$emit('submit-form', 1, this.pageSize);
			// 重新渲染分页
			this.$nextTick(() => {
				this.paginationShow = true;
			});
		},
	},
	mounted() {
		if (this.immediately) {
			this.$emit('submit-form', 1, this.pageSize);
		}
	},
	watch: {
		tableDatasList: function (value) {
			if (this.$refs.pagination && value.length === 0 && this.$refs.pagination.currentPage !== 1) {
				// 如果是删的最后一页，则手动减一
				let currentPage = this.$refs.pagination.currentPage;
				let pageSize = this.$refs.pagination.pageSize;
				let total = this.$refs.pagination.total;
				if (currentPage * pageSize > total) {
					currentPage--;
				}
				this.changeIndex(currentPage > 0 ? currentPage : 1);
			}
		},
	},
};
</script>
<style lang="scss" scoped></style>
