<!-- @format -->

<template>
	<div>
		<div v-if="flgDiv">
			<div class="table-search mb20" v-if="$slots['table-title']">
				<!-- <app-sub-title class="sub-title" title="查询条件"></app-sub-title> -->
				<table-search-collapse :enable="collapseEnable">
					<template #collapse-body>
						<slot name="table-title"></slot>
					</template>
					<template #collapse-operation>
						<slot name="collapse-operation"></slot>
					</template>
				</table-search-collapse>
			</div>

			<div class="table-search" v-if="$slots['user-title']">
				<table-search-collapse :enable="collapseEnable">
					<template #collapse-body>
						<slot name="user-title"></slot>
					</template>
					<template #collapse-operation>
						<slot name="collapse-operation"></slot>
					</template>
				</table-search-collapse>
			</div>
		</div>
		<div v-else>
			<el-card class="table-search" v-if="$slots['table-title']">
				<app-sub-title class="sub-title" title="查询条件"></app-sub-title>
				<table-search-collapse :enable="collapseEnable">
					<template #collapse-body>
						<slot name="table-title"></slot>
					</template>
					<template #collapse-operation>
						<slot name="collapse-operation"></slot>
					</template>
				</table-search-collapse>
			</el-card>

			<el-card class="table-search" v-if="$slots['user-title']">
				<table-search-collapse :enable="collapseEnable">
					<template #collapse-body>
						<slot name="user-title"></slot>
					</template>
					<template #collapse-operation>
						<slot name="collapse-operation"></slot>
					</template>
				</table-search-collapse>
			</el-card>
		</div>
	</div>
</template>
<script>
import tableSearchCollapse from './table-search-collapse.vue';
import appSubTitle from "@/components/base/appSubTitle";
export default {
	props: {
		collapseEnable: Boolean,
		flgDiv: {
			type: Boolean,
			default: false,
		},
	},
	components: {
		tableSearchCollapse,
		appSubTitle
	},
};
</script>
<style lang="scss" scoped>
.table-search {
	margin-bottom: 10px;
}

.mb20 {
	margin-bottom: 20px;
}
</style>
