<!--  -->
<template>
  <div>
    <el-card class="mb14">
      <app-form :fields="serchFields" :data="formInline" />
    </el-card>

    <el-card>
      <app-table
        row-key="id"
        :pageObj="pageObj"
        :data="tableData"
        :col-configs="tableFields"
        empty-text="暂无数据"
      >
        <el-table-column slot="index" type="index" label="序号" />
        <el-table-column slot="enable" label="状态" width="150">
          <template slot-scope="scope">
            {{ scope.row.enable == "YES" ? "生效" : "失效" }}
          </template>
        </el-table-column>
        <el-table-column slot="options" label="操作" width="150">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="edit(scope.row)">
              编辑
            </el-button>
            <el-button
              type="text"
              size="small"
              @click="enable(scope.row, 'YES')"
              v-if="scope.row.enable == 'NO'"
            >
              生效
            </el-button>
            <el-button
              v-else
              type="text"
              size="small"
              @click="enable(scope.row, 'NO')"
            >
              失效
            </el-button>
          </template>
        </el-table-column>
      </app-table>
    </el-card>
    <app-dialog
      v-model="dialogVisible"
      :title="dialogTitle"
      :isBtn="true"
      width="30%"
      @saveForm="saveForm"
      :btnSaveName="dialogType == 'add' ? '新增' : '编辑'"
    >
      <app-form
        ref="formRef"
        :fields="addFields"
        :data="dialogForm"
        style="margin-bottom: 20px"
      />
    </app-dialog>
  </div>
</template>

<script>
import appForm from "@/components/base/appForm";
import appDialog from "@/components/base/appDialog";
import appTable from "@/components/base/appTable";
import { toParams } from "@/utils";

export default {
  components: { appForm, appTable, appDialog },
  data() {
    return {
      formInline: {},
      dialogVisible: false,
      dialogTitle: "新建标签类型",
      dialogType: "add",
      dialogForm: {
        signTypeName: "",
        applyOrganization: "",
        applyOrganizationName:"",
        enable: "",
      },
      pageObj: {
        size: 10,
        total: 1,
        currentPage: 1,
        sizeFunc: (size) => {
          this.pageObj.size = size;
          this.labelPageList();
        },
        currentFunc: (currentPage) => {
          this.pageObj.currentPage = currentPage;
          this.labelPageList();
        },
      },
      tableData: [],
    };
  },

  mounted() {
    this.labelPageList();
  },
  watch: {
    dialogVisible(val) {
      if (!val) {
        this.dialogForm = {
          signTypeName: "",
          applyOrganization: "",
          applyOrganizationName:"",
          enable: "",
        };
        this.$refs.formRef.$refs.ruleForm.resetFields();
      }
    },
  },
  methods: {
    search() {
      this.pageObj.currentPage = 1;
      this.labelPageList();
    },
    labelPageList() {
      const { currentPage: page, size: limit } = this.pageObj;
      let params = {
        ...this.formInline,
        page: Number(page),
        limit: Number(limit),
        // order: "",
        // orderField: "",
      };
      this.api.label.labelApi.otrsigntypePage(params).then((res) => {
        this.$nextTick(() => {
          console.log(res.data);
          this.tableData = res.data.list || [];
          this.pageObj.total = parseInt(res.data.total) || 0;
        });
      });
    },
    //修改状态
    enable(data, type) {
      let params = {
        ...data,
        enable: type,
      };
      this.api.label.labelApi.otrsigntypeUpdate(params).then((res) => {
        console.log(res.data);
        if (res.code == 0) {
          this.$message.success("修改成功");
          this.search();
        }
      });
    },
    edit(data) {
      this.dialogTitle = "编辑标签类型";
      this.dialogForm = { ...data };
      this.dialogType = "edit";
      this.dialogVisible = true;
    },
    //新增标签-新增/编辑
    saveForm() {
      const { validate } = this.$refs.formRef.$refs.ruleForm;
      validate((valid) => {
        if (valid) {
          let params = {
            ...this.dialogForm,
          };
          let api =
            this.dialogType == "add" ? "otrsigntypeSave" : "otrsigntypeUpdate";
          let tip = this.dialogType == "add" ? "新增成功" : "修改成功";

          this.api.label.labelApi[api](params).then((res) => {
            console.log(res.data);
            if (res.code == 0) {
              this.$message.success(tip);
              this.dialogVisible = false;
              this.search();
            }
          });
        }
      });
    },
  },

  computed: {
    addFields() {
      let vm = this;
      return [
        {
          label: "类型名称",
          prop: "signTypeName",
          placeholder: "请输类型名称",
          clearable: true,
          maxlength:10,
          span: 24,
          rules: [{ required: true, message: "请输类型名称", trigger: "blur" }],
        },
        {
          label: "适用组织",
          component: "app-select-company",
          prop: "applyOrganization",
          placeholder: "请选择适用组织",
          clearable: true,
          span: 24,
          events: {
            inputName: function (val) {
             vm.dialogForm.applyOrganizationName = val;
            },
          },
          rules: [
            { required: true, message: "请选择适用组织", trigger: "change" },
          ],
        },
        {
          label: "状态",
          component: "app-select",
          prop: "enable",
          placeholder: "请选择",
          clearable: true,
          filterable: true,
          mb: 0,
          style: "width:100%",
          options: [
            { label: "生效", value: "YES" },
            { label: "失效", value: "NO" },
          ],
          span: 24,
          rules: [{ required: true, message: "请选择", trigger: "change" }],
          change: (e) => {},
        },
      ].map((item) => {
        item.labelWidth = "calc(6em + 12px)";
        return item;
      });
    },
    serchFields() {
      return [
        {
          label: "标签类型名称",
          prop: "signTypeName",
          placeholder: "请输入标签类型名称",
          clearable: true,
          span: 6,
        },
        {
          label: "适用组织",
          component: "app-select-company",
          prop: "applyOrganization",
          placeholder: "请输入适用组织",
          clearable: true,
          span: 6,
        },
        {
          label: "状态",
          labelWidth: "calc(2em + 12px)",
          component: "app-select",
          prop: "enable",
          placeholder: "请选择",
          clearable: true,
          filterable: true,
          mb: 0,
          style: "width:100%",
          options: [
            { label: "全部", value: "" },
            { label: "生效", value: "YES" },
            { label: "失效", value: "NO" },
          ],
          change: (e) => {},
          span: 6,
        },
        {
          isArray: true,
          position: "right",
          mb: 0,
          span: 24,
          list: [
            {
              component: "app-button",
              btnLabel: "新建标签",
              size: "small",
              type: "primary",
              click: () => {
                this.dialogTitle = "新建标签类型";
                this.dialogType = "add";
                this.dialogVisible = true;
              },
              isShow: true,
            },
            {
              component: "app-button",
              btnLabel: "搜索",
              size: "small",
              type: "primary",
              click: () => {
                this.search();
              },
              isShow: true,
            },
          ],
        },
      ].map((item) => {
        item.labelWidth = "calc(6em + 12px)";
        return item;
      });
    },

    tableFields() {
      return [
        //
        { slot: "index" },
        { prop: "signTypeNo", label: "类型编号" },
        { prop: "signTypeName", label: "标签类型名称" },
        { prop: "applyOrganizationName", label: "适用组织" },
        { slot: "enable", label: "状态" },
        { slot: "options" },
      ];
    },
  },
};
</script>
<style lang="scss" scoped></style>
