<!--  -->
<template>
  <div class="year-work-detailed">
    <el-card class="mb14">
      <app-form :fields="serchFields" :data="formInline" />
    </el-card>

    <el-card>
      <app-table
        row-key="id"
        :pageObj="pageObj"
        :data="tableData"
        :col-configs="tableFields"
        empty-text="暂无数据"
      >
        <el-table-column slot="index" type="index" label="序号" />
        <el-table-column slot="gatherStatus" label="指标收集" width="100" align="center">
          <template slot-scope="scope">
            <i
              class="el-icon-success icon-success"
              v-if="scope.row.gatherStatus == 1"
            ></i>
            <i class="el-icon-success icon-none" v-else></i>
          </template>
        </el-table-column>
        <el-table-column slot="auditStatus" label="指标审核" width="100" align="center">
          <template slot-scope="scope">
            <i class="el-icon-success icon-success" v-if="scope.row.auditStatus == 1"></i>
            <i class="el-icon-success icon-none" v-else></i>
          </template>
        </el-table-column>
        <el-table-column
          slot="feedbackStatus"
          label="指标反馈"
          width="100"
          align="center"
        >
          <template slot-scope="scope">
            <i
              class="el-icon-success icon-success"
              v-if="scope.row.feedbackStatus == 1"
            ></i>
            <i class="el-icon-success icon-none" v-else></i>
          </template>
        </el-table-column>
        <el-table-column
          slot="evaluateStatus"
          label="指标评分"
          width="100"
          align="center"
        >
          <template slot-scope="scope">
            <i
              class="el-icon-success icon-success"
              v-if="scope.row.evaluateStatus == 1"
            ></i>
            <i class="el-icon-success icon-none" v-else></i>
          </template>
        </el-table-column>
      </app-table>
    </el-card>
  </div>
</template>

<script>
import appForm from "@/components/base/appForm";
import appTable from "@/components/base/appTable";
import { toParams } from "@/utils";

export default {
  components: { appForm, appTable },
  data() {
    return {
      formInline: {},

      pageObj: {
        size: 10,
        total: 1,
        currentPage: 1,
        sizeFunc: (size) => {
          this.pageObj.size = size;
          this.pageObj.currentPage = 1;
          this.getList();
        },
        currentFunc: (currentPage) => {
          this.pageObj.currentPage = currentPage;
          this.getList();
        },
      },
      tableData: [],
    };
  },

  mounted() {
    // this.getList();
  },
  watch: {},
  methods: {
    search() {
      this.pageObj.currentPage = 1;
      this.getList();
    },

    getList() {
      const { currentPage: page, size: limit } = this.pageObj;
      let params = {
        ...this.formInline,
        page: Number(page),
        limit: Number(limit),
        // order: "",
        // orderField: "",
      };
      this.api.idp.idpApi.getStuPlan(params).then((res) => {
        this.$nextTick(() => {
          console.log(res.data);
          this.tableData = res.data.list || [];
          this.pageObj.total = parseInt(res.data.total) || 0;
        });
      });
    },
  },

  computed: {
    serchFields() {
      return [
        {
          label: "员工编号",
          prop: "planName",
          placeholder: "请输入员工编号",
          clearable: true,
          span: 6,
        },
        {
          label: "档案类别",
          labelWidth: "calc(2em + 12px)",
          component: "app-select",
          prop: "state",
          placeholder: "请选择",
          clearable: true,
          filterable: true,
          mb: 0,
          style: "width:100%",
          options: [
            { label: "全部", value: "" },
            { label: "进行中", value: 1 },
            { label: "已结束", value: 0 },
          ],
          change: (e) => {},
          span: 6,
        },
        {
          isArray: true,
          position: "right",
          mb: 0,
          span: 6,
          list: [
            {
              component: "app-button",
              btnLabel: "搜索",
              size: "small",
              type: "info",
              style: "display:flex;align-items:center;justify-content:flex-end;",
              click: () => {
                this.search();
              },
              isShow: true,
            },
            {
              component: "app-button",
              btnLabel: "返回",
              size: "small",
              style: "display:flex;align-items:center;justify-content:flex-end;",
              click: () => {
                this.$router.go(-1);
              },
              isShow: true,
            },
          ],
        },
      ].map((item) => {
        item.labelWidth = "calc(4em + 12px)";
        return item;
      });
    },
    tableFields() {
      return [
        {
          slot: "index",
        },
        { prop: "planNo", label: "公司" },
        { prop: "planName", label: "部门" },
        {
          prop: "tutorId",
          label: "科室",
        },
        { prop: "tutor", label: "岗位" },
        { prop: "emplName", label: "员工编号" },
        { prop: "gatherStatus", label: "姓名" },
        { prop: "auditStatus", label: "年月" },
        { prop: "feedbackStatus", label: "班次" },
        { prop: "evaluateStatus", label: "排班工时" },
        { prop: "lastScore", label: "出勤工时" },
        { slot: "options" },
      ];
    },
  },
};
</script>
<style lang="scss" scoped>
.button-waper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
</style>
<style lang="scss">
.year-work-detailed {
  .icon-success {
    font-size: 24px;
    color: #70b603;
  }
  .icon-none {
    font-size: 24px;
    color: #d7d7d7;
  }
}
</style>
