<!--  -->
<template>
	<div>
		<app-form class="mb14" :fields="serchFields" :data="serchData" />
		<app-table ref="dataTable" selection @handleSelectionChange="handleSelectionChange" class="mb14" row-key="id" :pageObj="pageObj" :data="tableData" :col-configs="tableFields" />

		<div class="d-confirm">
			<el-button type="primary" @click="option === 'add' ? addToPage() : attendanceAddStudents()">确认添加</el-button>
		</div>
	</div>
</template>

<script>
import appForm from '@/components/base/appForm';
import appTable from '@/components/base/appTable';
export default {
	components: { appForm, appTable },
	props: {
		data: Object,
		option: String, //add添加 //edit编辑
	},
	data() {
		return {
			serchData: {},
			tableData: [],
			pushArr: [],
			pageObj: {
				size: 1000,
				total: 0,
				currentPage: 1,
				sizeFunc: (size) => {
					this.pageObj.size = size;
					this.getPageList();
				},
				currentFunc: (currentPage) => {
					this.pageObj.currentPage = currentPage;
					this.getPageList();
				},
			},
		};
	},
	mounted() {
		this.pageObj.currentPage = 1;
		this.getPageList();
	},
	methods: {
		attendanceAddStudents() {
			this.api.programs.programsApi.attendanceAddStudents(this.getAddDate()).then((res) => {
				this.$message('添加学员成功');
			});
		},

		addToPage() {
			this.$emit('selectedEmp', this.tableData);
		},

		getAddDate() {
			let params = [];
			this.tableData.map((item) => {
				const { companyCode, departmentCode, jobCode, userId } = item;
				params.push({ companyCode, departmentCode, jobCode, userId });
			});
			return params;
		},

		initList() {
			this.pageObj.currentPage = 1;
			this.pushArr = [];
			this.getPageList();
		},
		getPageList() {
			this.pushArr = [];
			const { currentPage: page, size: limit } = this.pageObj;
			let params = { ...this.serchData, page, limit };
			this.api.programs.programsApi.programsParticipantsList(params).then((res) => {
				this.$nextTick(() => {
					this.tableData = res.data.list || [];

					this.tableData = this.tableData.filter((item) => item.status == '1');

					this.tableData.map((item) => {
						this.$refs.dataTable.$refs.table.toggleRowSelection(item, true);
					});

					console.log('this.pushArr', this.pushArr);
				});
			});
		},

		handleSelectionChange(row) {
			if (row.length == 0) {
				this.pushArr = [];
			} else {
				this.pushArr.push(
					...row.map((item) => {
						return { id: item.id };
					})
				);
			}

			console.log('this.pushArr', this.pushArr);
		},
	},
	computed: {
		serchFields() {
			return [
				{
					label: '学员姓名',
					labelWidth: 'calc(4em + 12px)',
					prop: 'name',
					placeholder: '请输入学员姓名',
					clearable: true,
					span: 5,
				},
				{
					label: '公司名称',
					labelWidth: 'calc(4em + 12px)',
					prop: 'companyName',
					placeholder: '请输入公司名称',
					clearable: true,
					span: 5,
				},
				{
					label: '部门',
					labelWidth: 'calc(4em + 12px)',
					prop: 'departmentName',
					placeholder: '请输入部门',
					clearable: true,
					span: 5,
				},
				{
					label: '状态',
					labelWidth: 'calc(4em + 12px)',
					component: 'app-select',
					prop: 'status',
					placeholder: '请选择状态',
					clearable: true,
					filterable: true,
					style: 'width:100%',
					options: [
						{ label: '待确认', value: 0 },
						{ label: '已报名', value: 1 },
					],
					span: 5,
				},
				{
					isArray: true,
					position: 'right',
					span: 4,
					list: [
						{
							component: 'app-button',
							btnLabel: '查询',
							size: 'small',
							type: 'info',
							style: 'display:flex;align-items:center;justify-content:flex-end;',
							click: () => {
								this.pageObj.currentPage = 1;
								this.getPageList();
							},
							isShow: true,
						},
					],
				},
			];
		},
		tableFields() {
			return [
				{ prop: 'userId', label: '学员编号' },
				{ prop: 'userName', label: '学员姓名' },
				{ prop: 'companyName', label: '公司' },
				{ prop: 'departmentName', label: '部门' },
				{ prop: 'jobName', label: '岗位' },
				{ prop: 'statusName', label: '状态' },
			];
		},
	},
};
</script>
<style lang="scss" scoped>
.d-confirm {
	margin-top: 32rpx;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
</style>
