<!-- @format -->
<template>
	<div class="page-header">
		<div class="header-content">
			<div class="left-title">
				<img src="@/assets/logo.png" alt="" />
				<span>赛意</span>
				<!-- <span>塞意xxxx门户平台</span> -->
			</div>
			<ul class="tab-pan">
				<li class="active" @click="toHome">{{ navName }}</li>
				<li @click="toBackground">后台管理系统</li>
				<!-- <li v-for="(item, index) in layoutData.componentCateList" :key="index" :class="{ active: activeName == index }" @click="changeMenu(index, item)">{{ item.cateName }}</li> -->
			</ul>
			<div class="right-waper">
				<el-input placeholder="请输入内容" size="small" v-model="input3" prefix-icon="el-icon-search" class="serch-input" />
				<i class="el-icon-setting setting"></i>
				<div class="date">{{ currDate }}</div>
			</div>
		</div>
	</div>
</template>
<script>
import themepicker from '../../../themePicker';
import dayjs from 'dayjs';
export default {
	name: 'appHeader',
	components: {
		themepicker,
	},
	data() {
		return {
			input3: '',
			colorPage3: '#409EFF',
			options: [
				{
					value: 'zh-CN',
					label: '中文',
				},
				{
					value: 'en-US',
					label: 'English',
				},
			],
			value: 'zh-CN',
			userName: '',
			empname: '',
			currSys: this.$route.path,
		};
	},
	computed: {
		navName() {
			return this.$route.name;
		},
		currDate() {
			return dayjs().format('YYYY年MM月DD日');
		},
	},
	created() {},
	methods: {
		toApi() {
			window.open(process.env.VUE_APP_DOCUMENT, '_blank');
		},
		toHome() {
			this.$router.push('/user-interface/home');
		},
		toBackground() {
			this.$router.push('/');
		},
		Seli18n(val) {
			this.$i18n.locale = val; //关键语句
		},
		async handleCommandSignOut() {
			try {
				await this.$confirm(this.$t('lang.surequit'), this.$t('lang.Tips'));
				localStorage.removeItem('access_token');
				window.location.href = `${process.env.VUE_APP_EXIT_ADDRESS}${this.$route.path}`;
			} catch (err) {
				//
			}
		},
	},
};
</script>
<style lang="scss" scoped>
.page-header {
	height: 50px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;

	.header-content {
		min-width: 1226px;
		width: 90%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.left-title {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			img {
				width: 40px;
				// height: 14px;
				margin-right: 8px;
			}
			span {
				font-size: 14px;
				color: #09161e;
			}
		}

		.tab-pan {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			margin-left: 40px;

			li {
				cursor: pointer;
				margin-right: 40px;
				font-size: 14px;
				line-height: 16px;
				color: #676767;

				&:last-child {
					margin-right: 0;
				}
			}

			.active {
				color: #304996;
			}
		}

		.right-waper {
			display: flex;
			flex-direction: row;
			align-items: center;

			.serch-input {
				width: 200px;
			}
			::v-deep .el-input--small .el-input__inner {
				border-radius: 15px;
			}

			.setting {
				margin: 0 22px;
				font-size: 18px;
				color: #b7b7b7;
				font-weight: bold;
				cursor: pointer;
			}

			.date {
				font-size: 14px;
				color: #b7b7b7;
				width: 180px;
			}
		}
	}
}
.login-user {
	.el-select {
		width: 100px;
		margin-right: 10px;
		.el-input__inner {
			height: 35px;
		}
	}

	.header-menu {
		margin-right: 10px;
		cursor: pointer;
	}
}
</style>
<style scoped lang="scss">
@import './style.scss';
header {
	padding: 0;
}
.head-avatar {
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}
.login-user {
	display: flex;
	align-items: center;
}
.logout-wrapper {
	margin-right: 20px;
	cursor: pointer;
}

.back-mange {
	margin-right: 20px;
	cursor: pointer;
}
</style>
