/** @format */

header {
  height: 60px;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ebeef5;
  top: 0;
  .logo-wrapper {
    width: 220px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    height: 100%;
  }
  .title {
    color: initial;
    vertical-align: top;
    line-height: 50px;
    font-size: 16px;
    border-left: 1px solid;
    padding-left: 16px;
  }
}
.login-user {
  line-height: 50px;
  .username {
    margin-right: 16px;
  }
  .el-badge {
    margin: 0 16px;
    i {
      font-size: 20px;
    }
    ::v-deep .el-badge__content {
      width: 12px;
      height: 12px;
      padding: 0;
      top: 8px;
      line-height: 12px;
      right: 4px;
      font-size: 12px;
    }
  }
  .el-avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
  }
}
