<template>
  <div class="form">
    <el-form
      v-bind="$attrs"
      :model="formValue"
      :inline="true"
      label-position="right"
      label-width="100px"
    >
      <div v-for="formField in formFields" :key="formField.title">
        <div class="search_title">
          {{ formField.title }}
          <el-tooltip effect="light" placement="right" popper-class="max-tips">
            <div slot="content" class="tips-container">
              <div v-if="formField.type === 'common'">
                <p>我们根据传化日常管理场景，定义了常用的人才搜索场景，其中：</p>
                <p>
                  ① 年度业绩：最近1年年度绩效评价，可复选。
                </p>
                <p>
                  ② 过往经历：以子职类/职种信息为选择依据查询员工过往经历，可复选。
                </p>
                <p>③ 管理经验年限：过往一个或多个“管理岗”任职时间相加后计为管理经验年限，也可以搜搜没有管理经历的员工。</p>
                <p>
                  ④ 循环：循环定义参照人才画像中职业生涯概览中的定义，这里也可以搜索没有轮岗经历的员工，可复选。
                </p>
                <p>⑤ 标签名称：可搜索有某一标签的员工，另外对于没有显示在前端的标签也可以进行搜索，可复选。</p>
                <p>
                  ⑥ 栋梁计划：可搜索四级梯队的成员，也可以搜索不在梯队的员工，可复选。
                </p>
                <p>⑦ 荣誉情况：可搜索获得某一荣誉的员工，也可以搜索没有获得过任何荣誉的员工，可复选。</p>
                <p>⑧ 当前岗位连续任职时长：员工在当前岗位的任职时长。</p>
              </div>
              <div v-if="formField.type === 'ability'">
                <p>
                  根据能力模型及评价结果，可搜索在某方面表现优秀的员工。以通用能力模型为例，如果选择“有效沟通”，首先，搜索范围为拥有通用能力模型的所有员工；其次，搜索结果会显示“有效沟通”得分在均值以上的员工。
                </p>
              </div>
              <div v-if="formField.type === 'basics'">
                <p>连续司龄：如果某员工离职后再回传化，按新入职的司龄计算。</p>
              </div>
            </div>
            <i class="el-icon-warning-outline flex-top"></i>
          </el-tooltip>
        </div>
        <el-form-item
          v-for="field in formField.fields"
          :key="field.label"
          :label="field.label"
        >
          <select-tree
            v-if="field.components === 'select-tree'"
            style="width: 100%"
            v-bind="{ ...field, ...$attrs }"
            v-model="formValue[field.prop]"
            v-on="field.events"
          >
          </select-tree>
          <select-person
            v-else-if="field.type === 'select-person'"
            style="width: 100%"
            v-bind="{ ...field, ...$attrs }"
            v-on="field.events"
            v-model="formValue[field.prop]"
          >
          </select-person>
          <select-search-can
            v-else-if="field.components === 'select-search-can'"
            style="width: 100%"
            v-bind="{ ...field, ...$attrs }"
            v-on="field.events"
            v-model="formValue[field.prop]"
          ></select-search-can>
          <multi-select
            v-else-if="field.components === 'multi-select'"
            style="width: 100%"
            v-bind="{ ...field, ...$attrs }"
            v-model="formValue[field.prop]"
            v-on="field.events"
            :options="field.options"
          ></multi-select>
          <cascader
            v-else-if="field.components === 'cascader'"
            style="width: 100%"
            v-bind="{ ...field, ...$attrs }"
            v-model="formValue[field.prop]"
            v-on="field.events"
            :options="field.options || options"
          >
          </cascader>
          <el-select
            v-else-if="field.components === 'select'"
            v-model="formValue[field.prop]"
            v-bind="{ ...field, ...$attrs }"
             v-on="field.events"
            placeholder="请选择"
            clearable
            style="width:100%"
          >
            <el-option
              v-for="item in field.options || options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
              @click.native="handleSelectClick(field, item)"
            >
            </el-option>
          </el-select>
          <el-date-picker
            v-else-if="field.components === 'date'"
            v-bind="{ ...field, ...$attrs }"
            v-model="formValue[field.prop]"
            :type="field.type || 'date'"
            :placeholder="field.placeholder || '请选择日期'"
          >
          </el-date-picker>
          <el-radio-group
            v-else-if="field.components === 'checkbox'"
            v-model="formValue[field.prop]"
          >
            <el-radio v-for="item in field.options" :label="item" :key="item">{{
              item
            }}</el-radio>
          </el-radio-group>
          <el-input
            v-else
            v-model="formValue[field.prop]"
            placeholder="请输入"
          ></el-input>
        </el-form-item>
      </div>
    </el-form>
    <slot name="save"></slot>
  </div>
</template>
<script>
import selectTree from "../../components/selectTree.vue";
import multiSelect from "../../components/multiSelect.vue";
import selectPerson from "../../components/selectPerson.vue";
import selectSearchCan from "../../components/selectSearchCan.vue";
import cascader from "../../components/cascader.vue";
import { mapGetters } from "vuex";
export default {
  components: {
    selectTree,
    multiSelect,
    cascader,
    selectPerson,
    selectSearchCan,
  },
  props: {
    formFields: Array,
    formValue: Object,
  },
  data() {
    return {
      options: [],
    };
  },
  computed: {
    ...mapGetters(["sequenceList"]),
  },
  created() {
  },
  methods: {
    handleSelectClick(field, selected) {
      if (typeof field.onChange === "function") {
        field.onChange(selected);
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.tips-container {
  line-height: 28px;
}
::v-deep {
  .el-form {
    padding: 0 20px;
  }

  .el-form-item {
    width: 25%;
    margin: 10px 0 !important;
  }

  .el-form-item__label {
    height: 40px;
    line-height: 20px;
    display: inline-flex !important;
    align-items: center;
    justify-content: flex-end;
  }

  .el-form-item__content,
  .el-date-editor.el-input {
    width: 220px;
  }

  .el-radio__inner {
    border-radius: 0;
  }

  .el-radio__input.is-checked .el-radio__inner::after {
    content: "";
    width: 10px;
    height: 6px;
    border: 2px solid white;
    border-top: transparent;
    border-right: transparent;
    text-align: center;
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    transform: rotate(-45deg);
    border-radius: 2px;
    background: none;
  }
}

.flex-top {
  padding: 0 3px;
  display: flex;
  align-items: center;
}

.search_title {
  font-weight: bold;
  font-size: 16px;
  position: relative;
  display: flex;
  // justify-content: space-between;
  padding: 0 10px;

  &::before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background-color: #008eed;
    border-radius: 3px;
    top: 50%;
    left: -5px;
    position: absolute;
    transform: translateY(-50%);
    box-shadow: 2px 0px 7px 0px rgba(0, 142, 237, 0.61);
  }
}
</style>