<template>
  <el-dialog
    :title="title"
    :show-close="showClose"
    :visible.sync="dialogVisible"
    :fullscreen="fullscreen"
    :close-on-click-modal="false"
    :width="width"
  >
    <slot />
    <div class="button-waper" v-if="isBtn">
      <el-button type="primary" size="mini" @click="$emit('saveForm')">{{
        btnSaveName
      }}</el-button>
      <el-button
        type="info"
        size="mini"
        v-if="isClose"
        @click="dialogVisible = false"
        >取消</el-button
      >
      <el-button type="info" size="mini" v-else @click="$emit('close')"
        >取消</el-button
      >
    </div>
  </el-dialog>
</template>

<script>
export default {
  name: "appDialog",
  props: {
    title: String,
    value: Boolean,
    isBtn: { type: Boolean, default: true },
    btnSaveName: { type: String, default: "保存" },
    showClose: { type: Boolean, default: true },
    isClose: { type: Boolean, default: true },
    width: { type: String, default: "50%" },
    fullscreen: false,
  },
  data() {
    return {};
  },
  computed: {
    dialogVisible: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
};
</script>
<style lang="scss" scoped>
.button-waper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
</style>
