<!--职级组件-->
<template>
  <el-select
    v-model="currentValue"
    filterable
    remote
    reserve-keyword
    :placeholder="placeholder"
    :remote-method="getInfo"
    :loading="staffLoading"
    style="width: 100%"
    v-bind="$attrs"
    :clearable="clearable"
  >
    <i v-if="prefix" slot="prefix" class="el-input__icon" :class="prefix"></i>
    <el-option
      v-for="item in grdeList"
      :key="item.fieldValue"
      :label="item.descr"
      :value="item.fieldValue"
      @click.native="handleSelectClick(item)"
    >
      {{ item.descr }}
    </el-option>
  </el-select>
</template>
<script>
export default {
  model: {
    prop: "value",
    event: "input",
  },
  props: {
    value: String,
    prefix: String,
    placeholder: {
      type: String,
      default: "请输入",
    },
    operateType: {
      type: String,
      default: "add",
    },
    clearable: {
      type: Boolean,
      default: false,
    },
    dialogVisible: Boolean,
    modelFormValue: Object,
  },
  data() {
    return {
      grdeList: [],
      staffLoading: false,
    };
  },
  computed: {
    currentValue: {
      get() {
        return this.value;
      },

      set(value) {
        this.$emit("input", value);
      },
    },
  },
  watch: {
    value: {
      immediate: true,
      handler(newVal, oldVal) {
        if (newVal !== oldVal) {
          if (newVal) {
            const selected = this.grdeList.find(
              (opt) => opt.fieldValue === newVal
            );
            this.$emit("change", selected);
          }
        }
      },
    },
    dialogVisible: {
      immediate: true,
      handler(newVal, oldVal) {
        console.log(newVal);
        let vm = this;
        if (newVal) {
          if (vm.operateType == "edit") {
            vm.getInfo(vm.modelFormValue.descr);
          }
        }
      },
    },
  },
  methods: {
    //获取标准岗位信息
    getInfo(queryString) {
      let vm = this;
      let timeout = null;
      if (timeout !== null) {
        clearTimeout(timeout);
      }
      let params = {
        posnGrdeDescr: queryString,
      };
      vm.staffLoading = true;
      timeout = setTimeout(() => {
        this.api.baseInfo.baseInfoApi
          .getDmposngrdeListAll(params)
          .then((res) => {
            vm.staffLoading = false;
            if (res && res.data) {
              vm.grdeList = res.data;
            } else {
            }
          });
      }, 500);
    },
    handleSelectClick(item) {
      this.$emit("inputName", item.descr);
      this.$emit("inputAll", item);
    },
  },
};
</script>