<!--表单弹窗组件-->
<template>
  <el-dialog
    :visible.sync="currentVisible"
    v-bind="{ ...$attrs }"
    :close-on-click-modal="false"
  >
    <el-form
      :model="formValue"
      ref="form"
      :rules="formRules"
      :disabled="formDisabled"
    >
      <el-form-item
        v-bind="{ ...field, events: undefined }"
        :label="field.label"
        v-for="field in formFields"
        :key="field.prop"
        :label-width="formLabelWidth"
      >
        <select-tree
          v-if="field.type === 'select-tree'"
          style="width: 100%"
          v-bind="{ ...field, ...$attrs }"
          v-model="formValue[field.prop]"
          v-on="field.events"
          :props="field.departmentProp"
          :data="field.departmentList"
        ></select-tree>
        <select-person
          v-else-if="field.type === 'select-person'"
          style="width: 100%"
          v-bind="{ ...field, ...$attrs }"
          v-on="field.events"
          v-model="formValue[field.prop]"
        >
        </select-person>
        <el-select
          v-else-if="field.type === 'select'"
          style="width: 100%"
          v-model="formValue[field.prop]"
          v-bind="{ ...field, ...$attrs }"
          v-on="field.events"
          placeholder="请选择"
        >
          <el-option
            v-for="item in field.options"
            :key="item.index"
            :label="item.label"
            :value="item.value ? item.value : item.label"
            @click.native="handleSelectClick(field, item)"
          >
          </el-option>
        </el-select>
        <el-input-number
          v-else-if="field.type === 'input-number'"
          style="width: 100%"
          v-model="formValue[field.prop]"
          controls-position="right"
          :min="0"
          :max="100"
        ></el-input-number>
        <el-date-picker
          v-else-if="field.type === 'date'"
          style="width: 100%"
          v-model="formValue[field.prop]"
          type="date"
          format="yyyy-MM-dd"
          value-format="yyyy-MM-dd"
          placeholder="选择日期"
          clearable
          :disabled="field.disabled"
          :picker-options="field.pickerOptions || undefined"
        >
        </el-date-picker>
        <el-upload
          v-else-if="field.type === 'upload'"
          class="upload-demo"
          :class="field.uploadClass"
          :action="field.action"
          v-bind="{ ...field, ...$attrs }"
          :on-exceed="field.events['onExceed']"
          :before-upload="field.events['beforeUploadFile']"
          :on-success="field.events['uploadSuccess']"
          :on-remove="field.events['handleRemove']"
          :file-list="formValue[field.prop]"
        >
          <el-button class="primary_currency" type="primary"
            >点击上传</el-button
          >
          <div slot="tip" class="el-upload__tip">
            {{ field.format }}
          </div>
        </el-upload>
        <el-input
          v-else
          style="width: 100%"
          v-model="formValue[field.prop]"
          v-bind="{ ...field, ...$attrs }"
          placeholder="请输入"
        ></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="submit_button">
      <slot name="footButton" v-if="$slots['footButton']"></slot>
      <slot name="footer" v-else>
        <el-button
          class="primary_currency"
          v-if="$listeners.confirm"
          type="primary"
          @click="submit()"
          :loading="submitLoading"
          >{{ confirmText }}</el-button
        >
        <el-button
          v-if="$listeners.cancel"
          class="currency"
          @click="cancelOpr()"
          >{{ cancelText }}</el-button
        >
      </slot>
    </div>
  </el-dialog>
</template>
<script>
import selectTree from "./selectTree.vue";
import selectPerson from "./selectPerson.vue";
export default {
  components: {
    selectTree,
    selectPerson,
  },
  props: {
    dialogVisible: Boolean,
    formFields: Array || Object,
    formDisabled: {
      type: Boolean,
      default: false,
    },
    formValue: Object,
    formRules: Object,
    formLabelWidth: {
      type: String,
      default: "calc(5em + 12px)",
    },
    confirmText: {
      type: String,
      default: "确 定",
    },
    cancelText: {
      type: String,
      default: "取 消",
    },
    submitLoading: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    currentVisible: {
      get() {
        return this.dialogVisible;
      },
      set(value) {
        this.$emit("update:dialogVisible", value);
      },
    },
  },
  methods: {
    handleSelectClick(field, selected) {
      if (typeof field.onChange === "function") {
        field.onChange(selected);
      }
    },
    async submit() {
      try {
        await this.$refs.form.validate();
      } catch (err) {
        this.$message({
          message: "请检查表单",
          type: "error",
        });
        return;
      }
      this.$listeners.confirm.call(this);
    },
    cancelOpr() {
      this.$listeners.cancel.call(this);
    },
    async formValidate() {
      try {
        await this.$refs.form.validate();
        return true;
      } catch (err) {
        this.$message({
          message: "请检查表单",
          type: "error",
        });
        return false;
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.submit_button {
  margin-left: 0 !important;
  margin-bottom: 30px;
  text-align: center;
}
</style>
<style lang="scss">
.upload-enclosureImport {
  .el-upload-list {
    max-height: 240px;
    overflow-y: auto;
  }
}
</style>