<!-- 自定义弹框 -->
<template>
  <el-dialog
    :visible.sync="currentVisible"
    v-bind="{ ...$attrs }"
    class="app_dialog"
    :close-on-click-modal="true"
  >
    <slot></slot>
    <template #footer v-if="$listeners.confirm" class="dialog_footer">
      <slot name="footer">
        <el-button v-if="$listeners.confirm" type="primary" @click="submit()"
          >确 定</el-button
        >
        <el-button v-if="$listeners.cancel" @click="cancelOpr()"
          >取 消</el-button
        >
      </slot>
    </template>
  </el-dialog>
</template>
<script>
export default {
  props: {
    dialogVisible: Boolean,
  },
  computed: {
    currentVisible: {
      get() {
        return this.dialogVisible;
      },
      set(value) {
        this.$emit("update:dialogVisible", value);
      },
    },
  },
  methods: {
    submit() {
      this.$listeners.confirm.call(this);
    },
    cancelOpr() {
      this.$listeners.cancel.call(this);
    },
  },
};
</script>
<style lang="scss" scoped>
.app_dialog {
  .el-button {
    width: 150px;
    height: 40px;
  }
  ::v-deep .el-dialog__body {
    padding: 10px 20px;
  }
}
.dialog_footer {
  text-align: center;
}
</style>
