<template>
  <div class="bar">
    <div :id="id" class="bar_canvas"></div>
  </div>
</template>

<script>
import * as echarts from "echarts";
import { mapGetters } from "vuex";
export default {
  props: ["propData", "id"],
  data() {
    return {
      myChart: null,
    };
  },
  computed: {
    ...mapGetters(["menu_open"]),
  },
  watch: {
    propData: {
      handler() {
        this.setChart();
      },
      deep: true,
    },
    menu_open() {
      this.setChart();
    },
  },
  mounted() {
    if (this.id) {
      let myChart = echarts.init(document.getElementById(this.id));
      this.myChart = myChart;
      this.myChart.setOption(this.propData);
      this.myChart.on("click", this.clickFunc);
      this.legendClick();
    }
  },
  methods: {
    setChart() {
      if (this.id) {
        if (this.myChart) {
          this.myChart.dispose();
        }
        let myChart = echarts.init(document.getElementById(this.id));
        this.myChart = myChart;
        this.myChart.setOption(this.propData,true);
        this.myChart.on("click", this.clickFunc);
        this.legendClick();
      }
    },
    clickFunc(params) {
      this.$emit("click", params);
    },
    // 团队成员能力得分图表回传图例实时对比条目
    legendClick() {
      let vm = this;
      if (vm.id === "people_goals") {
        vm.myChart.on("legendselectchanged", (obj) => {
          vm.$emit("legendChange", obj.selected);
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.bar {
  width: 100%;
  height: 100%;
  position: absolute;

  .bar_canvas {
    width: 100%;
    height: 100%;
  }
}
</style>