<!-- @format -->

<template>
  <div class="app-sub-title" :class="border ? 'border_b' : ''">
    <div class="left">
      <div class="border"></div>
      <div class="title-content">
        {{ title }}
      </div>
    </div>
    <slot />
  </div>
</template>
<script>
export default {
  name: "appSubTitle",
  props: {
    title: String,
    border: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
<style lang="scss" scoped>
.app-sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px 0;
  padding: 8px 15px;
  line-height: 22px;
  &.border_b {
    padding-bottom: 12px;
    border-bottom: 1px solid #F5F5F5;
  }
  .border {
    height: 20px;
    width: 4px;
    vertical-align: text-bottom;
    background: #409eff;
    margin-right: 10px;
    display: inline-block;
  }
  .title-content {
    display: inline-block;
    font-size: 18px;
  }
}
</style>
