<!--带搜索的下拉复选列表-->
<template>
  <el-select
    v-model="currentValue"
    v-bind="{ ...$attrs }"
    v-on="$listeners"
    :placeholder="placeholder"
    multiple
    collapseTags
    filterable
    clearable
  >
    <el-option
      v-for="(option,i) in options"
      :key="i+(option.keyIdentification||34)"
      :value="option.value"
      :label="option.label"
    ></el-option>
  </el-select>
</template>
<script>
export default {
  props: {
    options: [Array, Function],
    value: [String, Array],
    disabled: Boolean,
    placeholder: {
      type: String,
      default: "请选择",
    },
  },
  computed: {
    currentValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
  methods: {},
};
</script>
