<template>
  <!-- 分割模块 -->
  <div class="segmentation-model">
    <div v-for="(item, i) in modelList" :key="i" class="model" :class="modelClass" @click="handleSelectClick(item)">
      <div class="line1" :class="line1">{{ item.index1 }}</div>
      <div class="line2" :class="line2">{{ item.index2 }}</div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    modelList: {
      type: Array,
      default: () => [],
    },
    line1: {
      type: String,
      default: "",
    },
    line2: {
      type: String,
      default: "",
    },
    modelClass: {
      type: String,
      default: "",
    },
  },
  data() {
    return {};
  },
   methods: {
    handleSelectClick(item) {
      this.$emit("eventClick", item);
    },
  },
};
</script>
<style lang="scss" scoped>
.segmentation-model {
  display: flex;
  margin-top: 20px;
  .model {
    flex: 1;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    position: relative;
    &::after {
      content: "";
      background-color: #ebebeb;
      width: 1px;
      height: 70px;
      display: inline-block;
      position: absolute;
      right: 0;
    }
    &:last-child::after {
      content: none;
    }
    .line1 {
      font-size: 16px;
      color: #989898;
    }
    .line2 {
      font-size: 30px;
      //font-weight: 700;
    }
  }
  .fontsize20 {
    font-size: 20px;
  }
  .fontsize35 {
    font-size: 34px;
  }
  .height80 {
    height: 80px;
  }
}
</style>
