<!--人员搜索组件-->
<template>
  <el-select
    v-model="currentValue"
    filterable
    remote
    reserve-keyword
    :placeholder="placeholder"
    :remote-method="getStaffInfo"
    :loading="staffLoading"
    style="width: 100%"
    v-bind="$attrs"
    :clearable="clearable"
  >
    <i v-if="prefix" slot="prefix" class="el-input__icon" :class="prefix"></i>
    <el-option
      v-for="item in staffList"
      :key="item.emplid"
      :label="item.name"
      :value="item.emplid"
    >
      {{ item.emplid + "-" + item.name + "-" + item.deptName }}
    </el-option>
  </el-select>
</template>
<script>
export default {
  model: {
    prop: "value",
    event: "input",
  },
  props: {
    value: String,
    prefix: String,
    placeholder: {
      type: String,
      default: "请输入",
    },
    operateType: {
      type: String,
      default: "add",
    },
    clearable: {
      type: Boolean,
      default: false,
    },
    dialogVisible: Boolean,
    modelFormValue: Object,
  },
  data() {
    return {
      staffList: [],
      staffLoading: false,
    };
  },
  computed: {
    currentValue: {
      get() {
        return this.value;
      },

      set(value) {
        this.$emit("input", value);
      },
    },
  },
  watch: {
    value: {
      immediate: true,
      handler(newVal, oldVal) {
        if (newVal !== oldVal) {
          if (newVal) {
            const selected = this.staffList.find((opt) => opt.emplid === newVal);
            this.$emit("change", selected);
          }
        }
      },
    },
    dialogVisible: {
      immediate: true,
      handler(newVal, oldVal) {
        console.log(newVal);
        let vm = this;
        if (newVal) {
          if (vm.operateType == "edit") {
            vm.getStaffInfo(vm.modelFormValue.empName);
          }
        }
      },
    },
  },
  methods: {
    //获取员工信息
    getStaffInfo(queryString) {
      let vm = this;
      let timeout = null;
      if (timeout !== null) {
        clearTimeout(timeout);
      }
      if (queryString !== "") {
        vm.staffLoading = true;
        timeout = setTimeout(() => {
          vm.api.baseInfo.baseInfoApi.selectPerson({ name: queryString }).then((res) => {
            vm.staffLoading = false;
            if (res.code == 0) {
              vm.staffList = res.data;
            } else {
            }
          });
        }, 500);
      } else {
        vm.staffList = [];
      }
    },
  },
};
</script>
