<template>
  <div class="tag-box">
    <div ref="tagBox" class="tag-list">
      <ul
        ref="tagList"
        id="tagList"
        class="tag-box"
        :style="{ left: -nowLeft + 'px' }"
      >
        <li
          class="tag-item"
          v-for="(item, index) in list"
          :key="index"
          :ref="'li' + index"
          @click="onClickActive(item)"
        >
          <span class="tag" :class="{ is_acive: name === item.modelName }">
            {{ item.modelName }}
          </span>
        </li>
      </ul>
    </div>
    <i
      v-show="showLf"
      type="left"
      class="el-icon-d-arrow-left"
      @click="handleLeft"
    />
    <i
      v-show="showRt"
      type="right"
      class="el-icon-d-arrow-right"
      @click="handleRight"
    />
  </div>
</template>
  
<script>
export default {
  props: {
    value: {
      type: String,
      default: "",
    },
    ikey:{
      type: Number,
      default: 0,
    },
    list: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      name: "",
      nowNum: 0, // 滚动了几次
      showLf: false, // 左侧按钮 显隐
      showRt: false, // 右侧按钮 显隐
      boxWidth: 0, // 盒子总宽
      allWidth: 0, // 内容总宽
      nowLeft: 0,
      nowIndex: 0, // 显示部分的第一个index
    };
  },
  computed: {},
  watch: {
    list: {
      immediate: true,
      handler(val) {
        if (val) {
          this.$nextTick(() => {
            this.judgeShowRt();
            this.judgeShowBtn();
          });
        }
      },
    },
    value: {
      deep: true,
      immediate: true,
      handler(val) {
        if (val) {
          console.log(val);
          this.name = val;
        }
      },
    },
  },
  methods: {
    // 初始判断是否显示切换icon
    judgeShowRt() {
      if (this.list?.length > 3) {
        this.showRt = true;
      } else {
        this.boxWidth = this.$refs.tagBox.offsetWidth;
        this.allWidth = this.$refs.tagList.offsetWidth;
        this.showRt = this.allWidth > this.boxWidth;
      }
    },
    // 判断按钮是否需要隐藏
    judgeShowBtn() {
      const tagList = this.$refs.tagList.childNodes;
      for (let i = 0; i < tagList.length; i++) {
        const itemEle = tagList[i];
        const marginLeft =
          itemEle.offsetWidth + itemEle.offsetLeft - this.nowLeft;
        if (marginLeft > this.boxWidth) {
          itemEle.style.opacity = 0;
        } else {
          itemEle.style.opacity = 1;
        }
      }
    },
    // 切换激活标签
    onClickActive(data) {
      if (this.name !== data.modelName) {
        this.name = data.modelName;
        console.log(this.name,this.ikey, "000000000");
        this.$emit("change", {data:data,key:this.ikey});
      }
    },
    // 左切
    handleLeft() {
      if (this.nowLeft > 0) {
        this.nowNum--;
        this.showRt = true;
        if (this.nowNum > 0) {
          let nw = 0;
          for (let j = this.list.length; j >= 0; j--) {
            if (j < this.nowIndex) {
              nw += this.$refs["li" + j][0].offsetWidth;
              if (nw >= this.boxWidth) {
                nw -= this.$refs["li" + j][0].offsetWidth;
                this.nowLeft -= nw;
                this.nowIndex = j + 1;
                break;
              }
            }
          }
        } else {
          this.nowLeft = 0;
          this.nowIndex = 0;
          this.showLf = false;
        }
      }
      this.judgeShowBtn();
    },
    // 右切
    handleRight() {
      if (this.nowLeft + this.boxWidth < this.allWidth) {
        this.nowNum++;
        this.showLf = true;
        let nw = 0;
        for (let i = 0; i < this.list.length; i++) {
          if (i >= this.nowIndex) {
            nw += this.$refs["li" + i][0].offsetWidth;
            if (nw > this.boxWidth) {
              nw -= this.$refs["li" + i][0].offsetWidth;
              this.nowLeft += nw;
              this.nowIndex = i;
              break;
            }
          }
        }
        if (this.nowLeft + this.boxWidth >= this.allWidth) {
          this.showRt = false;
        }
      }
      this.judgeShowBtn();
    },
  },
};
</script>
  
<style lang="scss" scoped>
.tag-box {
  padding: 0 20px;
  height: 32px;
  position: relative;

  .tag-list {
    height: 32px;
    line-height: 32px;
    position: relative;

    .tag-box {
      height: 32px;
      display: flex;
      flex-wrap: nowrap;
      transition-duration: 0.3s;
      position: absolute;
      top: 0px;
      left: 0px;
      margin: 0;
      padding: 0;

      .tag-item {
        height: 32px;
        white-space: nowrap;
        white-space: nowrap;
      }
    }

    .tag {
      height: 32px;
      box-sizing: border-box;
      padding: 6px 12px;
      color: #333333;
      font-weight: 400;
      font-size: 14px;
      background: #eaedf3;
      border-radius: 16px;
      margin-right: 16px;
      transition: border-color 0.2s;
      cursor: pointer;

      &:hover {
        background: #d6eeff;
        color: #008eed;
      }

      &.is_acive {
        background: #d6eeff;
        color: #008eed;
      }
    }
  }

  .el-icon-d-arrow-left {
    width: 20px;
    line-height: 32px;
    background: #fff;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
  }

  .el-icon-d-arrow-right {
    width: 20px;
    line-height: 32px;
    background: #fff;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
}
</style>