<template>
  <el-tree
    ref="tree"
    class="tree"
    :node-key="nodeKey"
    :data="data"
    :props="props"
    :default-expanded-keys="defaultshowKeys"
    highlight-current
    :expand-on-click-node="false"
    @node-click="handleNodeClick"
  ></el-tree>
</template>
<script>
export default {
  props: {
    value: {
      type: [String, Number],
      default: "",
    },
    // 树形的数据
    data: {
      type: Array,
      default: function () {
        return [];
      },
    },
    // 每个树节点用来作为唯一标识的属性
    nodeKey: {
      type: [String, Number],
      default: "id",
    },
    // tree的props配置
    props: {
      type: Object,
      default: function () {
        return {
          label: "name",
          children: "children",
        };
      },
    },
  },
  data() {
    return {
      defaultshowKeys: [], // 默认展开的节点id
      nodeId: "", // 当前选中的节点id
    };
  },
  computed: {},
  created() {
    console.log(this.data, "==");
    this.setNode([this.data[0].id]); // 默认只展开到二级部门
  },
  methods: {
    handleNodeClick(data) {
      this.$emit("input", data[this.nodeKey]);
      this.$emit("inputName", data.name);
     // this.$refs.select.visible = false;
    },
    setNode(list) {
      let nodeId = list[list.length - 1];
      this.$nextTick(() => {
       // this.$refs.tree.setCurrentKey(nodeId);
        this.defaultshowKeys = list;
        const node = document.getElementById(nodeId); // 通过Id获取到对应的dom元素
        if (node) {
          this.$nextTick(() => {
            node.scrollIntoView({ block: "center" }); // 通过scrollIntoView方法将对应的dom元素定位到可见区域 【block: 'center'】这个属性是在垂直方向居中显示
          });
        }
      });
    },
  },
};
</script>
<style lang="scss" scoped>
::v-deep {
  .el-tree-node__content {
    padding: 0 20px;
  }
  .el-tree--highlight-current
    .el-tree-node.is-current
    > .el-tree-node__content {
    color: #fff;
    background-color: #b9e1ff !important;
  }
}
</style>
