<!-- select组件 -->
<template>
  <el-color-picker
    v-model="currentValue"
    class="appSelectColor"
    v-on="$attrs.change ? { change: $attrs.change } : ''"
    v-bind="{ ...$attrs }"
  ></el-color-picker>
</template>
<script>
export default {
  name: "appSelectColor",
  props: {
    value: [String, Number, Array],
  },
  computed: {
    currentValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
  methods: {},
};
</script>

<style lang="scss">
.appSelectColor {
  &.el-color-picker--small .el-color-picker__trigger {
    width: 100%;
  }
}
</style>
