<template>
  <div class="staff-self-help-index">
    <el-row :gutter="20">
      <el-col :span="8"
        ><div class="model line1 base-info">
          <div class="base-info-main">
            <div class="left">
              <img :src="require('@/assets/forum/person.jpg')" alt="" />
            </div>
            <div class="right">
              <div class="title">
                <div class="name">张晓华</div>
                (13444)
              </div>
              <div class="company">CHINASIE</div>
              <div>XX处室 XX科室</div>
              <div>薪酬专员</div>
              <div class="contact">
                <div>
                  <img :src="require('@/assets/img/phone.svg')" alt="" /> 15500936187
                </div>
                <div>
                  <img :src="require('@/assets/img/letter.svg')" alt="" />11936187@163.com
                </div>
              </div>
            </div>
          </div>
        </div></el-col
      >
      <el-col :span="8"
        ><div class="model line1">
          <model-title title="休假定额" :border="true"></model-title>
          <div class="holiday-quota" @click="goCheckWork">
            <div class="ares">
              <div class="name">年休假</div>
              <div class="num">10</div>
            </div>

            <div class="ares">
              <div class="name">换休</div>
              <div class="num">2</div>
            </div>

            <div class="ares">
              <div class="name">探亲假</div>
              <div class="num">10</div>
            </div>
            <div class="ares">
              <div class="name">带薪护理假</div>
              <div class="num">7</div>
            </div>
          </div>
        </div></el-col
      >
      <el-col :span="8"
        ><div class="model line1">
          <model-title title="工资单">
            <div class="right" style="width: 170px">
              <app-date-picker
                type="month"
                formate="yyyy-MM"
                valueFormat="yyyy-MM"
                v-model="paySlipMonth"
                placeholder="选择月"
              ></app-date-picker>
            </div>
          </model-title>

          <div class="table" style="padding: 0 10px">
            <app-table
              row-key="id"
              @handleSelectionChange="handleSelectionChange"
              :data="tableData"
              :col-configs="tableFields"
              :empty-text="'暂无数据'"
            >
            </app-table>
          </div></div
      ></el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top: 20px">
      <el-col :span="7"
        ><div class="model common-use line2">
          <model-title title="常用功能"></model-title>
          <ul>
            <li v-for="(item, i) in commonList" :key="i">
              <i class="el-icon-video-camera"></i>
              <p>{{ item.name }}</p>
            </li>
          </ul>
        </div>
      </el-col>
      <el-col :span="10"
        ><div class="model line2">
          <model-title title="考勤月历" style="margin-bottom: 0"></model-title>
          <div class="calendar">
            <el-calendar v-model="monthlyTime"> </el-calendar>
          </div></div
      ></el-col>
      <el-col :span="7"
        ><div class="model-other line2">
          <div class="model-other-top">
            <model-title title="授权状态">
              <div class="more">更多 <i class="el-icon-d-arrow-right icon-more"></i></div>
            </model-title>
            <div class="table" style="padding: 0 10px">
              <app-table
                row-key="id"
                :data="empowerTableData"
                :col-configs="empowerTableFields"
                :empty-text="'暂无数据'"
              >
              </app-table>
            </div>
          </div>
          <div class="model-other-bottom">
            <model-title title="联系我们"> </model-title>
            <div class="contact-us">
              <img :src="require('@/assets/img/phone.svg')" alt="" />IT服务台：
              <span class="phone">400-8888-888</span>
            </div>
          </div>
        </div></el-col
      >
    </el-row>
  </div>
</template>
<script>
import modelTitle from "@/pages/components/modelTitle.vue";
import appDatePicker from "@/components/base/appDatePicker/index.vue";
import appTable from "@/components/base/appTable";
export default {
  data() {
    return {
      paySlipMonth: "",
      tableData: [],
      monthlyTime: "",
      empowerTableData: [], //授权状态
      commonList: [
        {
          name: "简历查询/修改",
          path: "",
        },
        {
          name: "员工画像",
          path: "",
        },
        {
          name: "请假申请",
          path: "",
        },
        {
          name: "个人考勤看板",
          path: "",
        },
        {
          name: "工资查询",
          path: "",
        },
      ],
    };
  },
  components: { modelTitle, appDatePicker, appTable },
  computed: {
    tableFields() {
      return [
        { prop: "emplId", label: "月份" },
        { prop: "emplName", label: "工资类型" },
        { prop: "age", label: "发放时间" },
      ];
    },
    empowerTableFields() {
      return [
        { prop: "emplId", label: "部门" },
        { prop: "emplName", label: "授权岗位" },
        { prop: "age", label: "授权状态" },
        { prop: "age", label: "到期时间" },
      ];
    },
  },
  mounted() {
    this.getUserInfo();
  },
  methods: {
    handleSelectionChange(row) {},
    getUserInfo() {
      this.api.publicInfo.publicInfoApi.userInfo().then((res) => {
        if (res.data.list) {
          this.options = [...this.options, ...res.data.list];
        }
      });
    },
    goCheckWork() {
      this.$router.push("/checkWorkBoard");
    },
  },
};
</script>
<style lang="scss" scoped>
.staff-self-help-index {
  .model {
    background: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    box-sizing: border-box;
    &.line1 {
      height: 260px;
    }
    &.line2 {
      height: 467px;
    }
    &.base-info {
      display: flex;
      //justify-content: center;
      align-items: center;
      background: linear-gradient(360deg, #e3f0ff 0%, #c2dcff 100%);
    }
    .base-info-main {
      display: flex;
      flex: 1;
      .left {
        width: 220px;
        img {
          width: 140px;
          height: 140px;
          object-fit: cover;
        }
      }
      .right {
        flex: 1;
        text-align: left;
        // padding-top: 6px;
        font-size: 16px;
        > div {
          line-height: 26px;
          font-size: 14px;
          color: #999999;
        }
        .title {
          margin-bottom: 6px;
          color: #000;
          .name {
            font-size: 24px;
            margin-right: 6px;
            display: inline-block;
          }
        }
        .company {
          font-size: 18px;
          color: #000;
        }
        .contact {
          display: flex;
          //margin-top: 10px;
          font-size: 14px;
          color: #247fff;
          > div {
            flex: 1;
            img {
              width: 18px;
              margin-right: 4px;
            }
          }
        }
      }
    }

    .holiday-quota {
      margin-top: 20px;
      cursor: pointer;
      .ares {
        width: 48%;
        display: inline-block;
        height: 74px;
        background: #f3f7fd;
        border-radius: 4px 4px 0px 0px;
        line-height: 33px;
        margin-right: 16px;
        margin-bottom: 12px;
        .num {
          font-size: 30px;
        }
        .name {
          font-size: 16px;
        }
      }
      .ares:nth-child(2n) {
        margin-right: 0px;
      }
    }
    .calendar {
    }
  }
  .common-use {
    ul {
      text-align: left;
      li {
        display: inline-block;
        width: 24%;
        text-align: center;
        margin-bottom: 18px;
        cursor: pointer;
        i {
          font-size: 36px;
        }
        p {
          font-size: 16px;
          margin-top: 6px;
        }
      }
    }
  }
  .model-other {
    display: flex;
    flex-direction: column;
    &.line2 {
      height: 467px;
    }
    .model-other-top,
    .model-other-bottom {
      background: #fff;
      border-radius: 8px;
      padding: 10px;
      box-sizing: border-box;
    }
    .model-other-top {
      flex: 1;
      margin-bottom: 16px;
      .more {
        font-size: 16px;
        color: #409eff;
        cursor: pointer;
      }
      .icon-more {
        font-size: 16px;
        color: #409eff;
      }
    }
    .model-other-bottom {
      height: 130px;
      .contact-us {
        font-size: 18px;
        margin-top: 20px;
        img {
          margin-right: 10px;
        }
        .phone {
          color: #027db4;
          cursor: pointer;
        }
      }
    }
  }
}
</style>
<style lang="scss">
.staff-self-help-index {
  .model {
    .holiday-quota {
      .el-divider--vertical {
        height: 5em;
      }
    }
    .calendar {
      .el-calendar__header {
        padding-top: 0;
      }
      .el-calendar-table .el-calendar-day {
        height: 45px;
      }
      .el-calendar__body {
        padding-bottom: 0;
      }
    }
  }
}
</style>
