<template>
	<div class="app-upload">
		<el-upload v-bind="$attrs" v-on="$listeners" v-loading="loading" class="avatar-uploader" :action="baseUrl"
			:on-success="handleUploadSuccess" :on-progress="handleUploadProgress" :before-upload="handleBeforeUpload"
			:show-file-list="false" :headers="header">
			<img v-if="currentValue" :src="currentValue" class="avatar" />

			<i v-else class="el-icon-plus avatar-uploader-icon"></i>
		</el-upload>
	</div>
</template>
<script>
import { getLocalStorage } from '@/utils/cache'
export default {
	name: 'appUpload',
	props: {
		action: String,
		onSuccess: Function,
		value: String,
		maxSize: {
			type: Number,
			default: 5, //M
		},
	},

	data() {
		return {
			imgUrl: this.imgUrl || '',
			loading: false,
			baseUrl: '/common/oss/upload', //上传的路径
			header: {
				'token': getLocalStorage('X-Token'),
			},
		};
	},
	watch: {
		action(val) {
			this.baseUrl = val; // 自定义上传路径
		},
	},

	computed: {
		currentValue: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit('input', value);
			},
		},
	},
	methods: {
		handleUploadSuccess(res) {
			let _this = this;
			this.loading = false;
			if (_this.onSuccess) _this.onSuccess(res);
			let env = process.env.VUE_APP_FILES;
			_this.imgUrl = env + res.data.src;
			this.$emit('input', _this.imgUrl);
		},
		handleBeforeUpload(file) {
			const isJPG = file.type === 'image/jpeg';
			const isPNG = file.type === 'image/png';
			const isPG = isJPG || isPNG; //限制图片格式为jpg / png
			const isLtnM = file.size / 1024 / 1024 < this.maxSize;

			if (!isPG) {
				this.$message.error('上传头像图片只能是 JPG 或 PNG 格式!');
			}
			if (!isLtnM) {
				this.$message.error(`上传图片大小不能超过 ${this.maxSize}M(兆)!`);
			}
			return isPG && isLtnM;
		},
		handleUploadProgress() {
			this.loading = true;
		},
	},
};
</script>

<style lang="scss" scoped>
::v-deep .el-loading-spinner {
	position: absolute;
	height: 100%;
	top: 22px;
	text-align: center;
}

.app-upload {
	// min-width: 178px;
	height: 150px;
	line-height: 178px;
	max-width: 120px;

	.avatar-uploader {
		width: 100%;
		height: 100%;
	}

	::v-deep .el-upload {
		width: 100%;
		height: 100%;
		border: 1px dashed #d9d9d9;
		border-radius: 6px;
		cursor: pointer;
		position: relative;
		overflow: hidden;
	}

	.avatar-uploader .el-upload:hover {
		border-color: #409eff;
	}

	.avatar-uploader-icon {
		font-size: 28px;
		color: #8c939d;
		width: 100%;
		height: 100%;
		line-height: 100%;
		text-align: center;
	}

	.avatar {
		width: 100%;
		height: 100%;
		display: block;
	}
}
</style>
