<template>
  <div class="date_info_container">
    <el-form ref="dateForm" :model="baseInfo" label-suffix=":">
      <el-row class="date_info_item">
        <el-col :span="8">
          <el-form-item label="入职日期">
            <show-tooltip :content="dateFormat(baseInfo.JRGSDATE)"></show-tooltip>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="参加工作日期">
            <show-tooltip :content="baseInfo.CJGZDATE"></show-tooltip>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="连续社会工龄计算日期">
            <show-tooltip :content="baseInfo.SHGLDATE"></show-tooltip>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row class="date_info_item">
        <el-col :span="8">
          <el-form-item label="任现职级日期">
            <show-tooltip :content="baseInfo.ZZRZDA"></show-tooltip>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="任上一职级日期">
            <show-tooltip :content="baseInfo.ZZSZRQ"></show-tooltip>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="退休日期">
            <show-tooltip :content="baseInfo.DAT01"></show-tooltip>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script>
import ShowTooltip from "./showTooltip.vue";
import { USABLE, STATUS } from "./options";
import { dateFormat } from "@/utils/index";

export default {
  props: {
    baseInfo: {
      type: Object,
      default: () => ({}),
    },
  },
  components: {
    ShowTooltip,
  },
  data() {
    return {
      isShowTooltip: false,
    };
  },
  methods: {
    // 时间转换
    dateFormat(time, fmt = "yyyy-MM-dd") {
      return dateFormat(time, fmt);
    },
    // 数据转换
    dictTransform(value, key) {
      const options = {
        usable: USABLE,
        status: STATUS,
      };
      const currentOption = options[key].find((o) => o.value === value);
      return currentOption ? currentOption.label : "";
    },
  },
};
</script>

<style lang="scss" scoped>
.el-form {
  .el-form-item {
    margin-bottom: 0;

    /deep/ .el-form-item__label {
      line-height: 24px;
    }

    /deep/ .el-form-item__content {
      line-height: 24px;
      display: flex;

      span {
        line-height: 24px;
      }
    }
  }

  .text-hidden {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.date_info_item {
  margin: 10px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
</style>
