<template>
  <div class="show-table-container">
    <el-table ref="showTable" class="content_table" :data="tableData" v-bind="$attrs">
      <el-table-column v-if="hasIndex" type="index" label="序号" width="50">
      </el-table-column>
      <el-table-column v-for="(column, index) in tableColumns" :key="index" :width="column.width"
        :min-width="renderWidth(column)" :showOverflowTooltip="isToolTop(column)" v-bind="column">
        <template slot-scope="scope">
          <!-- 显示插槽 -->
          <div v-if="column.type == 'solt'">
            <slot :name="column.slotName || column.prop" :row="scope.row" :column="scope.column" :index="scope.$index">
            </slot>
          </div>
          <!-- 直接显示 -->
          <div v-else>
            {{ getValue(scope.row, column) }}
          </div>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { dateFormat } from "@/utils/index"
export default {
  props: {
    // 表格列配置
    tableColumns: {
      type: Array,
      required: true,
    },
    // 表格数据
    tableData: {
      type: Array,
      required: true,
    },
    // 是否存在序号列 
    hasIndex: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {};
  },
  mounted(){
    console.log(this.tableColumns,'====');
  },
  methods: {
    // 表头自适应
    renderWidth(column) {
      if (column['min-width']) {
        return column['min-width']
      }
      let realWidth = 0;
      let span = document.createElement("span");
      span.innerText = column.label;
      document.body.appendChild(span);
      realWidth = span.getBoundingClientRect().width + 24; // 表头文本宽度 + padding
      document.body.removeChild(span);
      return realWidth;
    },
    // 获取显示的值
    getValue(item, column) {
      let value = item[column.prop]; // 对应字段值
      switch (column.type) {
        case "date":
          value = dateFormat(value, "yyyy-MM-dd");
          break;
        case "time":
          value = dateFormat(value, "hh:mm:ss");
          break;
        case "datetime":
          value = dateFormat(value, "yyyy-MM-dd Hh:mm:ss");
          break;
        case "select":
          // 选择器 type:"select"与options Array
          if (!column.options) {
            throw new ReferenceError("options required", "showColumns.vue", 97);
          } else {
            const currentOption = column.options.find((o) => o.value === value);
            value = currentOption ? currentOption.label : "";
          }
          break;
        case "format":
          // 自定义格式化 type:"format"与formatMethod Function
          if (typeof column.formatMethod === "function") {
            value = column.formatMethod(item[column.prop], item, column);
          }
          break;
        case "slot":
          // 自定义插槽，自行显示
          break;
        default:
          break;
      }
      return value;
    },
    // 是否溢出隐藏
    isToolTop(column) {
      if (column.showToolTip == undefined) {
        return true
      } else {
        return column.showToolTip
      }
    }
  },
};
</script>

<style lang="scss" scoped>
.show-table-container {
  .content_table {
    border: 1px solid #ccc;

    &::before {
      height: 0;
    }

    /deep/ .el-table__header-wrapper,
    /deep/.el-table__header {
      background: #eff0f3 !important;
    }

    /deep/.el-table__header-wrapper tr th {
      height: 40px !important;
      padding: 0;
      background: #eff0f3 !important;
      color: #000000;
      font-weight: normal;
    }

    /deep/.el-table__header,
    /deep/.el-table__body {
      tr,
      td {
        height: 40px;
        padding: 0;
        border-bottom: 0;
      }

      tr.current-row>td {
        background: none !important;
      }

      tr:hover>td {
        background: none !important;
      }
    }
  }

  .table_header {
    white-space: nowrap;
  }

  .el-form {
    .el-form-item {
      margin-bottom: 0;

      /deep/.el-form-item__label,
      /deep/.el-form-item__content {
        line-height: 24px;
      }
    }
  }

  // 自定义滚动条
  /deep/.el-table__body-wrapper::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /deep/.el-scrollbar__wrap::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /deep/.el-table__body-wrapper::-webkit-scrollbar-thumb {
    background-color: #bfbfc0;
    border-radius: 10px;
  }

  /deep/.el-table__body-wrapper::-webkit-scrollbar-track {
    background: #f5f5f5;
  }

  /deep/.el-table__body-wrapper::-webkit-scrollbar-corner {
    background: #f5f5f5;
  }

  /deep/.el-table__header .has-gutter th.gutter {
    display: none !important;
  }
}
</style>
