<template>
  <div class="staff_resume">
    <div class="left_part">
      <div class="left_item base_info" id="base_info">
        <search-title title="基本信息" subTitle="Personal Information"></search-title>
        <div class="info">
          <div class="heard_img">
            <img :src="photoUrl" alt="" />
            <div class="context">
              <div class="line">
                <span class="name">{{ baseInfo.ENAME }}</span>
                <span class="name_id">{{ baseInfo.PERNR }}</span>
                <!-- <span class="sex">
                  <img :src="baseInfo.sex === '女' ? nv : nan" alt="" />
                </span> -->
                <!-- <span v-if="baseInfo.isDy">
                  <img :src="dh" alt="" />
                </span> -->
              </div>
              <div class="lh14">
                {{ baseInfo.GESCH }} / {{ baseInfo.ZAGE }}岁（{{
                  baseInfo.GBDAT || "无"
                }}）/ {{ baseInfo.FAMST }} / {{ baseInfo.LTEXT }} /
                {{ baseInfo.PTEXT }}
              </div>
              <div class="lh14 flex-space-between">
                公司：{{ baseInfo.BUTXT }} 处室：{{ baseInfo.ZZDEPARTTXT }} 科室：{{
                  baseInfo.ZZSECTIONTXT
                }}
                职位： {{ baseInfo.PLANSTXT }} 序列:{{ baseInfo.ZEHR_GWORD }} 职级：{{
                  baseInfo.TRFGR
                }}
                职务级别：{{ baseInfo.POSLT }}
              </div>
              <div class="lh14 flex-space-between">
                籍贯：{{ baseInfo.ZZREGIO_TXT }} | {{ baseInfo.ZZCITY_TXT }} |
                {{ baseInfo.ZZDISTRICT_TXT }} 出生地：{{ baseInfo.GBDEP_TXT }} |
                {{ baseInfo.ZBCITY_TXT }} | {{ baseInfo.ZBDISTRICT_TXT }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="left_item" id="job_info">
        <search-title title="日期说明" subTitle="Personal File"></search-title>
        <div class="content">
          <date-info :baseInfo="baseInfo"></date-info>
        </div>
      </div>

      <div
        v-if="mainPostData.length"
        class="left_item work_experience"
        id="work_experience"
      >
        <search-title
          title="工作经历"
          subTitle="Work Experience"
          :hasRight="true"
          class="search-title"
        >
          <template #right>
            <div class="right" @click="changeState('JobPostState')">
              {{ JobPostState ? "折叠" : "展开"
              }}<i
                :class="JobPostState ? 'el-icon-d-arrow-left' : 'el-icon-d-arrow-right'"
              ></i>
            </div>
          </template>
        </search-title>

        <div class="content">
          <show-table
            :tableColumns="mainPostColumns"
            :tableData="JobPostState ? mainPostData2 : mainPostData"
          >
            <template slot="options" slot-scope="scope">
              <el-button type="text" @click="openSee(scope, 'workExperience', '工作经历')"
                >查看</el-button
              >
            </template>
          </show-table>
        </div>
      </div>

      <div
        v-if="eduExperienceData.length"
        class="left_item edu_experience"
        id="edu_experience"
      >
        <search-title
          title="教育经历"
          subTitle="Annual Performance"
          :hasRight="true"
          class="search-title"
        >
          <template #right>
            <div class="right" @click="changeState('eduState')">
              {{ eduState ? "折叠" : "展开"
              }}<i
                :class="eduState ? 'el-icon-d-arrow-left' : 'el-icon-d-arrow-right'"
              ></i>
            </div>
          </template>
        </search-title>
        <div class="content">
          <show-table
            :tableColumns="eduExperienceColumns"
            :tableData="eduState ? eduExperienceData2 : eduExperienceData"
          >
            <template slot="options" slot-scope="scope">
              <el-button type="text" @click="openSee(scope, 'eduExperience', '教育经历')"
                >查看</el-button
              >
            </template>
          </show-table>
        </div>
      </div>

      <div v-if="newsInfoData.length" class="left_item" id="news_info">
        <search-title
          title="通讯信息"
          subTitle="Talent Review"
          :hasRight="true"
          class="search-title"
        >
          <template #right>
            <div class="right" @click="changeState('newsState')">
              {{ newsState ? "折叠" : "展开"
              }}<i
                :class="newsState ? 'el-icon-d-arrow-left' : 'el-icon-d-arrow-right'"
              ></i>
            </div>
          </template>
        </search-title>
        <div class="content">
          <show-table
            :tableColumns="newsInfoColumns"
            :tableData="newsState ? newsInfoData2 : newsInfoData"
          >
            <template slot="options" slot-scope="scope">
              <el-button type="text" @click="openSee(scope, 'newsInfo', '通讯信息')"
                >查看</el-button
              >
            </template>
          </show-table>
        </div>
      </div>

      <div
        v-if="professionalData.length"
        class="left_item"
        id="professional_qualifications"
      >
        <search-title
          title="职业资格"
          subTitle="Project Experience"
          :hasRight="true"
          class="search-title"
        >
          <template #right>
            <div class="right" @click="changeState('professionalState')">
              {{ professionalState ? "折叠" : "展开"
              }}<i
                :class="
                  professionalState ? 'el-icon-d-arrow-left' : 'el-icon-d-arrow-right'
                "
              ></i>
            </div>
          </template>
        </search-title>
        <div class="content">
          <show-table
            :tableColumns="professionalColumns"
            :tableData="professionalState ? professionalData2 : professionalData"
          >
            <template slot="options" slot-scope="scope">
              <el-button type="text" @click="openSee(scope, 'professional', '职业资格')"
                >查看</el-button
              >
            </template>
          </show-table>
        </div>
      </div>

      <div v-if="careerAppointmentData.length" class="left_item" id="career_appointment">
        <search-title
          title="职业聘任"
          subTitle="Education Background"
          :hasRight="true"
          class="search-title"
        >
          <template #right>
            <div class="right" @click="changeState('careerAppointmentState')">
              {{ careerAppointmentState ? "折叠" : "展开"
              }}<i
                :class="
                  careerAppointmentState
                    ? 'el-icon-d-arrow-left'
                    : 'el-icon-d-arrow-right'
                "
              ></i>
            </div> </template
        ></search-title>
        <div class="content">
          <show-table
            :tableColumns="careerAppointmentColumns"
            :tableData="
              careerAppointmentState ? careerAppointmentData2 : careerAppointmentData
            "
          >
            <template slot="options" slot-scope="scope">
              <el-button
                type="text"
                @click="openSee(scope, 'careerAppointment', '职业聘任')"
                >查看</el-button
              >
            </template>
          </show-table>
        </div>
      </div>

      <div v-if="honorInfoData.length" class="left_item" id="honor_info">
        <search-title
          title="荣誉信息"
          subTitle="Qualification and Certification"
          :hasRight="true"
          class="search-title"
        >
          <template #right>
            <div class="right" @click="changeState('honorInfoState')">
              {{ honorInfoState ? "折叠" : "展开"
              }}<i
                :class="honorInfoState ? 'el-icon-d-arrow-left' : 'el-icon-d-arrow-right'"
              ></i>
            </div>
          </template>
        </search-title>
        <div class="content">
          <show-table
            :tableColumns="honorInfoColumns"
            :tableData="honorInfoState ? honorInfoData2 : honorInfoData"
          >
            <template slot="options" slot-scope="scope">
              <el-button type="text" @click="openSee(scope, 'honorInfo', '荣誉信息')"
                >查看</el-button
              >
            </template>
          </show-table>
        </div>
      </div>

      <div v-if="examineInfoData.length" class="left_item" id="examine_info">
        <search-title
          title="员工考核信息"
          subTitle="Training Records"
          :hasRight="true"
          class="search-title"
        >
          <template #right>
            <div class="right" @click="changeState('examineInfoState')">
              {{ examineInfoState ? "折叠" : "展开"
              }}<i
                :class="
                  examineInfoState ? 'el-icon-d-arrow-left' : 'el-icon-d-arrow-right'
                "
              ></i>
            </div>
          </template>
        </search-title>
        <div class="content">
          <show-table
            :tableColumns="examineInfoColumns"
            :tableData="examineInfoState ? examineInfoData2 : examineInfoData"
          >
            <template slot="options" slot-scope="scope">
              <el-button
                type="text"
                @click="openSee(scope, 'examineInfo', '员工考核信息')"
                >查看</el-button
              >
            </template>
          </show-table>
        </div>
      </div>

      <div v-if="emplFamlData.length" class="left_item" id="family_inform">
        <search-title
          title="家庭关系"
          subTitle="Family Information"
          :hasRight="true"
          class="search-title"
        >
          <template #right>
            <div class="right" @click="changeState('emplFamlState')">
              {{ emplFamlState ? "折叠" : "展开"
              }}<i
                :class="emplFamlState ? 'el-icon-d-arrow-left' : 'el-icon-d-arrow-right'"
              ></i>
            </div>
          </template>
        </search-title>
        <div class="content">
          <show-table
            :tableColumns="emplFamlColumns"
            :tableData="emplFamlState ? emplFamlData2 : emplFamlData"
          >
            <template slot="options" slot-scope="scope">
              <el-button type="text" @click="openSee(scope, 'emplFaml', '家庭关系')"
                >查看</el-button
              >
            </template>
          </show-table>
        </div>
      </div>

      <div v-if="addressInfoData.length" class="left_item" id="address_information">
        <search-title
          title="地址信息"
          subTitle="Mentor Information"
          :hasRight="true"
          class="search-title"
        >
          <template #right>
            <div class="right" @click="changeState('addressInfoState')">
              {{ addressInfoState ? "折叠" : "展开"
              }}<i
                :class="
                  addressInfoState ? 'el-icon-d-arrow-left' : 'el-icon-d-arrow-right'
                "
              ></i>
            </div>
          </template>
        </search-title>
        <div class="content">
          <show-table
            :tableColumns="addressInfoColumns"
            :tableData="addressInfoState ? addressInfoData2 : addressInfoData"
          >
            <template slot="options" slot-scope="scope">
              <el-button type="text" @click="openSee(scope, 'addressInfo', '地址信息')"
                >查看</el-button
              >
            </template>
          </show-table>
        </div>
      </div>
    </div>

    <div class="right_part">
      <ul class="right_container">
        <li v-for="(item, i) in navOtions" :key="i" @click="goTo(i, item.value)">
          <span class="right_item" :class="{ is_acive: nav_acive == i }"></span>
          {{ item.label }}
        </li>
      </ul>
    </div>

    <app-dialog
      :title="titleDialog"
      v-model="detailsDialogVisible"
      width="55%"
      :isBtn="false"
    >
      <app-form :fields="detailsFields" :data="detailsFormInline" class="detailsForm" />
    </app-dialog>
  </div>
</template>

<script>
import SearchTitle from "./searchTitle.vue";
import appDialog from "@/components/base/appDialog";
import TitleDot from "./titleDot.vue";
import dateInfo from "./dateInfo.vue";
import ShowTable from "./showTable.vue";
import appForm from "@/components/base/appForm";
import {
  workExperience,
  eduExperience,
  newsInfo,
  professional,
  careerAppointment,
  honorInfo,
  examineInfo,
  emplFaml,
  addressInfo,
} from "./fields";
import {
  mainPostColumns,
  eduExperienceColumns,
  newsInfoColumns,
  professionalColumns,
  careerAppointmentColumns,
  honorInfoColumns,
  examineInfoColumns,
  addressInfoColumns,
  emplFamlColumns,
} from "./config";
import { dateFormat } from "@/utils/index";

export default {
  props: {
    baseInfo: {
      type: Object,
      default: () => ({}),
    },
    photoUrl: {
      type: String,
      default: "",
    },
    empId: {
      type: [Number, String],
      default: "",
    },
  },
  components: {
    SearchTitle,
    TitleDot,
    dateInfo,
    ShowTable,
    appDialog,
    appForm,
  },
  data() {
    return {
      nan: require("@/assets/ic_nan.png"),
      nv: require("@/assets/ic_nv.png"),
      dh: require("@/assets/ic_dh.png"),
      nav_acive: 0,
      mainPostData: [],
      mainPostData2: [],
      eduExperienceData: [],
      newsState: false,
      newsInfoData: [],
      newsInfoData2: [],
      professionalState: false,
      professionalData: [],
      professionalData2: [],
      careerAppointmentState: false,
      careerAppointmentData: [],
      careerAppointmentData2: [],
      honorInfoState: false,
      honorInfoData: [],
      honorInfoData2: [],
      examineInfoState: false,
      examineInfoData: [],
      examineInfoData2: [],
      addressInfoState: false,
      addressInfoData: [],
      addressInfoData2: [],
      emplFamlState: false,
      emplFamlData: [],
      emplFamlData2: [],
      //
      JobPostState: false,
      titleDialog: "",
      detailsDialogVisible: false,
      detailsFormInline: {},
      detailsType: "", //
      eduState: false,
      eduExperienceData: [],
      eduExperienceData2: [],
    };
  },
  computed: {
    mainPostColumns,
    eduExperienceColumns,
    newsInfoColumns,
    professionalColumns,
    careerAppointmentColumns,
    honorInfoColumns,
    examineInfoColumns,
    addressInfoColumns,
    emplFamlColumns,
    isSelf() {
      const pageType = this.$route.query.type;
      return pageType === "self";
    },
    detailsFields() {
      let vm = this;
      let arr = [];
      switch (vm.detailsType) {
        case "workExperience":
          arr = workExperience;
          break;
        case "eduExperience":
          arr = eduExperience;
          break;
        case "newsInfo":
          arr = newsInfo;
          break;
        case "professional":
          arr = professional;
          break;
        case "careerAppointment":
          arr = careerAppointment;
          break;
        case "honorInfo":
          arr = honorInfo;
          break;
        case "examineInfo":
          arr = examineInfo;
          break;
        case "emplFaml":
          arr = emplFaml;
          break;
        case "addressInfo":
          arr = addressInfo;
          break;
        default:
          arr = [];
          break;
      }
      return arr;
    },
    navOtions() {
      const navOtions = [
        {
          label: "基本信息",
          value: "base_info",
          id: 0,
          isShow: true,
        },
        {
          label: "日期说明",
          value: "job_info",
          id: 1,
          isShow: true,
        },
        {
          label: "工作经历",
          value: "work_experience",
          id: 2,
          isShow: this.mainPostData.length,
        },
        {
          label: "教育经历",
          value: "edu_experience",
          id: 3,
          isShow: this.eduExperienceData.length,
        },
        {
          label: "通讯信息",
          value: "news_info",
          id: 4,
          isShow: this.newsInfoData.length,
        },
        {
          label: "职业资格",
          value: "professional_qualifications",
          id: 5,
          isShow: this.professionalData.length,
        },
        {
          label: "职业聘任",
          value: "career_appointment",
          id: 6,
          isShow: this.careerAppointmentData.length,
        },
        {
          label: "荣誉信息",
          value: "honor_info",
          id: 7,
          isShow: this.honorInfoData.length,
        },
        {
          label: "员工考核信息",
          value: "examine_info",
          id: 8,
          isShow: this.examineInfoData.length,
        },
        {
          label: "家庭关系",
          value: "family_inform",
          id: 9,
          isShow: this.emplFamlData.length,
        },
        {
          label: "地址信息",
          value: "address_information",
          id: 10,
          isShow: this.addressInfoData.length,
        },
      ];
      return navOtions.filter((i) => i.isShow);
    },
  },
  watch: {
    empId: {
      immediate: true,
      handler(val) {
        if (val) {
          this.getAllData();
        }
      },
    },
  },
  methods: {
    openSee(data, type, name) {
      this.detailsType = type;
      this.titleDialog = name;
      this.detailsDialogVisible = true;
      this.detailsFormInline = data.row;
      console.log(data, "====");
    },
    changeState(name) {
      this[name] = !this[name];
    },
    //锚点
    goTo(key, nameId) {
      this.nav_acive = key;
      document.querySelector("#" + nameId).scrollIntoView(true);
    },

    // 获取所以数据
    getAllData() {
      this.getMainPostApi();
      this.getEmpPerformaceApi();
      this.getNewsInfoApi();
      this.getProfessionalApi();
      this.getCareerAppointmentApi();
      this.getHonorInfoApi();
      this.getExamineInfoApi();
      this.getAddressInfoApi();
      this.getEmplFamlApi();
    },

    // 时间格式化
    dateFormat(date, fmt = "yyyy-MM-dd") {
      return dateFormat(date, fmt);
    },

    // 基本信息(含在职信息) (与个人画像接口一致,不调用)
    getBasicInfoApi() {
      const url = this.$environmentApi + "/empresume/searchBaseInfo";
      this.$axios({
        method: "get",
        url,
        params: {
          emplId: this.empId,
        },
      }).then((res) => {
        const data = res.data || {};
        data.isDy = ["A", "B"].includes(data.politicCtcId);
        this.baseInfo = data;
      });
    },
    // 照片 (与个人画像接口一致,不调用)
    getPhotoApi() {
      this.$axios({
        method: "get",
        url: this.$environmentApi + "/empinfophoto/searchPhoto",
        params: {
          emplId: this.empId,
        },
      }).then((res) => {
        const url = "data:image/png;base64," + res.data.employeePhoto;
        this.photoUrl = url;
      });
    },

    // 工作履历-内部工作经历(主职)
    getMainPostApi() {
      const params = {
        emplId: this.empId,
      };
      this.api.talentPortrait.talentPortraitApi
        .empphotoSearchWorkExp(params)
        .then((res) => {
          console.log(res, "工作经历");
          this.mainPostData2 = res.d.results || [];
          if (res.d.results.length > 3) {
            this.mainPostData = res.d.results.slice(0, 3);
          } else {
            this.mainPostData = res.d.results || [];
          }
        });
    },
    // 教育经历
    getEmpPerformaceApi() {
      const params = {
        emplId: this.empId,
      };
      this.api.talentPortrait.talentPortraitApi.eduExp(params).then((res) => {
        console.log(res, "教育经历");
        this.eduExperienceData2 = res.d.results || [];
        if (res.d.results.length > 3) {
          this.eduExperienceData = res.d.results.slice(0, 3);
        } else {
          this.eduExperienceData = res.d.results || [];
        }
      });
    },
    // 通讯信息
    getNewsInfoApi() {
      const params = {
        emplId: this.empId,
      };
      this.api.talentPortrait.talentPortraitApi.newsInfoApi(params).then((res) => {
        console.log(res, "通讯信息");
        this.newsInfoData2 = res.d.results || [];
        if (res.d.results.length > 3) {
          this.newsInfoData = res.d.results.slice(0, 3);
        } else {
          this.newsInfoData = res.d.results || [];
        }
      });
    },
    // 职业资格
    getProfessionalApi() {
      const params = {
        emplId: this.empId,
      };
      this.api.talentPortrait.talentPortraitApi.professionalApi(params).then((res) => {
        console.log(res, "职业资格");
        this.professionalData2 = res.d.results || [];
        if (res.d.results.length > 3) {
          this.professionalData = res.d.results.slice(0, 3);
        } else {
          this.professionalData = res.d.results || [];
        }
      });
    },
    // 职业聘任
    getCareerAppointmentApi() {
      const params = {
        emplId: this.empId,
      };
      this.api.talentPortrait.talentPortraitApi
        .careerAppointmentApi(params)
        .then((res) => {
          console.log(res, "职业聘任");
          this.careerAppointmentData2 = res.d.results || [];
          if (res.d.results.length > 3) {
            this.careerAppointmentData = res.d.results.slice(0, 3);
          } else {
            this.careerAppointmentData = res.d.results || [];
          }
        });
    },
    // 获取荣誉信息
    getHonorInfoApi() {
      const params = {
        emplId: this.empId,
      };
      this.api.talentPortrait.talentPortraitApi.honorInfoApi(params).then((res) => {
        console.log(res, "获取荣誉信息");
        this.honorInfoData2 = res.d.results || [];
        if (res.d.results.length > 3) {
          this.honorInfoData = res.d.results.slice(0, 3);
        } else {
          this.honorInfoData = res.d.results || [];
        }
      });
    },
    // 职业资格证书
    getEmplPcApi() {
      const url = this.$environmentApi + "/empresume/searchEmplPc";
      const params = {
        emplid: this.empId,
      };
      return new Promise((resolve, reject) => {
        this.$axios({ method: "get", url, params })
          .then((res) => {
            const data = res.data || [];
            const result = data.map((i) => {
              return {
                hpsName: i.hpsDQualTitle,
                hpsBgnDt: i.hpsDatCtf2,
                hpsLevel: i.hpsDQualLevel,
                hpsEndDt: i.jpmDate4,
                hpsJugeOrg: i.hpsJugeOrg2,
              };
            });
            resolve(result);
          })
          .catch((e) => {
            reject(e);
          });
      });
    },
    // 职称信息
    getEmplTitleApi() {
      const url = this.$environmentApi + "/empresume/searchEmplTitle";
      const params = {
        emplid: this.empId,
      };
      return new Promise((resolve, reject) => {
        this.$axios({ method: "get", url, params })
          .then((res) => {
            const data = res.data || [];
            const result = data.map((i) => {
              return {
                hpsName: i.hpsDTechTitle,
                hpsBgnDt: i.hpsDatCtf1,
                hpsLevel: i.hpsDTechLevel,
                hpsEndDt: i.jpmDate4,
                hpsJugeOrg: i.hpsJugeOrg1,
              };
            });
            resolve(result);
          })
          .catch((e) => {
            reject(e);
          });
      });
    },
    // 员工考核信息
    getExamineInfoApi() {
      const params = {
        emplId: this.empId,
      };
      this.api.talentPortrait.talentPortraitApi.examineInfoApi(params).then((res) => {
        console.log(res, "员工考核信息");
        this.examineInfoData2 = res.d.results || [];
        if (res.d.results.length > 3) {
          this.examineInfoData = res.d.results.slice(0, 3);
        } else {
          this.examineInfoData = res.d.results || [];
        }
      });
    },
    // 地址信息
    getAddressInfoApi() {
      const params = {
        emplId: this.empId,
      };
      this.api.talentPortrait.talentPortraitApi.addressInfoApi(params).then((res) => {
        console.log(res, "地址信息");
        this.addressInfoData2 = res.d.results || [];
        if (res.d.results.length > 3) {
          this.addressInfoData = res.d.results.slice(0, 3);
        } else {
          this.addressInfoData = res.d.results || [];
        }
      });
    },
    // 家庭关系
    getEmplFamlApi() {
      const params = {
        emplId: this.empId,
      };
      this.api.talentPortrait.talentPortraitApi.emplFamlApi(params).then((res) => {
        console.log(res, "家庭关系");
        this.emplFamlData2 = res.d.results || [];
        if (res.d.results.length > 3) {
          this.emplFamlData = res.d.results.slice(0, 3);
        } else {
          this.emplFamlData = res.d.results || [];
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.staff_resume {
  margin-right: 208px;
  position: relative;

  .left_part {
    background: #fff;
    border-radius: 0 10px 10px;

    .left_item {
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 1px solid #f0f0f0;

      &:last-child {
        padding-bottom: 53px;
        margin-bottom: 0;
        border: 0;
      }
      .search-title {
        .right {
          font-weight: 500;
          font-size: 16px;
          color: #126af2;
          cursor: pointer;
          i {
            transform: rotate(90deg);
            margin-left: 6px;
          }
        }
      }
    }

    .content {
      padding: 10px 30px 0;
      box-sizing: border-box;

      .job_info_item {
        margin: 12px 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .dot_content {
      padding-bottom: 10px;
    }

    .base_info {
      background: url("@/assets/resume_background.png") no-repeat;
      background-size: 40%;
      background-origin: border-box;
      background-position: 93% 77%;
      padding-top: 20px;

      .info {
        margin-top: 19px;
        padding-left: 28px;
        padding-right: 55px;

        .heard_img {
          display: flex;

          img {
            width: 89px;
            height: 113px;
            object-fit: cover;
          }

          .context {
            flex: 1;
            margin-left: 65px;
            color: #000000;
            font-size: 14px;
            text-align: left;
            font-weight: 400;

            img {
              width: 18px;
              height: 18px;
            }

            .line {
              margin-bottom: 10px;
            }

            .lh14 {
              line-height: 27px;
              letter-spacing: 1px;
            }

            .name {
              font-size: 20px;
              font-weight: bold;
            }

            .name_id {
              font-size: 18px;
              font-weight: bold;
              margin-left: 12px;
            }

            .sex {
              margin: 16px;
            }
          }
        }
      }
    }
  }

  .right_part {
    .right_container {
      width: 182px;
      max-height: calc(100vh - 200px);
      padding: 20px;
      overflow-y: auto;
      border-radius: 16px;
      background: #fff;
      position: fixed;
      top: 180px;
      right: 64px;

      li {
        color: #333333;
        font-size: 14px;
        line-height: 28px;
        text-align: left;
        cursor: pointer;
        position: relative;

        .right_item {
          display: inline-block;
          width: 8px;
          height: 8px;
          position: relative;
          vertical-align: middle;
          border: 2px solid #aaaaaa;
          border-radius: 50%;
          margin-right: 20px;

          &.is_acive {
            box-shadow: 0px 2px 5px 0px rgba(0, 142, 237, 0.61);
            border: 2px solid #008eed;
          }
        }

        &:not(:first-child) {
          .right_item::before {
            content: "";
            width: 1px;
            height: 14px;
            border-left: 1px dashed #d5d5d5;
            position: absolute;
            top: -16px;
            left: 4px;
          }
        }

        &:not(:last-child) {
          .right_item::after {
            content: "";
            width: 1px;
            height: 16px;
            border-left: 1px dashed #d5d5d5;
            position: absolute;
            top: 11px;
            left: 4px;
          }
        }
      }
    }
  }
}
.detailsForm {
  padding: 0 60px;
}
</style>
