<template>
  <div class="talent_tab_container">
    <div
      class="tab_item"
      :class="{ is_active: activeName === 'staffResume' }"
      @click="tabClick('staffResume')"
    >
      {{ staffResumeLabel }}
    </div>
    <div
      class="tab_item two_item"
      :class="{ is_active: activeName === 'portrait' }"
      @click="tabClick('portrait')"
    >
      {{ portraitLabel }}
    </div>
    <div
      class="tab_item last_item"
      :class="{ is_active: activeName === 'cadrePortrait' }"
      @click="tabClick('cadrePortrait')"
    >
      {{ cadrePortraitLabel }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: "portrait",
    },
    portraitLabel: {
      type: String,
      default: "",
    },
    staffResumeLabel: {
      type: String,
      default: "",
    },
    cadrePortraitLabel: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      aa: "",
    };
  },
  computed: {
    activeName: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit("input", val);
      },
    },
  },
  methods: {
    tabClick(tab) {
      this.activeName = tab;
      this.$emit("tabClick", tab);
    },
  },
};
</script>

<style lang="scss" scoped>
.talent_tab_container {
  height: 60px;
  width: 100%;
  overflow: hidden;
  position: relative;

  .tab_item {
    background-image: url("@/assets/tab_bg.png");
    background-size: 100% 100%;
    width: 214px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #999999;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: -25px;
  }
  .two_item {
    left: 140px;
  }
  .last_item {
    left: 310px;
  }

  .is_active {
    background-image: url("@/assets/tab_bg_active.png");
    background-size: 100% 100%;
    color: #0874f5;
    z-index: 6;
  }
}
</style>
