<template>
  <div :class="[isBro ? 'title' : 'title_dot']">
    <span :class="[isBro ? 'bro' : 'circular']"></span>
    {{ title }}
    <slot name="tips"></slot>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: "",
    },
    isBro: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
.title_dot {
  font-size: 14px;
  color: #0874f5;
  font-weight: 400;
  margin: 8px 30px;
  margin-bottom: 12px;
  text-align: left;
  .circular {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #72b2ff;
    box-shadow: 0px 2px 4px 0px rgba(8, 116, 245, 0.26);
    border-radius: 16px;
  }
}

.title {
  margin-left: 2px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #000;
  font-weight: 500;

  .bro {
    display: inline-block;
    width: 9px;
    height: 9px;
    box-shadow: 0px 2px 5px 0px rgba(0, 142, 237, 0.61);
    border: 2px solid #008eed;
    margin-right: 8px;
    border-radius: 50%;
  }
}
</style>
