<!--  -->
<template>
    <el-tooltip effect="dark" :content="contentHover" placement="top-end" :disabled="isShowTooltip">
        <div class='linkTo' :style="{ 'text-align': align }" @mouseover="onMouseOver(label)">
            <span :ref='label'>{{ label }}</span>
        </div>
    </el-tooltip>
</template>

<script>
export default {
    props: {
        label: '',
        align: { type: String, default: 'left' }
    },
    data() {
        return {
            isShowTooltip: false,
            contentHover: '',
        };
    },
    methods: {
        onMouseOver(str) { // 内容超出，显示文字提示内容
            const tag = this.$refs[str]
            const parentWidth = tag.parentNode.offsetWidth // 获取元素父级可视宽度
            const contentWidth = tag.offsetWidth // 获取元素可视宽度
            this.isShowTooltip = contentWidth <= parentWidth
            // 鼠标悬停后显示的内容
            this.contentHover = this.label
        }
    }
}

</script>
<style lang='scss' scoped>
.linkTo {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
</style>