<template>
  <div class="manageTerrace">
    <div class="talent_tab_container">
      <div
        class="tab_item"
        :class="{ is_active: activeName === 'personal' }"
        @click="tabClick('personal')"
      >
        员工结构分析
      </div>
      <div
        class="tab_item last_item"
        :class="{ is_active: activeName === 'team' }"
        @click="tabClick('team')"
      >
        团队考勤看板
      </div>
    </div>
    <div id="watermark_box">
      <keep-alive>
        <component :is="activeName"> </component>
      </keep-alive>
    </div>
  </div>
</template>
<script>
import personal from "./components/personal/index.vue";
import team from "./components/team";
export default {
  components: {
    personal,
    team,
  },
  data() {
    return {
      activeName: "personal",
    };
  },
  methods: {
    tabClick(tab) {
      this.activeName = tab;
    },
  },
};
</script>
<style lang="scss" scoped>
.manageTerrace {
  .talent_tab_container {
    height: 40px;
    border-radius: 8px;
    padding-left: 20px;
    padding-top: 8px;
    box-sizing: border-box;
    background: linear-gradient(
      -90deg,
      rgba(164, 197, 237, 1) 1%,
      rgba(66, 133, 244, 1) 99%
    );
    text-align: left;
    .tab_item {
      display: inline-block;
      height: 36px;
      padding: 0 8px;
      line-height: 36px;
      border-radius: 8px 8px 0px 0px;
      color: #fff;
      margin-right: 16px;
      cursor: pointer;
      font-size: 16px;
      &.is_active {
        background: #fff;
        color: #4b8bf3;
      }
    }
  }
}
</style>
