<template>
	<div>
		{{ $attrs.pickerOptions }}
		<el-time-picker :disabled="disabled" v-model="currentValue" :picker-options="$attrs.pickerOptions" v-bind="{ ...$attrs }" />
	</div>
</template>
<script>
export default {
	name: 'appTimePicker',
	props: {
		value: [String, Array],
		disabled: Boolean,
	},
	computed: {
		currentValue: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit('input', value);
			},
		},
	},
};
</script>
<style lang="scss" scoped>
::v-deep .el-range-separator {
	display: flex;
	align-items: center;
}
</style>
