<!-- @format -->

<template>
	<div class="app-sub-title">
		<div class="title-icon"></div>
		<div class="title-content">
			{{ title }}
		</div>
	</div>
</template>
<script>
export default {
	name: 'appSubTitle',
	props: {
		title: String,
	},
};
</script>
<style lang="scss" scoped>
.app-sub-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 20px 0;
	line-height: 14px;
	.title-icon {
		width: 6px;
		height: 15px;
		background-color: #409eff;
		margin-right: 10px;
	}
	.title-content {
		font-size: 16px;
	}
}
</style>
