<template>
  <el-cascader
    ref="cascader"
    v-model="currentValue"
    v-on="$attrs.change ? { change: $attrs.change } : ''"
    v-bind="{ ...$attrs }"
    :options="options"
  ></el-cascader>
</template>
<script>
export default {
  name: "appCascader",
  props: {
    options: [Array, Function],
    value: [Array, String],
  },
  computed: {
    currentValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
        console.log(this.$refs.cascader.getCheckedNodes(), "99999999");
        let labelName = "";
        if (this.$refs.cascader.getCheckedNodes().length != 0) {
          labelName = this.$refs.cascader.getCheckedNodes()[0].label;
        }

        this.$emit("inputName", labelName);
      },
    },
  },
};
</script>
