<!--人员模型维护页面-->
<template>
  <div class="add_personal_model main_page_style">
    <div
      class="title"
      style="text-align: left; margin-bottom: 20px; font-size: 18px; font-weight: 700"
    >
      {{ modelFormValue.modelName || "" }}
    </div>
    <div class="main_content" v-loading="loading">
      <div class="item_content" v-for="item in tableData" :key="item.lv1IndexName">
        <div class="first_title">
          <div class="title-left">
            <span class="circle"></span>{{ item.lv1IndexName || "" }}
          </div>
          <div>
            <i
              :class="
                getUnfold(item.lv1IndexId)
                  ? 'el-icon-caret-bottom'
                  : 'el-icon-caret-right'
              "
              :style="
                getUnfold(item.lv1IndexId)
                  ? 'color: #008eed;font-size: 20px;line-height: 32px;'
                  : 'font-size: 20px;line-height: 32px;'
              "
              @click="setUnfold(item.lv1IndexId)"
            ></i>
          </div>
        </div>
        <div class="first_description">
          <el-row>
            <el-col :span="9"> <span>人员一级指标描述</span></el-col>
            <el-col :span="5"> <span>实际值</span></el-col>
            <el-col :span="5"> <span>调整值</span></el-col>
            <el-col :span="5"> <span>操作</span></el-col>
          </el-row>
        </div>
        <div class="first_result">
          <el-row>
            <el-col :span="9">
              <span>{{ item.lv1IndexComment || "/" }}</span></el-col
            >
            <el-col :span="5">
              <span>{{ item.actVal || 0 }}</span></el-col
            >
            <el-col :span="5">
              <span>{{ item.adjVal || 0 }}</span></el-col
            >
            <el-col :span="5">
              <span>
                <el-button type="text" @click="firstEdit(item)" :disabled="modelDisabled"
                  >编辑</el-button
                ></span
              ></el-col
            >
          </el-row>
        </div>
        <div v-if="getUnfold(item.lv1IndexId)">
          <div class="table-title">二级指标列表</div>
          <search-table
            class="search_table"
            :data="item.lv2IndexVOList"
            :fields="secondTableFields"
          >
            <template #operateSecond="{ row }">
              <el-button type="text" @click="secondEdit(row)" :disabled="modelDisabled"
                >编辑</el-button
              >
            </template></search-table
          >
        </div>
      </div>
      <div class="foot_buttons">
        <el-button @click="$emit('show', false)"> 取消 </el-button>
        <el-button
          type="primary"
          :loading="submitLoading"
          @click="submit"
          :disabled="modelDisabled"
        >
          提交
        </el-button>
      </div>
    </div>
    <dialog-form
      width="30%"
      :title="dialogTitle"
      @confirm="confirm"
      @cancel="cancel"
      :form-fields="dialogFormFields"
      :form-value="dialogFormValue"
      :form-rules="dialogFormRules"
      :dialog-visible.sync="dialogVisible"
      :form-label-width="'calc(8em + 12px)'"
      :destroy-on-close="true"
    ></dialog-form>
  </div>
</template>
<script>
import searchTable from "../../components/searchTable.vue";
import dialogForm from "../../components/dialogForm.vue";
export default {
  components: {
    searchTable,
    dialogForm,
  },
  props: {
    operateType: String,
    modelDisabled: Boolean,
    modelFormValue: Object,
    modelDetails: Object,
  },
  data() {
    return {
      loading: false,
      title: "",
      currentModelDetails: {}, // 模型指标详情
      unfoldList: [], // 存放二级指标折叠状态
      dialogVisible: false,
      dialogTitle: "",
      dialogFormValue: {},
      submitLoading: false,
      submitButtonLoading: false,
    };
  },
  computed: {
    tableData() {
      let vm = this;
      if (
        vm.currentModelDetails?.lv1IndexList &&
        vm.currentModelDetails.lv1IndexList.length > 0
      ) {
        vm.currentModelDetails = {
          ...vm.currentModelDetails,
          empId: vm.modelFormValue.empId,
          empName: vm.modelFormValue.empName,
          evaluateTime: vm.modelFormValue.evaluateTime,
          status: vm.modelFormValue.status,
          lv1IndexList: vm.currentModelDetails.lv1IndexList.map((p) => ({
            ...p,
            empId: vm.modelFormValue.empId,
            empName: vm.modelFormValue.empName,
            lv2IndexVOList:
              p.lv2IndexVOList &&
              p.lv2IndexVOList.map((m) => ({
                ...m,
                empId: vm.modelFormValue.empId,
                empName: vm.modelFormValue.empName,
                lv1IndexId: m.lv1IndexId || p.lv1IndexId,
              })),
          })),
        };
        console.log(vm.currentModelDetails.lv1IndexList, "=====");
        return vm.currentModelDetails.lv1IndexList;
      }
      return [];
    },
    secondTableFields() {
      return [
        {
          label: "序号",
          width: "50px",
          type: "index",
        },
        // {
        //   label: "二级指标编号",
        //   width: "150px",
        //   prop: "lv2IndexId",
        //   show: this.operateType === "add",
        // },
        {
          label: "二级指标",
          width: "150px",
          prop: "lv2IndexName",
        },
        {
          label: "人员二级指标描述",
          width: "300px",
          prop: "expComment",
        },
        {
          label: "数量",
          width: "100px",
          prop: "lv2IndexQty",
        },
        {
          label: "操作",
          width: "200px",
          slot: "operateSecond",
        },
      ].filter((f) => !f.show);
    },
    dialogFormFields() {
      if (this.dialogTitle && this.dialogTitle.includes("一级指标")) {
        return [
          {
            label: "人员一级指标描述",
            prop: "lv1IndexComment",
            type: "textarea",
          },
          {
            label: "实际值",
            prop: "actVal",
            type: "input-number",
          },
          {
            label: "调整值",
            prop: "adjVal",
            type: "input-number",
          },
        ];
      } else if (this.dialogTitle && this.dialogTitle.includes("二级指标")) {
        return [
          {
            label: "人员二级指标描述",
            prop: "expComment",
            type: "textarea",
          },
          {
            label: "数量",
            prop: "lv2IndexQty",
            type: "input-number",
          },
        ];
      }
      return [];
    },
    dialogFormRules() {
      if (this.dialogTitle && this.dialogTitle.includes("一级指标")) {
        return {
          actVal: [
            {
              required: true,
              message: "请输入实际值",
              trigger: "blur",
            },
          ],
        };
      }
      return {};
    },
  },
  mounted() {
    console.log(this.modelFormValue, "99999999");
    if (this.operateType === "add") {
      this.addGetDetails();
    } else {
      this.searchModelDetails();
    }
  },
  methods: {
    addGetDetails() {
      let vm = this;
      vm.currentModelDetails = { ...vm.modelDetails };
      if (vm.currentModelDetails?.lv1IndexList.length === 0) {
        vm.$alert("该模型未配置一级指标，是否返回", "提示", {
          confirmButtonText: "确定",
          callback: () => {
            vm.$emit("show", false);
          },
        });
      }
      if (
        this.currentModelDetails?.lv1IndexList &&
        this.currentModelDetails.lv1IndexList.length > 0
      ) {
        this.unfoldList = this.currentModelDetails.lv1IndexList.map((p) => ({
          lv1Index: p.lv1IndexId,
          unfold: p?.lv2IndexVOList && p.lv2IndexVOList.length > 0 ? true : false,
        }));
      }
    },
    // 查询当前人员关联的模型详情
    async searchModelDetails() {
      let vm = this;
      vm.loading = true;
      try {
        await vm.api.personnelPortrait.personnelPortraitApi
          .otrempmodelDetails({ id: vm.modelFormValue?.id })
          .then((res) => {
            vm.loading = false;
            console.log(res);
            if (res && res?.data) {
              vm.currentModelDetails = res.data;
              if (vm.currentModelDetails?.lv1IndexList.length === 0) {
                vm.$alert("该模型未配置一级指标，是否返回", "提示", {
                  confirmButtonText: "确定",
                  callback: () => {
                    vm.$emit("show", false);
                  },
                });
              }
            } else {
              vm.currentModelDetails = {};
              vm.$messsage.error("查询模型指标详情失败");
              vm.$emit("show", false);
            }
          });
      } catch (err) {
        console.log(err);
        vm.loading = false;
        vm.$emit("show", false);
      }
      if (
        this.currentModelDetails?.lv1IndexList &&
        this.currentModelDetails.lv1IndexList.length > 0
      ) {
        this.unfoldList = this.currentModelDetails.lv1IndexList.map((p) => ({
          lv1Index: p.lv1IndexId,
          unfold: p?.lv2IndexVOList && p.lv2IndexVOList.length > 0 ? true : false,
        }));
      }
    },
    getUnfold(index) {
      if (
        this.unfoldList &&
        this.unfoldList.length > 0 &&
        this.unfoldList.find((f) => f.lv1Index === index)?.unfold
      ) {
        return true;
      }
      return false;
    },
    setUnfold(index) {
      this.unfoldList.find((f) => f.lv1Index === index).unfold = !this.unfoldList.find(
        (f) => f.lv1Index === index
      ).unfold;
    },
    firstEdit(row) {
      this.dialogTitle = "修改一级指标信息";
      this.dialogFormValue = { ...row };
      this.dialogVisible = true;
    },
    secondEdit(row) {
      this.dialogTitle = "修改二级指标信息";
      this.dialogFormValue = { ...row };
      this.dialogVisible = true;
    },
    confirm() {
      let vm = this;
      if (vm.dialogTitle === "修改一级指标信息") {
        vm.currentModelDetails.lv1IndexList = vm.currentModelDetails?.lv1IndexList.map(
          (p) => {
            if (p.lv1IndexId === vm.dialogFormValue.lv1IndexId) {
              return {
                ...p,
                lv1IndexComment: vm.dialogFormValue.lv1IndexComment,
                actVal: vm.dialogFormValue.actVal,
                adjVal: vm.dialogFormValue.adjVal,
              };
            }
            return p;
          }
        );
      } else if (vm.dialogTitle === "修改二级指标信息") {
        console.log(vm.dialogFormValue, "8888888");
        vm.currentModelDetails.lv1IndexList.find((f) => {
          if (f.lv1IndexId === vm.dialogFormValue.lv1IndexId) {
            f.lv2IndexVOList = f.lv2IndexVOList.map((p) => {
              if (p.lv2IndexId === vm.dialogFormValue.lv2IndexId) {
                return {
                  ...p,
                  expComment: vm.dialogFormValue.expComment,
                  lv2IndexQty: vm.dialogFormValue.lv2IndexQty,
                };
              }
              return p;
            });
          }
        });
        console.log(vm.currentModelDetails, "88822228888");
      }
      vm.cancel();
    },
    cancel() {
      this.dialogVisible = false;
      this.dialogFormValue = {};
      this.dialogTitle = "";
    },
    submit() {
      let vm = this;
      if (vm.currentModelDetails.lv1IndexList.find((f) => !f.actVal)) {
        return vm.$message.warning("您有尚未维护的一级指标");
      }
      vm.submitLoading = true;
      const { lv1IndexList, ...form } = vm.currentModelDetails;
      console.log(vm.currentModelDetails, "8888888");
      vm.api.personnelPortrait.personnelPortraitApi
        .otrempmodelSaveIndex({
          ...form,
          lv1IndexList: vm.currentModelDetails.lv1IndexList,
        })
        .then((res) => {
          vm.submitLoading = false;
          if (res.code == 0) {
            vm.$message.success("保存成功");
            vm.$emit("show", false);
            vm.$parent.search(1);
          }
        })
        .catch(() => {
          vm.submitLoading = false;
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.add_personal_model {
  margin: 20px;
  padding: 16px 20px;
  background: #fff;
}

.main_content {
  text-align: center;
}

.first_title,
.first_description,
.first_result {
  line-height: 32px;
  padding: 0 20px;
}

.first_title {
  display: flex;
  justify-content: space-between;
  border-radius: 8px 8px 0 0;
  background: #f0f0f0;
  .title-left {
    display: flex;
    .circle {
      width: 12px;
      height: 12px;
      border-radius: 100%;
      background-color: #666;
      display: flex;
      margin-top: 10px;
      margin-right: 5px;
    }
  }
}
.first_description,
.first_result {
  text-align: center;
}
.first_description {
  background: #eaedf3;
}
.first_result {
  border-radius: 0 0 8px 8px;
}

.table-title {
  text-align: left;
  line-height: 32px;
  padding-left: 10px;
}
.search_table {
  padding: 0 !important;
  margin-bottom: 40px;
}

.foot_buttons {
  margin: 0 auto;
  margin-top: 100px;
  .el-button {
    width: 120px;
  }
  .el-button--primary {
    background: linear-gradient(270deg, #1bb5ff 0%, #008eed 100%);
  }
}
.el-button.is-disabled {
  color: #c0c4cc !important;
}
</style>
