<!--模型库主页-->
<template>
  <div class="model_library main_page_style" v-if="!modelVisible">
    <app-breadcrumb :options="breadcrumbList"></app-breadcrumb>
    <el-card class="mb14">
      <!-- 查询表单 -->
      <div class="search_form">
        <div class="item">
          <span class="label">模型名称</span>
          <el-input v-model="searchForm.modelName" placeholder="请输入内容"></el-input>
        </div>
        <div class="item dept">
          <span class="label">适用组织</span>
          <select-tree v-model="searchForm.deptId" style="width: auto"></select-tree>
        </div>
        <div class="item">
          <span class="label">适用序列</span>
          <el-select
            v-model="searchForm.categoryId"
            placeholder="请选择"
            filterable
            clearable
          >
            <el-option
              v-for="item in sequenceList1"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </div>
        <div class="item status">
          <span class="label">状态</span>
          <el-select v-model="searchForm.status" placeholder="请选择" clearable>
            <el-option
              v-for="item in statusListALL"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </div>
        <el-button type="primary" class="primary_currency" @click="search(1)"
          >查询</el-button
        >
      </div>
    </el-card>
    <!-- 查询表格 -->
    <el-card class="mb14">
      <search-table :data="tableData" :fields="tableFields" :table-loading="tableLoading">
        <template #operate="{ row }">
          <el-button
            type="text"
            @click="operateModel('edit', row)"
            :disabled="row.batchStatus == '审批中'"
            >编辑</el-button
          >
          <el-button type="text" @click="operateModel('view', row)">查看</el-button>
          <!-- <el-button type="text" @click="see(row)">查看审批</el-button> -->
        </template>
        <template #tableOperation>
          <div style="margin-bottom: 16px; text-align: left">
            <el-button
              type="primary"
              class="primary_currency"
              style="margin-right: 18px"
              @click="operateModel('add')"
              >新建</el-button
            >
            <!-- <el-button
              plain
              class="plain_currency"
              style="margin-right: 18px"
              @click="importFile"
              >批量导入</el-button
            >
            <el-button
              plain
              class="plain_currency"
              style="margin-right: 18px"
              @click="exportFile"
              >批量导出</el-button
            > -->
            <batch-import
              ref="importFile"
              :form="searchForm"
              :urlTemplate="urlTemplate"
              :nameTemplate="nameTemplate"
              :fileType="fileType"
              :urlImport="urlImport"
            ></batch-import>
          </div>
        </template>
        <template #pagination>
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="page.currentPage"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="page.size"
            layout="total, sizes, prev, pager, next, jumper"
            :total="count"
             style="text-align: right; margin-top: 20px"
          >
          </el-pagination>
        </template>
      </search-table>
    </el-card>
  </div>
  <add-model
    v-else
    @show="showModel"
    :operate-type="operateType"
    :model-form-value="modelFormValue"
    :sequenceList="sequenceList"
  ></add-model>
</template>
<script>
import selectTree from "@/components/business/appSelectCompany";
import searchTable from "../../components/searchTable.vue";
import addModel from "./addModel.vue";
import batchImport from "../diag/batchImport";
import appForm from "@/components/base/appForm";
import appBreadcrumb from "@/components/base/appBreadcrumb";
import { mapGetters } from "vuex";
export default {
  components: {
    selectTree,
    searchTable,
    addModel,
    batchImport,
    appForm,
    appBreadcrumb,
  },
  data() {
    return {
      modelVisible: false,
      operateType: "add",
      title: "建模型库",
      searchForm: {
        categoryId: "",
        status: "",
      },
      urlTemplate: this.$environmentApi + "tmimodelbase/template",
      nameTemplate: "建模型库批量导入调整模板",
      urlImport: this.$environmentApi + "tmimodelbase/import",
      fileType: "BELONG_MODEL",

      tableData: [],
      tableLoading: false,
      page: {
        currentPage: 1,
        size: 10,
      },
      count: 0,
      breadcrumbList: [{ label: "后台配置" }, { label: "建模型库" }],
      //后面会删
      sequenceList: [],
      statusListALL: [{
          label: "全部",
          value: "",
        },
        {
          label: "生效",
          value: "生效",
        },
        {
          label: "失效",
          value: "失效",
        },],
    };
  },
  computed: {
    // ...mapGetters(["departmentList", "sequenceList", "statusListALL"]),
    sequenceList1() {
      let sequenceList = [];
      if (this.sequenceList.length > 0) {
        sequenceList = [{ value: "", label: "全部" }, ...this.sequenceList];
      }
      return sequenceList || [];
    },
    tableFields() {
      return [
        {
          label: "序号",
          width: "50px",
          type: "index",
        },
        {
          label: "模型编号",
          width: "180px",
          prop: "modelId",
          columnAttr: {
            sortable: "custom",
          },
        },
        {
          label: "模型名称",
          width: "180px",
          prop: "modelName",
          columnAttr: {
            sortable: "custom",
          },
        },
        {
          label: "适用组织",
          width: "220px",
          prop: "deptName",
          columnAttr: {
            sortable: "custom",
          },
        },
        {
          label: "适用序列",
          width: "180px",
          prop: "category",
          columnAttr: {
            sortable: "custom",
          },
        },
        {
          label: "排序",
          width: "120px",
          prop: "orderId",
          columnAttr: {
            sortable: "custom",
          },
        },

        {
          label: "状态",
          width: "100px",
          prop: "status",
          columnAttr: {
            sortable: "custom",
          },
        },
        {
          label: "审批状态",
          width: "180px",
          prop: "batchStatus",
          columnAttr: {
            sortable: "custom",
          },
        },
        {
          label: "操作",
          width: "180px",
          slot: "operate",
        },
      ];
    },
  },
  created() {
    // this.$store.dispatch("getDepartment");
    // this.$store.dispatch("getSequence");
    document.addEventListener("keydown", this.handleEvent);
    this.getDmposnseqAll(); //职序
  },
  mounted() {
    this.search();
  },
  beforeDestroy() {
    document.removeEventListener("keydown", this.handleEvent);
  },
  methods: {
    handleEvent(e) {
      console.log(e);
      if (13 == e.keyCode) {
        //如果是回车 的操作的话，方法执行与此
        this.search(1);
      }
    },
     getDmposnseqAll() {
      this.api.baseInfo.baseInfoApi.getDmposnseqAll().then((res) => {
        if (res.code == 0) {
          this.sequenceList = res.data.map((p)=>{
            return {
              label:p.posnSeqDescr,
              value:p.posnSeqId
            }
          });
        }
      });
    },
    showModel(val) {
      this.modelVisible = val;
      if (!val) {
        this.search();
      }
    },
    importFile() {
      let obj = {
        res: true,
      };
      this.$refs.importFile.setDiag(obj);
    },
    exportFile() {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmimodelbase/export",
        responseType: "blob",
        params: {
          ...vm.form,
        },
      }).then((res) => {
        console.log(res);
        if (res.data && !res.data.code) {
          const downURL = window.URL.createObjectURL(new Blob([res.data]));
          // data 为获取到的二进制数据
          const listNode = document.createElement("a");
          // 这里注意 ： 非同源a标签的download去命名没有用
          listNode.download = "建模型库信息.xlsx";
          listNode.style.display = "none";
          listNode.href = downURL;
          document.body.appendChild(listNode);
          listNode.click();
          document.body.removeChild(listNode);
        } else {
          vm.$message({
            type: "warning",
            message: res.data.msg,
          });
        }
      });
    },
    see(data) {
      let vm = this;
      vm.$reviewUrl(data.batchId, "see");
    },
    operateModel(type, row) {
      if (type) {
        this.operateType = type;
        this.modelFormValue = row && Object.keys(row).length > 0 ? { ...row } : {};
        this.modelVisible = true;
      }
    },
    search(currentPage = null) {
      let vm = this;
      vm.tableLoading = true;
      if (currentPage) {
        vm.page.currentPage = currentPage;
      }
      const { currentPage: page, size: limit } = this.page;
      let params = {
        ...vm.searchForm,
        page: Number(page),
        limit: Number(limit),
        // order: "",
        // orderField: "",
      };
      this.api.personnelPortrait.personnelPortraitApi
        .otrmodelPageModel(params)
        .then((res) => {
          this.$nextTick(() => {
            vm.tableLoading = false;
            if (res.code == 0) {
              vm.tableData = res.data?.list;
              vm.count = res.data.total;
            } else {
              vm.tableData = [];
              vm.count = 0;
            }
          });
        })
        .catch(() => {
          vm.tableLoading = false;
        });
    },
    handleCurrentChange(currentPage) {
      this.$set(this.page, "currentPage", currentPage);
      this.search();
    },
    handleSizeChange(size) {
      this.$set(this.page, "size", size);
      this.search();
    },
  },
};
</script>
<style lang="scss">
.model_library {
  padding: 16px 20px;
  .search_form {
    //padding: 20px;
    padding-bottom: 8px;
    background: #fff;
    border-radius: 4px;
    //margin-bottom: 20px;
    text-align: left;

    .item {
      display: inline-block;
      margin-right: 28px;
      margin-bottom: 12px;

      .label {
        display: inline-block;
        margin-right: 12px;
        color: #666666;
      }

      .el-input {
        width: auto;

        .el-input__inner {
          width: 160px;
          height: 32px;
          line-height: 32px;
        }
      }

      .el-select {
        .el-input__icon {
          line-height: 32px;
        }
      }

      .el-input__prefix {
        .el-input__icon {
          line-height: 32px;
        }
      }

      &.dept {
        .el-input__inner {
          width: 220px !important;
        }
      }

      &.status {
        .el-input__inner {
          width: 110px !important;
        }
      }
    }
  }
}
</style>
