<!-- 选择内部人员数据 -->
<template>
	<div>
		<app-form :fields="serchFields" :data="formInline" class="mb20" />
		<app-table row-key="id" selection @handleSelectionChange="handleSelectionChange" :data="tableData" :col-configs="tableFields" :empty-text="emptyText">
			<el-table-column slot="sex" label="性别">
				<template slot-scope="scope">
					{{ scope.row.gender == 'M' ? '男' : '女' }}
				</template>
			</el-table-column>

			<el-table-column slot="options" label="操作" width="60">
				<template slot-scope="scope">
					<el-button type="text" size="small" @click="handleOptions(scope.row)"> 选择 </el-button>
				</template>
			</el-table-column>
		</app-table>
	</div>
</template>

<script>
import appForm from '@/components/base/appForm';
import appTable from '@/components/base/appTable';
export default {
	components: { appForm, appTable },
	props: {
		emptyText: { type: String, default: '暂无数据' },
		label: { type: String, default: '' },
	},
	data() {
		return {
			empList: [],
			formInline: {},
			tableData: [],
			pushArr: [],
			pageObj: {
				size: 10,
				total: 1,
				currentPage: 1,
				sizeFunc: (size) => {
					this.pageObj.size = size;
					this.getPageList();
				},
				currentFunc: (currentPage) => {
					this.pageObj.currentPage = currentPage;
					this.getPageList();
				},
			},
		};
	},

	mounted() {
		this.formInline = {};
		this.tableData = [];
	},
	methods: {
		getUserInfoById() {
			const { currentPage: page, size: limit } = this.pageObj;
			let params = { ...this.formInline, page, limit };
			this.api.baseInfo.baseInfoApi.selectPerson(params).then((res) => {
				this.$nextTick(() => {
					this.tableData = res.data.list || [];
					this.pageObj.total = res.data.total || 0;
				});
			});
		},
		handleOptions(item) {
			this.$emit('selectedEmp', item);
		},
		handleSelectionChange(row) {
			if (row.length == 0) {
				this.pushArr = [];
			} else {
				this.pushArr.push(
					...row.map((item) => {
						return { id: item.id };
					})
				);
			}
		},
	},
	computed: {
		serchFields() {
			let _this = this;
			return [
				{
					label: '姓名',
					component: 'app-select-emp',
					prop: 'name',
					placeholder: `请选择姓名`,
					clearable: true,
					filterable: true,
					style: 'width:100%',
					span: 6,
				},
				{
					label: '所属公司',
					component: 'app-select-company',
					prop: 'companyCode',
					placeholder: `请选择所属公司`,
					clearable: true,
					filterable: true,
					style: 'width:100%',
					span: 6,
					change(item) {
						_this.bus.$emit('upCompany', item);
						_this.formInline.companyName = item.companyName;
					},
					rules: [{ required: true, message: '请选择所属公司', trigger: 'blur' }],
				},
				{
					label: '所需部门',
					component: 'app-select-dept',
					prop: 'departmentCode',
					placeholder: `请选择所需部门`,
					name: this.formInline.companyCode,
					clearable: true,
					filterable: true,
					style: 'width:100%',
					span: 6,
					disabled: _this.formInline.companyCode == null,
					change(item) {
						_this.formInline.departmentName = item.departmentName;
					},
					rules: [{ required: true, message: '请选择所需部门', trigger: 'blur' }],
				},
				{
					isArray: true,
					position: 'right',
					span: 6,
					list: [
						{
							component: 'app-button',
							btnLabel: '查询',
							size: 'small',
							type: 'info',
							style: 'display:flex;align-items:center;justify-content:flex-end;',
							click: () => {
								_this.pageObj.currentPage = 1;
								_this.getUserInfoById();
							},
							isShow: true,
						},
					],
				},
			].map((item) => {
				item.mb = 0;
				item.labelWidth = 'calc(6em + 12px)';
				return item;
			});
		},

		tableFields() {
			return [
				{ prop: 'emplId', label: '工号' },
				{ prop: 'emplName', label: '姓名' },
				{ prop: 'age', label: '年龄' },
				{ prop: 'companyName', label: '所属公司' },
				{ prop: 'departmentName', label: '所属部门' },
				{ prop: 'jobName', label: '当前职位' },
				{ prop: 'educationLevel', label: '学历' },
				{ prop: 'email', label: '邮箱' },
				{ slot: 'sex' },
				{ slot: 'options' },
			];
		},
	},
};
</script>
<style lang="scss" scoped></style>
