<!-- 表单组件 -->
<template>
  <el-form
    :label-position="labelPosition"
    :model="data"
    :class="className"
    v-bind="{ ...$attrs }"
    ref="ruleForm"
  >
    <el-row :gutter="20" :style="$attrs.rowStyle">
      <el-col
        v-for="field in fieldsList"
        :key="field.label||field.prop"
        :span="field.span || 8"
        :xs="field.xs"
        :sm="field.sm"
        :md="field.md"
        :lg="field.lg"
        :xl="field.xl"
        :style="{ width: field.width, ...field.otherLayout }"
      >
        <div v-if="field.span != 0">
          <el-form-item
            v-if="!field.isArray"
            v-bind="{ ...field }"
            :style="{ marginBottom: field.mb }"
          >
            <div class="value" v-if="field.component == 'value'">
              {{ data[field.prop] }}
            </div>
            <component
              v-else
              v-on="field.events"
              v-bind="{ ...field }"
              :is="field.component || 'el-input'"
              v-model="data[field.prop]"
            />
          </el-form-item>

          <!-- 按钮组件 -->
          <el-form-item v-else v-bind="{ ...field }" :style="{ marginBottom: field.mb }">
            <div class="button-list" :class="field.position">
              <div v-for="(item, index) in field.list" :key="index">
                <div
                  v-if="item.isShow"
                  class="button-item"
                  :style="{ marginLeft: item.ml }"
                >
                  <component
                    v-bind="{ ...item }"
                    :is="item.component || 'el-input'"
                    v-model="data[item.prop]"
                  />
                </div>
              </div>
            </div>
          </el-form-item>
        </div>
      </el-col>
    </el-row>
  </el-form>
</template>
<script>
import appButton from "./../appButton";
import appCalendar from "./../appCalendar";
import appCascader from "./../appCascader";
import appCheckBox from "./../appCheckBox";
import appDatePicker from "./../appDatePicker";
import appInput from "./../appInput";
import appRadio from "./../appRadio";
import appSelect from "./../appSelect";
import appText from "./../appText";
import appTimePicker from "./../appTimePicker";
import appUpload from "./../appUpload";
import appUploadFile from "./../appUploadFile";
import appSelectColor from "./../appSelectColor";
import appSelectTree from "./../appSelectTree";
import appSelectLoading from "./../appSelectLoading";

import appSelectPost from "../../business/appSelectPost";
import appSelectGrde from "../../business/appSelectGrde";
import appSelectEmp from "../../business/appSelectEmp";
import appSelectCompany from "../../business/appSelectCompany";
import appSelectDept from "../../business/appSelectDept";
import appSelectComm from "../../business/appSelectComm";
import appSelectTeacher from "../../business/appSelectTeacher";
import appSelectPosnSec from "../../business/appSelectPosnSec";
import appSelectMainPost from "../../business/appSelectMainPost";
import appSelectPosnGrade from "../../business/appSelectPosnGrade";

import appSelectCourse from "../../business/appSelectCourse";
import appSelectTrainInstitution from "../../business/appSelectTrainInstitution";
import appSelectPlanSelect from "../../business/appSelectPlanSelect";
import appSelectExam from "../../business/appSelectExam";
import appSelectPlanList from "../../business/appSelectPlanList";
import appSelectAtt from "../../business/appSelectAtt";
import appSlider from "./../app-slider";

export default {
  name: "appForm",
  components: {
    appButton,
    appCalendar,
    appCascader,
    appCheckBox,
    appDatePicker,
    appInput,
    appRadio,
    appSelect,
    appText,
    appTimePicker,
    appUpload,
    appUploadFile,
    appSelectColor,
    appSelectPost,
    appSelectGrde,
    appSelectEmp,
    appSelectCompany,
    appSelectDept,
    appSelectComm,
    appSelectTeacher,
    appSelectPosnSec,
    appSelectMainPost,
    appSelectPosnGrade,
    appSelectCourse,
    appSelectTrainInstitution,
    appSelectPlanSelect,
    appSelectExam,
    appSelectPlanList,
    appSelectAtt,
    appSlider,
    appSelectTree,
    appSelectLoading
  },
  props: {
    data: Object,
    fields: [Array, Function],
    className: String,
    disabled: Boolean,
    labelPosition: { type: String, default: "right" },
  },
  computed: {
    fieldsList() {
      if (typeof this.fields === "function") {
        return this.fields(this.data || {});
      }
      return this.fields;
    },
    validate() {
      this.$refs.ruleForm.validate((valid, errFields) => {
        this.$emit("submit", valid, errFields);
      });
    },
  },
};
</script>
<style lang="scss" scoped>
::v-deep .el-input,
::v-deep .el-input__inner,
::v-deep .el-input__icon {
  height: 30px;
  line-height: 30px;
  color: #606266;
}

::v-deep .el-form-item {
  margin-bottom: 20px;
  color: #8f8f8f;
}

::v-deep .el-textarea__inner {
  color: #8f8f8f;
}

::v-deep .el-button--small {
  // height: 28px;
  // line-height: 5px;
}

::v-deep .el-date-editor.el-input,
::v-deep .el-date-editor.el-input__inner {
  width: 100%;
}

.button-list {
  display: flex;
  flex-direction: row;
  align-items: center;

  .button-item {
    margin-left: 20px;
  }
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.value {
  text-align: left;
}
</style>
<style lang="scss">
.lineH {
  .el-form-item__label {
    line-height: 19px;
  }
}
</style>
