<template>
  <div class="label_type main_page_style">
    <div class="title">标签匹配</div>
    <!-- 查询表单 -->
    <div class="search_form">
      <div class="item">
        <span class="label">员工工号</span>
        <el-input v-model="form.empId" placeholder="请输入内容"></el-input>
      </div>
      <div class="item">
        <span class="label">员工姓名</span>
        <el-input v-model="form.empName" placeholder="请输入内容"></el-input>
      </div>
      <div class="item dept">
        <span class="label">所属组织</span>
        <select-tree
          v-model="form.deptId"
          :props="departmentProp"
          :data="departmentList"
          style="width: auto"
        ></select-tree>
      </div>

      <div class="item">
        <span class="label">标签类型</span>
        <el-select v-model="form.labelTypeId" placeholder="请选择" clearable>
          <el-option
            v-for="item in labelTypeList2"
            :key="item.labelTypeId"
            :label="item.labelTypeName"
            :value="item.labelTypeId"
            @click.native="getLabelList"
          >
          </el-option>
        </el-select>
      </div>
      <div class="item">
        <span class="label">标签名称</span>
        <el-select v-model="form.labelId" placeholder="请选择" clearable>
          <el-option
            v-for="item in labelList"
            :key="item.labelId"
            :label="item.labelName"
            :value="item.labelId"
          >
          </el-option>
        </el-select>
      </div>
      <div class="item status">
        <span class="label">状态</span>
        <el-select v-model="form.status" placeholder="请选择" clearable>
          <el-option
            v-for="item in statusList"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </div>
      <el-button type="primary" class="primary_currency" @click="search"
        >查询</el-button
      >
    </div>
    <!-- 表格 -->
    <div class="button_table_model">
      <div style="margin-bottom: 16px">
        <el-button
          type="primary"
          class="primary_currency"
          style="margin-right: 18px"
          @click="addLabel"
          >新建</el-button
        >
        <el-button
          plain
          class="plain_currency"
          style="margin-right: 18px"
          @click="importFile"
          >批量导入</el-button
        >
        <el-button plain class="plain_currency" @click="batchExport"
          >批量导出</el-button
        >
      </div>
      <el-table
        v-loading="tableLoading"
        element-loading-text="拼命加载中"
        element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(0, 0, 0, 0.6)"
        :data="tableData"
        style="width: 100%"
        @sort-change="sortChange"
      >
        <el-table-column label="序号" type="index" width="50" align="center">
          <template slot-scope="scope">
            {{ (page.currentPage4 - 1) * page.size + scope.$index + 1 }}
          </template>
        </el-table-column>
        <el-table-column
          prop="empId"
          label="员工工号"
          width="180"
          align="center"
          sortable
        >
        </el-table-column>
        <el-table-column
          prop="empName"
          label="员工姓名"
          width="180"
          align="center"
          sortable
        >
        </el-table-column>
        <el-table-column
          prop="companyName"
          label="公司"
          width="180"
          align="center"
          show-overflow-tooltip
          sortable
        >
        </el-table-column>
        <el-table-column
          prop="deptName"
          label="部门"
          width="180"
          align="center"
          show-overflow-tooltip
          sortable
        >
        </el-table-column>
        <el-table-column
          prop="postName"
          label="岗位"
          width="180"
          align="center"
          show-overflow-tooltip
          sortable
        >
        </el-table-column>
        <el-table-column
          prop="labelTypeName"
          label="标签类型"
          width="180"
          align="center"
          sortable
          show-overflow-tooltip
        >
        </el-table-column>
        <el-table-column
          prop="labelId"
          label="标签编号"
          width="120"
          align="center"
          sortable
        >
        </el-table-column>
        <el-table-column
          prop="labelName"
          label="标签名称"
          width="180"
          align="center"
          show-overflow-tooltip
          sortable
        >
        </el-table-column>
        <el-table-column
          prop="specificDesc"
          label="具体描述"
          width="200"
          align="center"
          show-overflow-tooltip
        >
        </el-table-column>
        <el-table-column
          prop="updateTime"
          label="更新时间"
          width="180"
          align="center"
          sortable
        >
        </el-table-column>
        <el-table-column
          prop="status"
          label="状态"
          width="120"
          align="center"
          sortable
        >
        </el-table-column>
        <el-table-column
          prop="batchStatus"
          label="审批状态"
          width="180"
          align="center"
          sortable
        >
        </el-table-column>
        <el-table-column label="操作" width="180" align="center" fixed="right">
          <template slot-scope="scope">
            <el-button
              type="text"
              @click="edit(scope.row)"
              :disabled="scope.row.batchStatus == '审批中'"
              >编辑</el-button
            >
            <el-button type="text" @click="see(scope.row)">查看审批</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page.currentPage4"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="10"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.count"
      >
      </el-pagination>
    </div>
    <add-label-maintain
      ref="addLabelMaintain"
      :labelTypeList="labelTypeList"
    ></add-label-maintain>
    <batch-import
      ref="importFile"
      :form="form"
      :urlTemplate="urlTemplate"
      :nameTemplate="nameTemplate"
      :fileType="fileType"
      :urlImport="urlImport"
    ></batch-import>
  </div>
</template>
<script>
import addLabelMaintain from "./diag/addLabelMaintain";
import selectTree from "../components/selectTree.vue";
import batchImport from "./diag/batchImport";
export default {
  data() {
    return {
      page: {
        currentPage4: 1,
        count: 0,
        size: 10,
      },
      urlTemplate: this.$environmentApi + "tmiemplabel/template",
      nameTemplate: "标签匹配批量导入调整模板",
      urlImport: this.$environmentApi + "tmiemplabel/import",
      fileType: "BELONG_EMP_LABEL",
      form: {
        status: "",
        labelId: "",
        labelTypeId: "",
      },
      tableData: [],
      tableLoading: false,
      labelTypeList: [],
      labelTypeList2: [],
      labelList: [],
      //组织
      departmentList: [],
      departmentProp: {
        label: "name",
        children: "children",
      },
      //状态
      statusList: [
        {
          value: "",
          label: "全部",
        },
        {
          value: "生效",
          label: "生效",
        },
        {
          value: "失效",
          label: "失效",
        },
      ],
    };
  },
  components: {
    addLabelMaintain,
    selectTree,
    batchImport,
  },
  created() {
    this.getLabelTypeList();
    this.getDepartment();
    this.getLabelList();
    this.getList();
    document.addEventListener("keydown", this.handleEvent);
  },
  beforeDestroy() {
    document.removeEventListener("keydown", this.handleEvent);
  },
  methods: {
    handleEvent(e) {
      console.log(e);
      if (13 == e.keyCode) {
        //如果是回车 的操作的话，方法执行与此
        this.search();
      }
    },
    getList() {
      let vm = this;
      vm.tableLoading = true;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmiemplabel",
        params: {
          ...vm.form,
          pageSize: vm.page.size,
          pageNum: vm.page.currentPage4 - 1,
        },
      })
        .then((res) => {
          vm.tableLoading = false;
          if (res.data.code == 0) {
            vm.tableData = res.data.data;
            vm.page.count = res.data.count;
          } else {
          }
        })
        .catch((err) => {
          vm.tableLoading = false;
        });
    },
    search() {
      this.page.currentPage4 = 1;
      this.getList();
    },
    //获取标签类型list
    getLabelTypeList() {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmilabeltypemapping/queryAll",
        params: {
          status: "生效",
        },
      }).then((res) => {
        if (res && res.data) {
          vm.labelTypeList = res.data;
          vm.labelTypeList2 = [
            {
              labelTypeId: "",
              labelTypeName: "全部",
            },
            ...res.data,
          ];
        }
      });
    },
    //获取标签list
    getLabelList() {
      let vm = this;
      vm.labelList = [];
      vm.form.labelId = "";
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmilabelstorehouse/queryAll",
        params: {
          status: "生效",
          labelTypeId: vm.form.labelTypeId || "",
        },
      }).then((res) => {
        if (res && res.data) {
          vm.labelList = res.data;
          vm.labelList.unshift({
            labelId: "",
            labelName: "全部",
          });
        } else {
        }
      });
    },

    //获取适用组织
    getDepartment() {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "department/treeAuth",
      }).then((res) => {
        if (res.data.code == 0) {
          vm.departmentList = [];
          vm.departmentList.push(...res.data.data);
        } else {
        }
      });
    },
    sortChange(column) {
      console.log(column);
      let vm = this;
      vm.page.currentPage4 = 1;
      if (column.order == null) {
        vm.form.sortKey = undefined;
        vm.form.isDescending = undefined;
      } else {
        vm.form.sortKey = column.prop;
        //排序的方式是根据上下选择来确定
        vm.form.isDescending = column.order == "ascending" ? false : true;
      }

      vm.getList();
    },
    //批量导出
    batchExport() {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmiemplabel/export",
        responseType: "blob",
        params: {
          ...vm.form,
        },
      }).then((res) => {
        console.log(res);
        if (res.data && !res.data.code) {
          const downURL = window.URL.createObjectURL(new Blob([res.data]));
          // data 为获取到的二进制数据
          const listNode = document.createElement("a");
          // 这里注意 ： 非同源a标签的download去命名没有用
          listNode.download = "标签匹配信息.xlsx";
          listNode.style.display = "none";
          listNode.href = downURL;
          document.body.appendChild(listNode);
          listNode.click();
          document.body.removeChild(listNode);
        } else {
          vm.$message({
            type: "warning",
            message: res.data.msg,
          });
        }
      });
    },
    //批量导入
    importFile() {
      let obj = {
        res: true,
      };
      this.$refs.importFile.setDiag(obj);
    },
    addLabel() {
      let obj = {
        res: true,
        type: "add",
      };
      this.$refs.addLabelMaintain.setDiag(obj);
    },
    edit(data) {
      let obj = {
        res: true,
        type: "edit",
        data: data,
      };
      this.$refs.addLabelMaintain.setDiag(obj);
    },
    see(data) {
      let vm = this;
      vm.$reviewUrl(data.batchId,'see');
    },
    handleSizeChange(val) {
      let vm = this;
      vm.page.currentPage4 = 1;
      vm.page.size = val;
      vm.getList();
    },
    handleCurrentChange(val) {
      let vm = this;
      vm.page.currentPage4 = val;
      vm.getList();
    },
  },
};
</script>
<style lang="scss" scoped>
.label_type {
  margin: 16px 20px;
}
</style>
<style lang="scss">
</style>