<template>
  <div class="label_type main_page_style">
    <app-breadcrumb :options="breadcrumbList"></app-breadcrumb>
    <!-- 查询表单 -->
    <el-card class="mb14">
      <app-form :fields="serchFields" :data="form" />
    </el-card>
    <!-- 表格 -->
    <el-card>
      <div class="button_table_model">
        <div style="margin-bottom: 16px;text-align: left;">
          <el-button
            type="primary"
            class="primary_currency"
            style="margin-right: 18px"
            @click="addLabel"
            >新建</el-button
          >
          <el-button
            plain
            class="plain_currency"
            style="margin-right: 18px"
            @click="importFile"
            >批量导入</el-button
          >
          <el-button plain class="plain_currency" @click="batchExport"
            >批量导出</el-button
          >
        </div>
        <el-table
          v-loading="tableLoading"
          element-loading-text="拼命加载中"
          element-loading-spinner="el-icon-loading"
          element-loading-background="rgba(0, 0, 0, 0.6)"
          :data="tableData"
          style="width: 100%"
          @sort-change="sortChange"
        >
          <el-table-column label="序号" type="index" width="50" align="center">
            <template slot-scope="scope">
              {{ (page.currentPage4 - 1) * page.size + scope.$index + 1 }}
            </template>
          </el-table-column>
          <el-table-column
            prop="labelId"
            label="标签编号"
            width="180"
            align="center"
            sortable
          >
          </el-table-column>
          <el-table-column
            prop="labelName"
            label="标签名称"
            width="180"
            align="center"
            show-overflow-tooltip
            sortable
          >
          </el-table-column>
          <el-table-column
            prop="labelTypeName"
            label="标签类型"
            width="150"
            align="center"
            sortable
          >
          </el-table-column>
          <el-table-column
            prop="isSpecificKw"
            label="是否关键词"
            width="150"
            align="center"
            sortable
          >
          </el-table-column>
          <el-table-column
            prop="specificDescribe"
            label="标签说明"
            width=""
            align="center"
            show-overflow-tooltip
          >
          </el-table-column>
          <el-table-column prop="status" label="状态" width="120" align="center" sortable>
          </el-table-column>
          <el-table-column
            prop="batchStatus"
            label="审批状态"
            width="180"
            align="center"
            sortable
          >
          </el-table-column>
          <el-table-column label="操作" width="180" align="center">
            <template slot-scope="scope">
              <el-button
                type="text"
                @click="edit(scope.row)"
                :disabled="scope.row.batchStatus == '审批中'"
                >编辑</el-button
              >
              <el-button type="text" @click="see(scope.row)">查看审批</el-button>
              <!-- <el-button type="text" @click="statusChange(scope.row)">{{
              statusObj[scope.row.status]
            }}</el-button> -->
            </template>
          </el-table-column>
        </el-table>
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="page.currentPage4"
          :page-sizes="[10, 20, 30, 40]"
          :page-size="10"
          layout="total, sizes, prev, pager, next, jumper"
          :total="page.count"
        >
        </el-pagination>
      </div>
    </el-card>
    <add-label-name
      ref="addLabelName"
      :labelTypeList="labelTypeList"
      :isSpecificKwOption="isSpecificKwOption2"
    ></add-label-name>
    <batch-import
      ref="importFile"
      :form="form"
      :urlTemplate="urlTemplate"
      :nameTemplate="nameTemplate"
      :fileType="fileType"
      :urlImport="urlImport"
    ></batch-import>
  </div>
</template>
<script>
import addLabelName from "./diag/addLabelName";
import batchImport from "./diag/batchImport";
import appForm from "@/components/base/appForm";
import appTable from "@/components/base/appTable";
import appBreadcrumb from "@/components/base/appBreadcrumb";
export default {
  data() {
    return {
      tableData: [],
      tableLoading: false,
      page: {
        currentPage4: 1,
        count: 0,
        size: 10,
      },
      breadcrumbList: [{ label: "后台配置" }, { label: "标签名称" }],
      urlTemplate: this.$environmentApi + "tmilabelstorehouse/template",
      nameTemplate: "标签名称批量导入调整模板",
      urlImport: this.$environmentApi + "tmilabelstorehouse/import",
      fileType: "BELONG_LABEL",
      form: {
        status: "",
        isSpecificKw: "",
        labelTypeId: "",
      },
      labelTypeList: [],
      labelTypeList2: [],
      isSpecificKwOption: [
        {
          value: "",
          label: "全部",
        },
        {
          value: "是",
          label: "是",
        },
        {
          value: "否",
          label: "否",
        },
      ],
      isSpecificKwOption2: [
        {
          value: "是",
          label: "是",
        },
        {
          value: "否",
          label: "否",
        },
      ],
      //状态
      statusList: [
        {
          value: "",
          label: "全部",
        },
        {
          value: "生效",
          label: "生效",
        },
        {
          value: "失效",
          label: "失效",
        },
      ],
      //用于状态改变使用
      statusObj: {
        失效: "生效",
        生效: "失效",
      },
    };
  },
  components: {
    addLabelName,
    batchImport,
    appForm,
    appTable,
    appBreadcrumb,
  },
  created() {
    this.getLabelTypeList();
    this.getLabelTypeList2();
    this.getList();
    document.addEventListener("keydown", this.handleEvent);
  },
  beforeDestroy() {
    document.removeEventListener("keydown", this.handleEvent);
  },
  methods: {
    handleEvent(e) {
      console.log(e);
      if (13 == e.keyCode) {
        //如果是回车 的操作的话，方法执行与此
        this.search();
      }
    },
    getList() {
      let vm = this;
      vm.tableLoading = true;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmilabelstorehouse",
        params: {
          ...vm.form,
          pageSize: vm.page.size,
          pageNum: vm.page.currentPage4 - 1,
        },
      })
        .then((res) => {
          vm.tableLoading = false;
          if (res.data.code == 0) {
            vm.tableData = res.data.data;
            vm.page.count = res.data.count;
          } else {
          }
        })
        .catch((err) => {
          vm.tableLoading = false;
        });
    },
    search() {
      this.page.currentPage4 = 1;
      this.getList();
    },
    //获取标签类型list
    getLabelTypeList() {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmilabeltypemapping/queryAll",
        params: {
          status: "生效",
        },
      }).then((res) => {
        if (res && res.data) {
          vm.labelTypeList = res.data;
        } else {
        }
      });
    },
    //获取标签类型list2
    getLabelTypeList2() {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmilabeltypemapping/queryAll",
        params: {},
      }).then((res) => {
        if (res && res.data) {
          vm.labelTypeList2 = [...res.data];
          vm.labelTypeList2.unshift({ labelTypeId: "", labelTypeName: "全部" });
        } else {
        }
      });
    },
    sortChange(column) {
      console.log(column);
      let vm = this;
      vm.page.currentPage4 = 1;
      if (column.order == null) {
        vm.form.sortKey = undefined;
        vm.form.isDescending = undefined;
      } else {
        vm.form.sortKey = column.prop;
        //排序的方式是根据上下选择来确定
        vm.form.isDescending = column.order == "ascending" ? false : true;
      }

      vm.getList();
    },
    //修改状态
    statusChange(data) {
      let vm = this;
      data.status = vm.statusObj[data.status];
      vm.$axios({
        method: "post",
        url: vm.$environmentApi + "tmilabelstorehouse/update",
        data: {
          ...data,
        },
      }).then((res) => {
        if (res.data.code == 0) {
          vm.$message({
            type: "success",
            message: "修改状态成功",
          });
          vm.getList();
        } else {
        }
      });
    },
    //批量导入
    importFile() {
      let obj = {
        res: true,
      };
      this.$refs.importFile.setDiag(obj);
    },
    //批量导出
    batchExport() {
      let vm = this;
      vm.$axios({
        method: "get",
        url: vm.$environmentApi + "tmilabelstorehouse/export",
        responseType: "blob",
        params: {
          ...vm.form,
        },
      }).then((res) => {
        console.log(res);
        if (res.data && !res.data.code) {
          const downURL = window.URL.createObjectURL(new Blob([res.data]));
          // data 为获取到的二进制数据
          const listNode = document.createElement("a");
          // 这里注意 ： 非同源a标签的download去命名没有用
          listNode.download = "标签名称信息.xlsx";
          listNode.style.display = "none";
          listNode.href = downURL;
          document.body.appendChild(listNode);
          listNode.click();
          document.body.removeChild(listNode);
        } else {
          vm.$message({
            type: "warning",
            message: res.data.msg,
          });
        }
      });
    },
    addLabel() {
      let obj = {
        res: true,
        type: "add",
      };
      this.$refs.addLabelName.setDiag(obj);
    },
    edit(data) {
      let obj = {
        res: true,
        type: "edit",
        data: data,
      };
      this.$refs.addLabelName.setDiag(obj);
    },
    see(data) {
      let vm = this;
      vm.$reviewUrl(data.batchId, "see");
    },
    handleSizeChange(val) {
      let vm = this;
      console.log(`每页 ${val} 条`);
      vm.page.currentPage4 = 1;
      vm.page.size = val;
      vm.getList();
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      let vm = this;
      vm.page.currentPage4 = val;
      vm.getList();
    },
  },
  computed: {
    serchFields() {
      return [
        {
          label: "标签名称",
          prop: "labelName",
          placeholder: "请输入标签名称",
          clearable: true,
          span: 6,
        },
        {
          label: "是否关键词",
          prop: "isSpecificKw",
          component: "app-select",
          placeholder: "请选择",
          style: "width:100%",
          options: this.isSpecificKwOption,
          clearable: true,
          span: 6,
        },

        {
          label: "标签类型",
          prop: "labelTypeId",
          component: "app-select",
          placeholder: "请选择",
          style: "width:100%",
          options: this.labelTypeList2.map((p) => {
            return {
              ...p,
              label: p.labelTypeName,
              value: p.labelTypeId,
            };
          }),
          clearable: true,
          span: 6,
        },
        {
          label: "状态",
          labelWidth: "calc(2em + 12px)",
          component: "app-select",
          prop: "status",
          placeholder: "请选择",
          clearable: true,
          filterable: true,
          mb: 0,
          style: "width:100%",
          options: this.statusList,
          change: (e) => {},
          span: 6,
        },
        {
          isArray: true,
          position: "right",
          mb: 0,
          span: 24,
          list: [
            {
              component: "app-button",
              btnLabel: "查询",
              size: "small",
              type: "info",
              style: "display:flex;align-items:center;justify-content:flex-end;",
              click: () => {
                this.search();
              },
              isShow: true,
            },
          ],
        },
      ].map((item) => {
        item.labelWidth = "calc(6em + 12px)";
        return item;
      });
    },

    tableFields() {
      return [
        { prop: "planNo", label: "计划期次" },
        { prop: "planName", label: "计划名称" },
        { prop: "company", label: "所属公司" },
        { prop: "dept", label: "部门" },
        { prop: "initTime", label: "发起时间" },
        { prop: "trainNum", label: "培养人数" },
        {
          slot: "state",
          label: "计划状态",
        },
        { slot: "options" },
      ];
    },
  },
};
</script>
<style lang="scss" scoped>
.label_type {
  margin: 16px 20px;
}
</style>
<style lang="scss">
.main_page_style {
  .title {
    padding-left: 1px;
    color: #333333;
    margin-bottom: 16px;
  }
  .search_form {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    .item {
      display: inline-block;
      margin-right: 28px;
      .label {
        display: inline-block;
        margin-right: 12px;
        color: #666666;
      }
      .el-input {
        width: auto;
        .el-input__inner {
          width: 160px;
          height: 32px;
          line-height: 32px;
        }
      }
      .el-select {
        .el-input__icon {
          line-height: 32px;
        }
      }
    }
  }
  .button_table_model {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    .el-table {
      border: 1px solid #f0f0f0;
      border-bottom: 0;
      color: #333333;
      .el-table__header {
        tr {
          th {
            background: #f9f9f9;
          }
        }
      }
      td.el-table__cell {
        border-bottom: 1px solid #f0f0f0;
      }
      th.el-table__cell > .cell {
        color: #333333;
      }
      .el-button--text {
        color: #008eed;
      }
    }
    .el-pagination {
      margin-top: 16px;
      text-align: right;
    }
  }
}
</style>
