<!--  -->
<template>
    <div class="page-layout-waper">
        <div class="layout-header">
            <p v-if="!back" class="title">{{ title }}</p>
            <el-page-header v-else @back="goBack" :content="title">
            </el-page-header>
        </div>

        <div class="layout-content">
            <slot />
        </div>
    </div>
</template>

<script>

export default {
    props: {
        title: '',
        back: { type: Boolean, default: false }
    },
    data() {
        return {
        };
    },
    methods: {
        goBack() {
            this.$router.go(-1)
        }
    }


}

</script>
<style lang='scss' scoped>
.page-layout-waper {
    // height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .layout-header {
        height: 40px;
        background-color: #fff;
        border-top: 1px solid #f1f2f3;
        border-bottom: 1px solid #f1f2f3;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px;

        .title {
            font-size: 16px;
            font-weight: 500;
            height: 100%;
            padding: 0 10px;
            border-bottom: 2px solid #304156;
            display: flex;
            align-items: center;
        }

        ::v-deep .el-page-header__content {
            font-size: 16px;
            font-weight: 500;
            padding: 0 10px;
        }
    }

    .layout-content {
        padding: 20px;
        height: calc(100vh - 100px);
        overflow-y: auto;
    }
}
</style>