<template>
    <div>
        <el-autocomplete ref="autocomplete" value-key="value" v-scrollLoad="selectLoadMore" v-loading="loading"
            v-model="state" :fetch-suggestions="querySearch" :placeholder="placeholder" :trigger-on-focus="false"
            @select="handleSelect">
            <template slot-scope="{ item }">
                <div class="name">{{ item.value.positionName }}</div>
            </template>
        </el-autocomplete>
    </div>
</template>
 
<script>
export default {
    name: 'InputLoadMore',
    props: {
        // 封装的查数据方法
        getOptionFn: {
            require: true
        },
        // 后端定义的联想的key
        searchKey: {
            type: String,
            require: true
        },
        // v-model的绑定值
        value: {
            type: Object,
            default: () => { }
        },
        placeholder: {
            type: String,
            default: '请输入'
        },
        //选中的原始数据
        selectObject: {
            type: Object,
            default: () => { }
        }
    },
    data() {
        return {
            state: {},
            loading: false,
            page: 1,
            pageTotal: 0,
            currObject: {},
            list: []
        }
    },
    watch: {
        state(val) {
            console.log('val', val);
            this.$emit('input', val)
        },
        value(val) {
            this.state = val
        },

        selectObject(obj) {
            this.currObject = obj
        }
    },
    directives: {
        scrollLoad: {
            bind(el, binding, vNode) {
                let wrapDom = el.querySelector('.el-autocomplete-suggestion__wrap')
                let listDom = el.querySelector('.el-autocomplete-suggestion__wrap .el-autocomplete-suggestion__list')
                wrapDom.addEventListener(
                    'scroll',
                    e => {
                        let condition = wrapDom.offsetHeight + wrapDom.scrollTop + 10 - listDom.offsetHeight
                        if (condition > 0 && !vNode.context.loading) {
                            binding.value()
                        }
                    },
                    false
                )
            }
        }
    },
    methods: {
        async querySearch(queryString, cb) {
            this.page = 1
            this.loading = true
            try {
                await this.api.baseInfo.baseInfoApi.getPostList({
                    page: 1,
                    limit: 10,
                    [this.searchKey]: queryString
                }).then(res => {

                    if (res.data.list) {
                        let arr = []

                        res.data.list.forEach(item => {
                            arr.push({ value: item })
                        })
                        this.list = res.data.list
                        cb(arr)
                    } else {
                        cb([])
                    }
                    this.pageTotal = res.data.total || 0
                })

            } catch (e) {
                // console.log(e)
            } finally {
                this.loading = false
            }
        },


        handleSelect(item) {
            console.log('item', item);
            this.state = item.value.positionName
            // console.log('item', item);
            // this.currObject = this.list.find(it => it.positionName === item.value)
            // console.log('this.currObject', this.currObject);
            // this.$emit('select', this.currObject)
        },
        // 加载更多
        async selectLoadMore() {
            if (Number(this.pageTotal) <= this.$refs['autocomplete'].$data.suggestions.length) {
                return
            }
            this.page = this.page + 1
            this.loading = true
            try {
                await this.api.baseInfo.baseInfoApi.getPostList({
                    page: this.page,
                    limit: 10,
                    [this.searchKey]: this.state
                }).then(res => {
                    // 根据实际情况修改下面的代码，展示数据
                    if (res.data.list) {
                        const arr = res.data.list.map(item => {
                            return { value: item }
                        })
                        this.list = res.data.list
                        // 将数据添加到下拉列表
                        this.$refs['autocomplete'].$data.suggestions = this.$refs['autocomplete'].$data.suggestions.concat(arr)
                    }
                    this.pageTotal = res.data.total || 0
                })

            } catch (e) {
                // console.log(e)
            } finally {
                this.loading = false
            }
        }
    }
}
</script>
