@font-face {
  font-family: "forum_iconfont"; /* Project id 3159843 */
  src: url('iconfont.woff2?t=1643011956329') format('woff2'),
       url('iconfont.woff?t=1643011956329') format('woff'),
       url('iconfont.ttf?t=1643011956329') format('truetype');
}

.forum_iconfont {
  font-family: "forum_iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.forum_iconfont-biaoqing:before {
  content: "\e600";
}

.forum_iconfont-xiangji:before {
  content: "\e672";
}

.forum_iconfont-icon:before {
  content: "\e651";
}

.forum_iconfont-fujian:before {
  content: "\e69e";
}

.forum_iconfont-pinglun:before {
  content: "\e8b4";
}

.forum_iconfont-aite:before {
  content: "\e60d";
}

