<template>
  <div class="manageTerrace-team">
    <el-row :gutter="20">
      <el-col :span="4"
        ><div class="model">
          <model-title title="团队信息"></model-title>
          <div class="flex">
            <div class="left-part">
              <img :src="require('@/assets/forum/person.jpg')" alt="" />
            </div>
            <div class="right-part">
              <div class="line">张三 10001</div>
              <div class="line">CHINASIE/X部门/X经理</div>
              <div class="line">团队人数：120</div>
            </div>
          </div>
        </div></el-col
      >
      <el-col :span="20"
        ><div class="model">
          <model-title title="考勤看板"></model-title>
          <segmentation-model
            :modelList="segmentationList"
            @eventClick="checkWork"
          ></segmentation-model>
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top: 20px">
      <el-col :span="4"
        ><div class="model leave" @click="teamMenberDialogVisible = true">
          <org-search></org-search></div
      ></el-col>
      <el-col :span="20">
        <el-row :gutter="20">
          <el-col :span="12"
            ><div class="model height2">
              <model-title title="请假数据总览"></model-title>
              <app-charts class="heightCharts210" v-model="leaveDataOverview" /></div
          ></el-col>
          <el-col :span="12"
            ><div class="model height2">
              <model-title title="打卡异常总览"></model-title>
              <app-charts class="heightCharts210" v-model="clockOverview" />
            </div>
          </el-col>
        </el-row>
        <div class="model height2" style="margin-top: 20px">
          <model-title title="超时打卡数据统计"></model-title>
          <app-charts class="heightCharts210" v-model="timeoutClockData" />
        </div>
        <div class="model height2" style="margin-top: 20px">
          <model-title title="人均工时统计对比"></model-title>
          <app-charts class="heightCharts210" v-model="workTimeStatistics" />
        </div>
      </el-col>
    </el-row>
    <app-dialog
      title="团队成员"
      v-model="teamMenberDialogVisible"
      width="65%"
      :isBtn="false"
    >
      <app-form
        ref="appFormRef"
        :fields="teamMenberFields"
        :data="teamMenberForm"
      ></app-form>
      <app-table
        :data="[]"
        :col-configs="teamMenberColConfigs"
        :pageObj="pageObj"
        row-key="id"
        empty-text="暂无数据"
      >
        <el-table-column slot="index" label="序号" width="100">
          <template slot-scope="scope">
            {{ scope.$index + 1 }}
          </template>
        </el-table-column>
        <el-table-column
          :show-overflow-tooltip="true"
          slot="reportType"
          label="调研报告类型"
        >
          <template slot-scope="scope">
            {{ scope.row.reportType == "UNIT" ? "单位调查" : "人事调研" }}
          </template>
        </el-table-column>
        <el-table-column :show-overflow-tooltip="true" slot="status" label="状态">
          <template slot-scope="scope">
            {{ scope.row.status == "2" ? "已反馈" : "待反馈" }}
          </template>
        </el-table-column>
      </app-table>
    </app-dialog>
    <app-dialog
      title="打卡异常"
      v-model="clockAbnormalDialogVisible"
      width="45%"
      :isBtn="false"
    >
      <app-table
        :data="[]"
        :col-configs="clockAbnormalColConfigs"
        row-key="id"
        empty-text="暂无数据"
      >
      </app-table>
    </app-dialog>
  </div>
</template>
<script>
import orgSearch from "./orgSearch";
import appCharts from "@/components/base/appCharts";
import appForm from "@/components/base/appForm";
import appTable from "@/components/base/appTable";
import appDialog from "@/components/base/appDialog";
import modelTitle from "@/pages/components/modelTitle.vue";
import segmentationModel from "@/pages/components/segmentationModel.vue";
export default {
  components: {
    orgSearch,
    appCharts,
    modelTitle,
    segmentationModel,
    appForm,
    appDialog,
    appTable,
  },
  computed: {
    teamMenberFields() {
      return [
        {
          label: "单位名称",
          prop: "planNo",
          placeholder: "请输入单位名称",
          clearable: true,
          span: 6,
        },
        {
          label: "员工姓名",
          prop: "planName",
          placeholder: "请输入员工姓名",
          clearable: true,
          span: 6,
        },

        {
          label: "档案类别",
          labelWidth: "calc(2em + 12px)",
          component: "app-select",
          prop: "state",
          placeholder: "请选择",
          clearable: true,
          filterable: true,
          mb: 0,
          style: "width:100%",
          options: [
            { label: "全部", value: "" },
            { label: "进行中", value: 1 },
            { label: "已结束", value: 0 },
          ],
          change: (e) => {},
          span: 6,
        },
        {
          isArray: true,
          position: "right",
          mb: 0,
          span: 6,
          list: [
            {
              component: "app-button",
              btnLabel: "搜索",
              size: "small",
              type: "info",
              style: "display:flex;align-items:center;justify-content:flex-end;",
              click: () => {
                this.search();
              },
              isShow: true,
            },
          ],
        },
      ].map((item) => {
        item.labelWidth = "calc(4em + 12px)";
        return item;
      });
    },
    teamMenberColConfigs() {
      return [
        { prop: "emplId", label: "公司" },
        { prop: "emplName", label: "部门" },
        { prop: "age", label: "姓名" },
        { prop: "companyName", label: "员工编号" },
      ];
    },
    clockAbnormalColConfigs() {
      return [
        { prop: "emplId", label: "姓名" },
        { prop: "emplName", label: "班次日期" },
        { prop: "age", label: "上班卡" },
        { prop: "companyName", label: "下班卡" },
         { prop: "companyName", label: "异常说明" },
      ];
    },
    //请假数据总览
    leaveDataOverview() {
      return {
        xAxis: {
          type: "category",
          data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
        },
        yAxis: {
          type: "value",
        },
        grid: { top: "3%" },
        series: [
          {
            data: [150, 230, 224, 218, 135, 147, 260],
            type: "line",
          },
        ],
      };
    },
    //打卡异常总览
    clockOverview() {
      return {
        title: {},
        tooltip: {},
        xAxis: {
          data: ["1/1", "1/2", "1/3", "1/4", "1/5"],
        },
        legend: {
          bottom: 10,
          left: "center",
          data: ["缺卡", "上班晚打卡", "上班早打卡", "未打卡"],
        },
        grid: { top: "5%", bottom: "30%" },
        yAxis: {},
        series: [
          {
            name: "缺卡",
            type: "bar", //柱状图
            stack: "Search Engine",
            barWidth: "30%",
            emphasis: {
              //折线图的高亮状态。
              focus: "series", //聚焦当前高亮的数据所在的系列的所有图形。
            },
            data: [320, 332, 301, 334, 390, 330, 320],
          },
          {
            name: "上班晚打卡",
            type: "bar",
            barWidth: "30%",
            stack: "Search Engine",
            emphasis: {
              focus: "series",
            },
            data: [120, 132, 101, 134, 90, 230, 210],
          },
          {
            name: "上班早打卡",
            type: "bar",
            barWidth: "30%",
            stack: "Search Engine", //数据堆叠，同个类目轴上系列配置相同的stack值后，后一个系列的值会在前一个系列的值上相加。
            emphasis: {
              focus: "series",
            },
            data: [220, 182, 191, 234, 290, 330, 310],
          },
          {
            name: "未打卡",
            type: "bar",
            barWidth: "30%",
            stack: "Search Engine",
            emphasis: {
              focus: "series",
            },
            data: [150, 232, 201, 154, 190, 330, 410],
          },
        ],
      };
    },
    //超时打卡数据统计
    timeoutClockData() {
      return {
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            crossStyle: {
              color: "#999",
            },
          },
        },
        grid: { top: "5%", bottom: "14%", left: "6%", right: "3%" },
        xAxis: [
          {
            type: "category",
            data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
            axisPointer: {
              type: "shadow",
            },
          },
        ],
        yAxis: [
          {
            type: "value",
            name: "Precipitation",
            min: 0,
            max: 250,
            axisPointer: {
              type: "shadow",
            },
            interval: 50,
            axisLabel: {
              formatter: "{value} ml",
            },
          },
          {
            type: "value",
            name: "Temperature",
            show: false,
            min: 0,
            max: 25,
            interval: 5,
            axisLabel: {
              formatter: "{value} °C",
            },
          },
        ],
        series: [
          {
            name: "Evaporation",
            type: "bar",
            barWidth: "30%",
            tooltip: {
              valueFormatter: function (value) {
                return value + " ml";
              },
            },
            data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
          },
          {
            name: "Precipitation",
            type: "bar",
            barWidth: "30%",
            tooltip: {
              valueFormatter: function (value) {
                return value + " ml";
              },
            },
            data: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
          },
          {
            name: "Temperature",
            type: "line",
            yAxisIndex: 1,
            tooltip: {
              valueFormatter: function (value) {
                return value + " °C";
              },
            },
            data: [2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2],
          },
        ],
      };
    },
    //人均工时统计对比
    workTimeStatistics() {
      return {
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            crossStyle: {
              color: "#999",
            },
          },
        },
        grid: { top: "5%", bottom: "14%", left: "6%", right: "3%" },
        xAxis: {
          type: "category",
          axisTick: {
            alignWithLabel: true,
          },
          data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
        },
        yAxis: {
          type: "value",
        },
        series: [
          {
            data: [120, 200, 150, 80, 70, 110, 130],
            type: "bar",
            barWidth: "30%",
          },
        ],
      };
    },
  },
  data() {
    return {
      segmentationList: [
        { index1: "应出勤人数", index2: "120", id: "1" },
        { index1: "实出勤人数", index2: "100", id: "2" },
        { index1: "出勤率", index2: "80%", id: "3" },
        { index1: "超时打卡时数（人均）", index2: "20", id: "4" },
        { index1: "打卡异常（人）", index2: "20", id: "5" },
      ],
      teamMenberDialogVisible: false,
      clockAbnormalDialogVisible:false,
      teamMenberForm: {},
      pageObj: {
        size: 1000,
        total: 0,
        currentPage: 1,
        sizeFunc: (size) => {
          this.pageObj.size = size;
          // this.getPageList();
        },
        currentFunc: (currentPage) => {
          this.pageObj.currentPage = currentPage;
          //this.getPageList();
        },
      },
    };
  },
  methods: {
    checkWork(data) {
      console.log(data);
      if (data.id == "5") {
        this.clockAbnormalDialogVisible = true;
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.manageTerrace-team {
  padding-top: 20px;
  .model {
    background: #fff;
    height: 178px;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    .flex {
      display: flex;
      margin: 14px 0;
      .left-part {
        width: 100px;
        text-align: center;
        margin-right: 10px;
        img {
          width: 86px;
          height: 90px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .right-part {
        flex: 1;
        text-align: left;
        margin-top: 10px;
        .line {
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .leave {
    height: 840px;
  }
  .heightCharts210 {
    width: 100%;
    min-height: 210px;
  }
  .height2 {
    height: 266px;
  }
}
</style>
