<template>
<div>
	<el-date-picker 
		v-on="$attrs.change ? { change: $attrs.change } : ''" 
		v-model="currentValue" 
		v-bind="{ ...$attrs, valueFormat: $attrs.valueFormat || 'yyyy-MM-dd' }"
	></el-date-picker>
</div>

</template>
<script>
export default {
	name: 'appDatePicker',
	props: {
		value: [String, Array],
	},
	computed: {
		currentValue: {
			get() {
				return this.value;
			},
			set(value) {
				this.$emit('input', value);
			},
		},
	},
};
</script>
<style lang="scss" scoped>
// ::v-deep .el-input__inner {
// 	padding-left: 30px !important;
// }
::v-deep .el-range-separator {
	display: flex;
	align-items: center;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
	width: 100%;
}
</style>
