<!-- @format -->

<template>
	<div class="pagination">
		<el-pagination @size-change="changePageSize" @current-change="changePage" :current-page="currentPage"
			:page-sizes="[10, 20, 40]" :page-size="pageSize" layout="total,prev, pager,next,sizes,jumper"
			:total="total"> </el-pagination>
	</div>
</template>
<script>
export default {
	name: 'appPagination',
	props: {
		total: {
			type: Number,
			required: true,
		},
		pageSize: {
			type: Number,
			default: 10,
		},
		currentPage: {
			type: Number,
			default: 1,
		},
	},
	data() {
		return {};
	},
	methods: {
		changePage(value) {
			this.$emit('change', value);
		},
		changePageSize(value) {
			this.$emit('changePageSize', value);
		},
	},
};
</script>
<style lang="scss" scoped>
//@import './style.scss';
//@import '@/style/element-variables.scss';

.pagination {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

// ::v-deep .el-pagination {
// 	white-space: nowrap;
// 	padding: 2px 5px;
// 	color: #303133;
// 	font-weight: bold;
// 	height: 30px;
// 	width: 100%;
// 	display: flex;
// 	flex-direction: row;
// 	justify-content: flex-end;
// }

// ::v-deep .el-pagination.is-background .el-pager li:not(.disabled).active {
// 	background-color: #41475a;
// 	color: #fff;
// }

// ::v-deep th {
// 	font-size: 12px;
// 	line-height: 30px;
// 	font-family: PingFang SC;
// 	font-weight: 300;
// }

// ::v-deep .el-pager li.active {
// 	background-color: $--color-primary;
// 	color: white;
// 	border-radius: 2px;
// }
</style>
