<template id="example">
  <div class="upload-all" :style="$attrs.uploadStyle">
    <el-upload
      class="upload-box"
      v-bind="$attrs"
      v-on="$listeners"
      :action="elAction"
      :ext="elExt"
      :data="elData"
      :file-list="elFileList"
      :limit="elLimit"
      :on-exceed="onElExceed"
      :before-upload="beforeElUpload"
      :on-remove="onElRemove"
      :before-remove="beforeElRemove"
      :on-success="onElSuccess"
      :on-error="onElError"
      :on-change="onElChange"
      :list-type="elListType"
      :on-preview="pictureCardPreview"
      :class="{ elExceed: checkLimit }"
      :headers="header"
    >
      <i class="el-icon-plus" v-if="isImage"></i>
      <template v-if="$attrs.drag">
        <i class="el-icon-upload"></i>
        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
        <!-- <div class="el-upload__tip" slot="tip">只能上传tar格式，且不超过10MB</div> -->
      </template>
      <div class="button-upload" v-else>
        <el-button
          v-bind="$attrs"
          class="button-up"
          size="small"
          type="primary"
          icon="el-icon-upload"
          >点击上传{{ $attrs.drag }}
        </el-button>
        <div slot="tip" class="el-upload__tip">
          <span v-if="whiteList">只能上传{{ ext }}文件，且不超过</span>
          <span v-if="!whiteList">文件格式不限，大小不超过</span>
          {{ maxSize }} {{ company }}
        </div>
      </div>
    </el-upload>

    <el-image-viewer
      v-if="dialogVisible"
      :on-close="closeViewer"
      :url-list="dialogImageUrl"
    />
  </div>
</template>

<script>
import { getLocalStorage } from "@/utils/cache";
import ElImageViewer from "element-ui/packages/image/src/image-viewer";
import fileSuffixTypeUtil from "./isFile";
import ajax from "./down";
export default {
  name: "appUploadFile",
  props: {
    data: Object,
    limit: { type: Number, default: 0 },
    ext: { type: String, default: ".jpg,.png,.gif" },
    maxSize: { type: Number, default: 1204 },
    action: { type: String, default: "/api/oss/upload" },
    listType: { type: String, default: "picture-card" }, //text/picture/picture-card
    sortable: { type: Boolean, default: false },
    onPreview: { type: Function, default: function () {} },
    onRemove: { type: Function, default: function () {} },
    onSuccess: { type: Function, default: function () {} },
    onError: { type: Function, default: function () {} },
    onProgress: { type: Function, default: function () {} },
    onChange: { type: Function, default: function () {} },
    beforeUpload: { type: Function, default: () => true },
    beforeRemove: { type: Function, default: () => true },
    value: { type: Array, default: () => [] },
    company: { type: String, default: "kb" },
    whiteList: { type: Boolean, default: true },
    /** 重置组件显示字段 */
    nameField: {
      type: Object,
      default: () => {
        return { name: "name", url: "url" };
      },
    },
  },
  components: { ElImageViewer },
  data: function () {
    return {
      dialogImageUrl: "",
      dialogVisible: false,
      elAction: this.action,
      elSortable: this.sortable,
      elCount: 0,
      elData: this.data,
      // elFileList: [],
      elLimit: this.limit,
      elExt: this.ext,
      elMaxSize: this.maxSize,
      elListType: this.listType,
      header: {
        token: getLocalStorage("X-Token"),
      },
    };
  },
  created: function () {
    this.elCount = this.elFileList.length;
  },

  mounted: function () {
    var that = this;
    if (this.elSortable) {
      var list = this.$el.querySelector(".el-upload-list");
      new Sortable(list, {
        onEnd: function (ev) {
          var arr = that.elFileList;
          arr[ev.oldIndex] = arr.splice(ev.newIndex, 1, arr[ev.oldIndex])[0];
        },
      });
    }
  },
  computed: {
    elFileList: {
      get() {
        return this.value.map((item) => {
          // 根据当前项目参数修改
          item.name = item[this.nameField.name];
          item.url = item[this.nameField.url];
          item.fileName = item[this.nameField.name];
          item.filePath = item[this.nameField.url];
          return item;
        });
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
    checkLimit: function () {
      return this.elLimit > 0 && this.elCount >= this.elLimit;
    },
    isImage: function () {
      return this.elListType == "picture-card";
    },
  },

  methods: {
    beforeElUpload: function (file) {
      console.log("beforeUpload");
      var ext = this.elExt;
      console.log(file, "文件类型");
      var maxSize = this.elMaxSize;
      var isOkExt =
        ext.indexOf(file.name.substring(file.name.lastIndexOf("."))) >= 0;
      if (this.whiteList && !isOkExt) {
        this.$message.error("只能上传" + ext + "格式的文件");
        return false;
      }
      var isLtmaxWidth = file.size / 1024 / 1024 < maxSize;
      if (!isLtmaxWidth) {
        this.$message.error("上传文件大小不能超过" + maxSize + "M!");
        return false;
      }
      return this.beforeUpload(file);
    },
    onElSuccess: function (response, file, fileList) {
      this.$emit("response", response);
      this.elCount = fileList.length;
      const { fileId, filename, src, uid } = response.data;
      console.log(fileId, filename, src, uid);
      const env = process.env.VUE_APP_FILES || "";

      this.$emit("input", [
        ...this.elFileList,
        { fileId, filename, src: `${env}${src}`, uid },
      ]);
      this.onSuccess(response, file, fileList);
    },

    onElError: function (err, file, fileList) {
      this.onError(err, file, fileList);
    },

    onElChange: function (file, fileList) {
      this.onChange(file, fileList);
    },

    onElProgress: function (event, file, fileList) {
      this.onProgress(event, file, fileList);
    },

    onElRemove: function (file, fileList) {
      this.elCount = fileList.length;
      this.elFileList = fileList;
      this.onRemove(file, fileList);
    },

    beforeElRemove: function (file, fileList) {
      return this.beforeRemove(file, fileList);
    },

    onElExceed: function (files, fileList) {
      this.$message.error("只能上传" + this.elLimit + "个文件!");
    },

    pictureCardPreview: function (file) {
      let fileType = fileSuffixTypeUtil.matchFileSuffixType(file.filename);
      switch (fileType) {
        case "image":
          this.dialogImageUrl = [file.url];
          this.dialogVisible = true;
          break;

        case "file":
          //文件去下载
          ajax.downloadFile(file.url, null, { fileName: file.fileName });
          break;

        default:
          this.$message("位置文件不能进行操作");
          break;
      }
    },

    closeViewer() {
      this.dialogVisible = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.upload-all {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  .button-upload {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .upload-box {
    text-align: left;
  }
  ::v-deep .el-upload-list__item-name {
    display: flex;
  }

  .button-up {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>
