<template>
  <div class="workHR">
    <el-row :gutter="20">
      <el-col :span="9">
        <div class="model height188">
          <model-title title="考勤监控"></model-title>
          <segmentation-model :modelList="attendanceList"></segmentation-model>
        </div>
      </el-col>
      <el-col :span="7">
        <div class="model height188">
          <model-title title="审办中心"></model-title>
          <segmentation-model
            :modelList="auditCenterList"
            line1="fontsize20"
            line2="fontsize34"
            modelClass="height80"
          ></segmentation-model></div
      ></el-col>
      <el-col :span="8">
        <div class="model height188">
          <model-title title="便捷入口"></model-title>
          <ul class="inlet">
            <li v-for="(item, i) in inletList" :key="i">
              <div class="name">{{ item.name }}</div>
            </li>
          </ul>
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top: 20px">
      <el-col :span="7">
        <div class="model common-use">
          <model-title title="常用功能"></model-title>
          <ul>
            <li v-for="(item, i) in commonList" :key="i">
              <i class="el-icon-video-camera"></i>
              <p>{{ item.name }}</p>
            </li>
          </ul>
        </div>
      </el-col>
      <el-col :span="17">
        <el-row :gutter="20">
          <el-col :span="8">
            <div class="model height292">
              <model-title title="合同到期提醒">
                <div class="more">
                  更多 <i class="el-icon-d-arrow-right icon-more"></i></div
              ></model-title>
              <div class="table" style="padding: 0 10px">
                <app-table
                  row-key="id"
                  @handleSelectionChange="handleSelectionChange"
                  :data="tableData"
                  :col-configs="tableFields"
                  :empty-text="'暂无数据'"
                >
                </app-table>
              </div>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="model height292">
              <model-title title="退休提醒"
                ><div class="more">
                  更多 <i class="el-icon-d-arrow-right icon-more"></i></div
              ></model-title>
              <div class="table" style="padding: 0 10px">
                <app-table
                  row-key="id"
                  @handleSelectionChange="handleSelectionChange"
                  :data="tableData"
                  :col-configs="tableFields"
                  :empty-text="'暂无数据'"
                >
                </app-table>
              </div>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="model height292" >
              <model-title title="员工授权到期提醒"
                ><div class="more">
                  更多 <i class="el-icon-d-arrow-right icon-more"></i></div
              ></model-title>
              <div class="table" style="padding: 0 10px">
                <app-table
                  row-key="id"
                  @handleSelectionChange="handleSelectionChange"
                  :data="tableData"
                  :col-configs="tableFields"
                  :empty-text="'暂无数据'"
                >
                </app-table>
              </div>
            </div>
          </el-col>
        </el-row>
        <el-row :gutter="20" style="margin-top: 20px">
          <el-col :span="24">
            <div class="model height320">
              <model-title title="数据分析中心"> </model-title>
              <el-row :gutter="20">
                <el-col :span="11">
                  <app-charts class="height260" style="width: 100%;" v-model="charts1" />
                </el-col>
                <el-col :span="2"> </el-col>
                <el-col :span="11">
                  <app-charts class="height260" style="width: 100%;" v-model="charts1"
                /></el-col>
              </el-row>
            </div>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import appCharts from "@/components/base/appCharts";
import modelTitle from "@/pages/components/modelTitle.vue";
import appTable from "@/components/base/appTable";
import segmentationModel from "@/pages/components/segmentationModel.vue";
export default {
  components: {
    appCharts,
    modelTitle,
    appTable,
    segmentationModel,
  },
  data() {
    return {
      attendanceList: [
        { index1: "上班晚打卡", index2: "20" },
        { index1: "下班早打卡", index2: "10" },
        { index1: "缺卡", index2: "3" },
        { index1: "未打卡", index2: "10" },
      ], //考勤监控内容
      auditCenterList: [
        { index1: "待我审批", index2: "20" },
        { index1: "我审批的", index2: "10" },
      ], //审办中心内容
      inletList: [
        { name: "培训管理", path: "" },
        { name: "报表中心", path: "" },
        { name: "ECM", path: "" },
        { name: "财务管理", path: "" },
        { name: "管理支持", path: "" },
      ],
      commonList: [
        {
          name: "简历查询/修改",
          path: "",
        },
        {
          name: "员工画像",
          path: "",
        },
        {
          name: "请假申请",
          path: "",
        },
        {
          name: "个人考勤看板",
          path: "",
        },
        {
          name: "工资查询",
          path: "",
        },
      ],
    };
  },
  computed: {
    //
    charts1() {
      return {
        title: {
          text: "总人数", // 主标题
          x: "36%",
          y: "center",
          textStyle: {
            // 主标题样式
            fontSize: this.$nowSize(20),
            // color: "#06A17E",
            fontweight: "normal",
          },
          subtext: " 262", // 副标题
          subtextStyle: {
            // 副标题样式
            // color: 'red',
            fontSize: this.$nowSize(20),
            fontWeight: "normal",
          },
        },
        tooltip: {
          trigger: "item",
        },
        legend: {
          top: "center",
          right: "right",
        },
        series: [
          {
            type: "pie",
            radius: ["46%", "60%"],
            center: ["40%", "50%"],
            avoidLabelOverlap: false,
            label: {
              show: true,
              position: "outside",
              formatter: "{d}%",
            },

            labelLine: {
              // show: false,
            },
            data: [
              { value: 1048, name: "Search Engine" },
              { value: 735, name: "Direct" },
              { value: 580, name: "Email" },
              { value: 484, name: "Union Ads" },
              { value: 300, name: "Video Ads" },
            ],
          },
        ],
      };
    },
    tableFields() {
      return [
        { prop: "emplId", label: "姓名" },
        { prop: "emplName", label: "部门" },
        { prop: "age", label: "岗位" },
        { prop: "age", label: "到期时间" },
      ];
    },
  },
};
</script>

<style lang="scss" scoped>
.workHR {
  .model {
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    .inlet {
      text-align: left;
      padding: 0 36px;
      li {
        width: 49%;
        display: inline-block;
        text-align: center;
        margin-bottom: 10px;
        .name {
          width: 70%;
          height: 32px;
          display: inline-block;
          cursor: pointer;
          line-height: 32px;
          color: #fff;
          border-radius: 8px;
          background: #126af2;
        }
      }
    }
    .more {
      font-size: 16px;
      color: #409eff;
      cursor: pointer;
    }
  }
  .height188 {
    height: 188px;
  }
  .height292 {
    height: 292px;
  }
  .height320 {
    height: 320px;
  }
  .height260 {
     height: 260px;
  }
  .common-use {
    height: 688px;
    ul {
      text-align: left;
      li {
        display: inline-block;
        width: 24%;
        text-align: center;
        margin-bottom: 18px;
        cursor: pointer;
        i {
          font-size: 36px;
        }
        p {
          font-size: 16px;
          margin-top: 6px;
        }
      }
    }
  }
}
</style>
